[2019-06-25 01:59] #1474 closed

[2019-06-25 02:00] lluck42 commented on #1474
没有复现

[2019-06-25 02:18] #1473 closed

[2019-06-27 04:10] hjfeng1988 opened #1523 "no matches for kind "TidbCluster" in version "pingcap.com/v1alpha1""
file:[使用 DinD 在 Kubernetes 上部署 TiDB 集群](https://www.pingcap.com/docs-cn/v3.0/how-to/get-started/local-cluster/install-from-kubernetes-dind/)
1.建议
添加正确姿势的helm init，如`helm init --upgrade -i registry.cn-hangzhou.aliyuncs.com/google_containers/tiller:v2.14.1 --service-account=tiller --stable-repo-url https://kubernetes.oss-cn-hangzhou.aliyuncs.com/charts`
tiller:v2.14.1版本可以从kubectl describe报错中查找
在节选"添

[2019-07-01 08:56] Dieken opened #1550 "Roadmap 加个 temporal table?"
File: [v3.0/roadmap.md](https://pingcap.com/docs-cn/v3.0/roadmap/)

https://mariadb.com/kb/en/library/temporal-data-tables/

Oracle、DB 2、SQL Server、MariaDB 都支持，MySQL 和 PostgreSQL 很可惜没有内置支持。

有这个功能后，对审计、快速恢复、调试（复盘数据修改之前的状态）、时序分析（一条订单历史上状态在什么时间点变化的）都非常有帮助，企业级的火箭科技！

[2019-07-06 00:21] michaeljinxq opened #1587 "tidb-server命令行没有skip-grant-table，但是文档里有"
File: [v3.0/reference/security/user-account-management.md](https://pingcap.com/docs-cn/v3.0/reference/security/user-account-management/)

文档位置
https://pingcap.com/docs-cn/v3.0/reference/security/user-account-management/#%E5%BF%98%E8%AE%B0-root-%E5%AF%86%E7%A0%81

./tidb-server  --help 没有找到skip-grant-table选项

[2019-07-09 07:34] #1463 closed

[2019-07-09 09:35] disksing opened #1594 "report deadlinks"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

Hi, I have detected some deadlinks using a script. There may be some false positives,

[2019-07-09 11:02] dcalvin commented on #1594
Great work. @CaitinChen  @lilin90 FYI.

[2019-07-10 07:03] vovolie commented on #668
单位是啥？

[2019-07-11 03:21] lilin90 commented on #1594
@disksing Thanks for your feedback! @CaitinChen is working on fixing broken links now.

[2019-07-11 08:41] disksing opened #1613 "some more deadlinks"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

[code]

2. How would you like to improve it?

Script:
[code]

[2019-07-11 08:42] disksing commented on #1613
@CaitinChen @lilin90

[2019-07-11 10:07] CaitinChen commented on #1613
@disksing Thanks. I've already fixed a batch of broken links and filed some PRs. These PRs will be merged soon.

[2019-07-11 10:56] disksing commented on #1613
here is more:
[code]

[2019-07-11 14:25] tptpp opened #1615 "建议修改“参考手册/事务/事务模型”中关于事务模型的描述"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

章节：参考手册-事务-事务模型
关于事务模型的描述

2. How would you like to improve it?

原语句：
“TiDB 使用乐观事务模型，在

[2019-07-11 14:33] tptpp opened #1616 "tidb_disable_txn_auto_retry相关描述不一致"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

[参考手册-事务-隔离级别-事务重试](https://pingcap.com/docs-cn/v3.0/reference/transactions/transactio

[2019-07-11 14:41] tptpp opened #1617 "存在多处关于“事务重试”的描述，且描述不一致"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

    描述一：[参考手册-事务-隔离级别-事务重试](https://pingcap.com/docs-cn/v3.0/reference/transactions/tr

[2019-07-11 14:45] tptpp opened #1618 "建议将“隔离级别”章节中与隔离级别无关的描述抽出来，归档到别的章节中"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

    [参考手册-事务-隔离级别](https://pingcap.com/docs-cn/v3.0/reference/transactions/transaction

[2019-07-12 03:21] CaitinChen commented on #1613
PRs that fix broken links in `/dev/how-to/deploy/tidb-operator.md` and `/v3.0/how-to/deploy/tidb-operator.md` are merged.

[2019-07-12 04:55] yikeke commented on #1615
Your [pull request](https://github.com/pingcap/docs-cn/pull/1619) has been approved! Thanks for your contribution~

[2019-07-12 04:56] #1615 closed

[2019-07-12 05:50] yikeke commented on #1616
Your pull request has been approved. Thanks for contribution~

[2019-07-12 05:52] #1616 closed

[2019-07-12 06:09] yikeke commented on #1594
Thanks a lot! I'll get back to you when I figure out whether this can be added to CI. @disksing

[2019-07-12 10:07] CaitinChen commented on #1613
Shuke, @jackysp and I cannot find the missing images for Sysbench report v1.0.0 now. Since users hardly use TiDB v1.0, we don't maintain v1.0 docs any more. Thanks for your feedback anyway.

[2019-07-15 08:54] DanielZhangQD commented on #1452
@Likes123 Hi, sorry for the late response!
Have you resolved this issue?
Did you follow the guide in the following link?
https://pingcap.com/docs-cn/v3.0/how-to/get-started/deploy-tidb-from-docker-compose/
You just run steps 1-2 in "快速部署" section and tikv cannot run stably？
If yes, could you please run "kubectl logs" (-p if necessary) to get tikv logs?

Thanks for reporting this issue!

[2019-07-21 01:33] tennix commented on #1523
@hjfeng1988 Tiller is already in DinD cluster at the bootstrapping stage, so it is the same as the TidbCluster CRD. The reason that tiller and CRD is not installed is that the image pulling timeout.
I suggest you try setting `REPO_PREFIX` environment as documented [here](https://pingcap.com/docs-cn/v3.0/how-to/get-started/deploy-tidb-from-kubernetes-dind/#%E7%AC%AC-1-%E6%AD%A5-%E9%80%9A%E8%BF%87-d

[2019-07-24 02:59] vito16 opened #1655 "监控组件滚动升级grafana用户名密码问题"
File: [v3.0/how-to/upgrade/from-previous-version.md](https://pingcap.com/docs-cn/v3.0/how-to/upgrade/from-previous-version/)
旧版本：2.1
待升级版本：3.0.1
集群组件已经成功升级完成
[code]
在升级监控组件的时候报错：
[code]
之前grafana改过密码的，但是未找到配置修改的地方，文档中也未说明。

[2019-07-24 03:14] vito16 commented on #1655
搜了一下，找到了两处grafana的密码配置，修改后重新升级监控成功
[code]

[2019-07-24 03:14] #1655 closed

[2019-07-24 10:49] vito16 commented on #1480
修改硬件限制内存，磁盘空间
`nano roles/check_system_optional/defaults/main.yml`
修改磁盘IOPS限制参数
`nano roles/machine_benchmark/defaults/main.yml`

[2019-07-24 10:51] vito16 commented on #1323
csv我之前使用的临时Mysql的LOAD DATA导入数据,然后做了一些转换,再用mydump和loader导入的tidb,挺好的.

[2019-07-25 05:46] tennix opened #1665 "增加文档说明 k8s 之上如何查看 TiDB 集群当前各组件的配置文件"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

使用 tidb-operator 部署的 TiDB 集群，配置文件如何查看

2. Please describe your suggesti

[2019-07-25 08:07] tennix opened #1667 "增加文档说明 k8s 上用 tidb-operator 部署的集群如何重启"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

    集群正常运行一般不需要重启，但在集群出现异常情况下可能需要重启某个组件，所以需要增加文档告诉用户如何重启 Pod 或整个集群。

2.

[2019-07-25 10:40] John402-cloud opened #1669 "tidb 忘记root密码，无法重置"
File: [v3.0/reference/security/user-account-management.md](https://pingcap.com/docs-cn/v3.0/reference/security/user-account-management/)

你好，根据上面的重置密码指导，无法实现无密码登录。下面是我的操作过程
版本背景：tidb-server: v2.1.5-1，使用tidb-ansible-v2.1.5部署
操作前未关闭TiDB
1.更改tidb-server配置文件， /data01/deploy/conf/tidb.toml，
在[security]下面添加了skip-grant-table = true
2. 使用root账号执行下面语句
 sudo ./tidb-server -config=/data01/deploy/conf/tidb.to

[2019-07-25 10:46] shenli commented on #1669
如果有这个错误“terror.go:327:[fatal] listen tcp 0.0.0.0:4000:bind：address already in use” 说明并没有启动成功，所以并不能跳过密码检查

[2019-07-26 00:04] John402-cloud commented on #1669
terror.go:327:[fatal] listen tcp 0.0.0.0:4000:bind：address already in use
这个是服务正常占用的。
重置root密码是要把所有服务都停止后才能重置吗？
文档中的重置密码流程有其他前提条件没？

[2019-07-26 00:44] John402-cloud commented on #1669
关闭tidb服务后再根据重置密码的流程操作也不行，报的错是不能连接到PD，也就是说密码重置的操作是在tidb服务正常启动的时候操作。

请问关于这个报错“terror.go:327:[fatal] listen tcp 0.0.0.0:4000:bind：address already in use”该如何解决呢？

[2019-07-26 01:45] John402-cloud commented on #1669
谢谢，问题已解决。过程如下
1.通过部署目录生成的scripts下的脚本停止tidb-server服务。
2.更改配置文件，加上跳过授权表
3.root运行bin/tidb-server 脚本，运行时指定配置文件位置及存储引擎类型和PD地址
./bin/tidb-server -config=xx -store=tikv -path="PD-IP:2379"
4.使用root登录tidb进行密码重置
5.终止3的脚本运行
6.启动后台运行 tidb-server服务。scripts/start_tidb.sh

很明显，这个是要断业务的。

[2019-07-28 07:11] stillicel opened #1671 "组函数 --> 聚合函数"
File: [v3.0/reference/sql/functions-and-operators/aggregate-group-by-functions.md](https://pingcap.com/docs-cn/v3.0/reference/sql/functions-and-operators/aggregate-group-by-functions/)

"如果在不包含 GROUP BY 子句的语句中使用**组函数**，则相当于对所有行进行分组。"

"组函数" 应该改为 "聚合函数".

[2019-07-30 07:34] maxiaoxian opened #1680 "使用docker-compose建立集群后，无法连接tidb"
File: [v3.0/how-to/get-started/deploy-tidb-from-docker-compose.md](https://pingcap.com/docs-cn/v3.0/how-to/get-started/deploy-tidb-from-docker-compose/)

[root@gz-tencent ~]# mysql -h 127.0.0.1 -P 4000 -u root
ERROR 1045 (28000): Access denied for user 'root'@'172.18.0.1' (using password: YES)

[2019-07-30 08:46] maxiaoxian commented on #1680
https://pingcap.com/docs-cn/v3.0/reference/security/user-account-management/#%E5%BF%98%E8%AE%B0-root-%E5%AF%86%E7%A0%81

[2019-07-30 08:46] #1680 closed

[2019-07-31 07:50] jerryhu1234 opened #1694 "idb-scheduler-58797557d9-ksw8v ImagePullBackOff"
File: [v3.0/how-to/get-started/deploy-tidb-from-kubernetes-minikube.md](https://pingcap.com/docs-cn/v3.0/how-to/get-started/deploy-tidb-from-kubernetes-minikube/)

Failed to pull image "mirantis/hypokube:final": rpc error: code = Unknown desc = Error response from daemon: pull access denied for mirantis/hypokube, repository does not exist or may require 'docker login'

[2019-08-01 03:39] 0x87e5 opened #1696 "TIDB Operator 超链接失效"
File: [v3.0/how-to/deploy/tidb-in-kubernetes/general-kubernetes.md](https://pingcap.com/docs-cn/v3.0/how-to/deploy/tidb-in-kubernetes/general-kubernetes/)

[2019-08-01 04:22] shenli commented on #1696
@0x87e5 Can you try it again?

[2019-08-01 05:30] TomShawn commented on #1696
Fixed.
https://github.com/pingcap/docs-cn/pull/1697

[2019-08-01 05:33] #1696 closed

[2019-08-01 05:46] zz-jason commented on #1671
"聚合函数" 更加通用一些

[2019-08-01 05:47] lilin90 commented on #1671
好的，那我们更新一下~

[2019-08-01 05:47] lilin90 commented on #1671
@TomShawn Please help update this expression. Thanks!

[2019-08-01 06:37] TomShawn commented on #1671
Fixed.
https://github.com/pingcap/docs-cn/pull/1699

[2019-08-01 06:40] #1671 closed

[2019-08-02 13:28] buyno commented on #1523
在安装完tidb-operator之后有一段note

NOTES:
1. Make sure tidb-operator components are running
   kubectl get pods --namespace tidb-admin -l app.kubernetes.io/instance=tidb-operator
2. Install CRD
   kubectl apply -f https://raw.githubusercontent.com/pingcap/tidb-operator/master/manifests/crd.yaml
   kubectl get customresourcedefinitions
3. Modify tidb-cluster/values.yaml and create a TiDB cluster by instal

[2019-08-04 05:24] dancinginthedarking opened #1708 "3个tikv，缩容到2个tikv是否可以正常工作？ 谢谢"
File: [v3.0/how-to/scale/with-ansible.md](https://pingcap.com/docs-cn/v3.0/how-to/scale/with-ansible/)

[2019-08-04 05:51] siddontang commented on #1708
是没有问题，但风险比较高，如果你在挂掉一个 TiKV，集群就可能没法工作了。

[2019-08-04 13:43] yunkunrao opened #1709 "文档有误"
File: [v3.0/reference/sql/partitioning.md](https://pingcap.com/docs-cn/v3.0/reference/sql/partitioning/)

分区裁剪章节中，提到“很显然，结果必然是在分区 p0 或者 p3 里面，也就是说，我们只需要在 p0 和 p3 里面去搜索匹配的行。”。

这里应该是p1或者p2。即“很显然，结果必然是在分区 p1 或者 p2 里面，也就是说，我们只需要在 p1 和 p2 里面去搜索匹配的行。”

[2019-08-04 15:38] dancinginthedarking commented on #1708
谢谢您周末还加班回复客户问题

目前我们按官方配置，2个tidb、3个pd，3个kv ，和一个中控机，现在3台kv磁盘不够用，我们想在线升级（扩容）kv的磁盘，目前想的方案是：
先通过tidb缩容，把tikv01号剔除掉，扩容tikv01磁盘，再通过tidb扩容把tikv01恢复到tidb中，验证ok后，依次执行缩容和扩容tikv00/tikv02. 您看是否可行，或者您可以帮忙提供一个更优的方案么，谢谢了

romanlin7@yeah.net

发件人： siddontang
发送时间： 2019-08-04 13:51
收件人： pingcap/docs-cn
抄送： dancinginthedarking; Author
主题： Re: [pingcap/docs-cn] 3个tikv，缩容到2个tikv是否可以正常工作？ 谢谢 (#1708)
是没有问题，但风险比较高，如果你在挂

[2019-08-05 08:07] tiancaiamao commented on #1709
Yes, you're right.
Thanks for your report.

[2019-08-05 08:44] #1523 closed

[2019-08-05 08:59] #1709 closed

[2019-08-07 06:46] CaitinChen commented on #1708
@youjiali1995 Please take a look. Thanks.

[2019-08-07 07:56] youjiali1995 commented on #1708
@dancinginthedarking 可行的，注意点就是上面 tangliu 说的。

[2019-08-07 08:02] dancinginthedarking commented on #1708
收到，非常感谢两位专家的热心解答，谢谢

[2019-08-08 02:30] John402-cloud opened #1725 "系统库mysql使用mydumper备份后，用loader恢复报错"
版本：5.7.25-TiDB-v2.1.6
使用mydumper备份系统库mysql，然后在user表中添加了几行数据，使用loader恢复mysql库时总是报错。如下：
2019/08/08 10:11:22 loader.go:423: [warning] ignore schema file mysql-schema-create.sql
2019/08/08 10:11:22 loader.go:336: [error] [loader] scan dir[/home/tidb/db_bak_init-mydumper/mysql/] failed, err[invalid mydumper files for there are no `-schema-create.sql` files found]
不知为啥忽略了创建库的 mysql-schema-create.sql，后面又

[2019-08-08 02:55] John402-cloud commented on #1725
使用mysqldumper备份的sql脚本文件通过source恢复的时候是可以的。

使用loader恢复系统库mysql是有什么限制吗？

后期我公司的数据库准备切换到TiDB，但是目前我司的mysql数据库对mysql库的变动比较大，尤其是mysql.user，更改了表结构。导致重启TiDB是因为表结构的变化无法启动。我这边在测试系统库mysql的备份和还原。

[2019-08-08 05:31] John402-cloud opened #1726 "使用官方提供的创建视图示例，创建的视图无法查询"
版本：5.7.25-TiDB-v2.1.6
根据官方创建视图样例创建视图，完成后查询视图报错如下，竟然是报表不存在，请帮忙看下什么原因，谢谢
MySQL [tmplascloud]> select * from v;
ERROR 1146 (42S02): Table 'tmplascloud.v' doesn't exist

详情如下：
MySQL [tmplascloud]> create table t(a int, b int);
Query OK, 0 rows affected (0.38 sec)

MySQL [tmplascloud]> insert into t values(1, 1),(2,2),(3,3);
Query OK, 3 rows affected (0.16 sec)

MySQL [tmplascloud]> create table s(a in

[2019-08-08 07:25] XuHuaiyu commented on #1726
能麻烦提供下这个 sql 的结果吗？

[code]

[2019-08-08 07:25] XuHuaiyu commented on #1726
能麻烦提供下这个 sql 的结果吗？

[code]

[2019-08-08 07:33] CaitinChen commented on #1725
@WangXiangUSTC PTAL

[2019-08-08 07:37] WangXiangUSTC commented on #1725
是 mydumper 导出的文件中没有mysql 这个库的建库语句文件 mysql-schema-create.sql，这是已知问题，mydumper 在某些配置下确实不会生成这个文件， 需要提供下你运行 mydumper 的命令，我看下怎么修改下。
另外，如果要临时处理一下的话，可以自己在 mydumper 的备份的目录下建一个 mysql-schema-create.sql 这个文件，文件里写上 mysql 的建库语句即可。

[2019-08-08 07:40] CaitinChen commented on #1725
@John402-cloud

[2019-08-08 09:29] #1708 closed

[2019-08-08 09:35] dancinginthedarking commented on #1708
三台tikv，每台有200多G的数据，对一台tikv做缩容
./pd-ctl -u "http://172.10.10.10:2379" -d store XX， 已经过了6个多小时，还在offline状态

请问大概需要多长时间才会完全下线，转为Tombstone呢

[2019-08-08 09:39] dancinginthedarking commented on #1708
三台tikv，每台有200多G的数据，对一台tikv做缩容
./pd-ctl -u "http://172.10.10.10:2379" -d store  delete XX， 已经过了6个多小时，还在offline状态
现在状态：
./pd-ctl -u "http://172.10.10.10:2379" -d store 10
{
  "store": {
    "id": 5,
    "address": "172.10.10.31:20160",
    "state": 1,
    "version": "2.1.5",
    "state_name": "Offline"
  },
  "status": {
    "capacity": "1008 GiB",
    "available": "781 GiB",
    "leader_count": 352

[2019-08-08 09:44] youjiali1995 commented on #1708
变为 tombstone 之前需要把这个 store 上的所有 region 副本迁移到其他 store 上，可以调整 pd 的 `region-schedule-limit` 加快这个速度。https://github.com/pingcap/pd/tree/master/tools/pd-ctl

[2019-08-08 10:05] dancinginthedarking commented on #1708
已经把 region-schedule-limit 修改为128
7个小时过去了，感觉region_count值基本没有变化，下面这几个值也基本没变

        "leader_count": 3447,
        "leader_weight": 1,
        "leader_score": 256774,
        "leader_size": 256774,
        "region_count": 10809,
        "region_weight": 1,
        "region_score": 769045,
        "region_size": 769045,

[2019-08-08 10:07] youjiali1995 commented on #1708
可以贴下监控中 pd 面板的 Store leader count 和 Store region count 的监控吗？

[2019-08-08 10:21] dancinginthedarking commented on #1708
![1](https://user-images.githubusercontent.com/53683081/62695620-4b299880-ba09-11e9-9dbf-f581523ad0f9.jpg)
![2](https://user-images.githubusercontent.com/53683081/62695633-4ebd1f80-ba09-11e9-827b-41e9d2fb68a4.jpg)

这是pd的监控截图

[2019-08-08 10:23] dancinginthedarking commented on #1708
store_1 和 store_4 是up状态，store_5是 offline状态

[2019-08-08 10:44] youjiali1995 commented on #1708
有  Store leader count 和 Store region count 的监控吗？可以看到 store 的 region 变化趋势。你是什么版本的 TiKV？

[2019-08-08 10:52] dancinginthedarking commented on #1708
tikv是2.1.5版本的
没有看到Store leader count 和 Store region count 的监控

 ./tikv-server -V
TiKV
Release Version:   2.1.5
Git Commit Hash:   24c94b45b9a24e35b34afe62be1a798ae298e005
Git Commit Branch: release-2.1
UTC Build Time:    2019-02-28 08:20:08
Rust Version:      rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

[2019-08-09 00:31] dancinginthedarking commented on #1708
21个小时了，目前状态好像没有什么变化，下一步怎么操作呀
./pd-ctl -u "http://172.17.9.20:2379" -d store 5
{
  "store": {
    "id": 5,
    "address": "172.17.9.31:20160",
    "state": 1,
    "version": "2.1.5",
    "state_name": "Offline"
  },
  "status": {
    "capacity": "1008 GiB",
    "available": "780 GiB",
    "leader_count": 3447,
    "leader_weight": 1,
    "leader_score": 250042,
    "leader_size": 250042,
    "regio

[2019-08-09 01:13] youjiali1995 commented on #1708
@nolouch PTAL

[2019-08-09 02:39] John402-cloud commented on #1725
./bin/mydumper -h 127.0.0.1 -P 4000 -u root -p root@123 -t 8 -F 64 -B mysql --skip-tz-utc -o /home/tidb/db_bak_init-mydumper/mysql
可能我没描述清楚，mydumper备份mysql库，备份出来的文件是包含mysql-schema-create.sql 这个文件。
我也看了这个mysql-schema-create.sql文件是建库的命令。但是用loader命令恢复的时候，不知是选择性忽略还是其他原因，就是报下面这错。为啥命令 ignore schema file mysql-schema-create.sql会忽略 mysql-schema-create.sql这个文件。

关键点在为啥会忽略mysql-schema-create.sql这个文件。。

[war

[2019-08-09 02:42] John402-cloud commented on #1726
这个问题我找到原因了，2.1.6版本不支持视图，昨天升级到3.0后就好了，谢谢

[2019-08-09 02:47] WangXiangUSTC commented on #1725
确认了下，loader 不支持导系统表，"information_schema"，"mysql"，"performance_schema"，"sys" 这些库都会过滤掉。

[2019-08-09 03:07] John402-cloud commented on #1725
那为啥使用loader全量恢复的时候却能导入？
mydumper单独备份系统库，然后loader倒入却不行。
另外，使用mysqldump备份系统库，用source/mysql也能导入。

[2019-08-09 03:53] dancinginthedarking commented on #1708
大拿们，能帮忙协助处理一下么，谢谢啦

[2019-08-09 05:05] WangXiangUSTC commented on #1725
`使用loader全量恢复的时候却能导入？` 这个是指什么？
不能导入是 loader 的设计，功能不会完全和其他 mysql 的配套工具一样

[2019-08-09 05:10] John402-cloud commented on #1725
通过mydumper备份整个数据库，包含系统库和其他业务数据。当用loader恢复整个数据库时是可以导入系统库的。

[2019-08-09 07:32] WalterWj opened #1728 "update TiSpark faq"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

2. Please describe your suggestion or addition.

    Please update the

[2019-08-09 09:02] WangXiangUSTC commented on #1725
实际上你原来用 loader 恢复所有库时 mysql 这个系统库也是被忽略掉的。loader 在只恢复 mysql 库的时候忽略掉了 mysql 库的数据，发现没有其他数据需要再导入了，所以才报错了。

[2019-08-12 00:39] dancinginthedarking commented on #1708
已经快4天了，缩容的kv还是offline状态，没有进展，求助，谢谢

{
  "store": {
    "id": 5,
    "address": "172.17.9.31:20160",
    "state": 1,
    "version": "2.1.5",
    "state_name": "Offline"
  },
  "status": {
    "capacity": "1008 GiB",
    "available": "778 GiB",
    "leader_count": 3411,
    "leader_weight": 1,
    "leader_score": 249461,
    "leader_size": 249461,
    "region_count": 10912,
    "region_weight": 1,

[2019-08-12 00:53] John402-cloud commented on #1725
非常感谢解答。

[2019-08-12 02:52] #1726 closed

[2019-08-12 03:02] nolouch commented on #1708
@dancinginthedarking You only have 3 TiKV, there is no place to move data. you may need to add a new machine. In addition, TiDB naturally has better support for horizontal expansion.

[2019-08-12 03:12] dancinginthedarking commented on #1708
thank you very much for you support !

now we got 3 tikv： tikv00 and tikv02 is in ‘up’status, and tikv01 is in ‘offline’stauts.
what should I do next ?
1、add a new tikv (tikv03)
2、tikv01 will turn to 'Tombstone' status automatically
3、stop tikv01

is this correct ？

romanlin7@yeah.net

发件人： ShuNing
发送时间： 2019-08-12 11:03
收件人： pingcap/docs-cn
抄送： dancinginthedarking; Mention
主题： Re: [pingcap/docs-c

[2019-08-12 03:32] #1725 closed

[2019-08-12 04:47] lilin90 commented on #1728
@WalterWj Thanks for the reminder. We track changes in docs-cn and update them in docs. So you don't have to create an issue for such changes in the future.

@TomShawn Please help update the corresponding document in docs based on #1727 and #1730. Thanks!

[2019-08-12 04:55] TomShawn commented on #1728
Sure!

[2019-08-12 05:50] WalterWj commented on #1728
OK

------------------ 原始邮件 ------------------
发件人: "TomShawn"<notifications@github.com>;
发送时间: 2019年8月12日(星期一) 中午12:55
收件人: "pingcap/docs-cn"<docs-cn@noreply.github.com>;
抄送: "军哥"<277372664@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [pingcap/docs-cn] update TiSpark faq (#1728)

@WalterWj Thanks for the reminder. We track changes in docs-cn and update them in docs. So you don't have t

[2019-08-12 05:51] John402-cloud opened #1734 "根据文档进行缩容tikv，缩容后监控仍然能看的已下线的tikv信息，这个是正常的吗?"
根据文档进行缩容tikv，缩容后监控仍然能看的已下线的tikv的数据信息，这个是正常的吗?

重启集群后，已下线tikv的相关数据信息没有了，但是仍然存在
[TiDB-Report.docx](https://github.com/pingcap/docs-cn/files/3491122/TiDB-Report.docx)
store_id信息。

[2019-08-13 02:52] dancinginthedarking commented on #1708
@nolouch

can youhelp me to solve this problem, thank you

[2019-08-13 03:16] John402-cloud opened #1738 "扩容问题：通过新增加磁盘来扩容tikv该怎么操作？文档中只找到扩容节点的内容"
tidb-v2.1.6
扩容问题：通过新增加磁盘来扩容tikv该怎么操作？文档中只找到扩容节点的内容

[2019-08-13 06:56] gyl1041 opened #1742 "官方文档中声明：TiDB 默认不开启 SQL 模式 ONLY_FULL_GROUP_BY，但是我使用docker-compose刚刚搭建好的TiDB确是默认开启的，请问这是正常情况吗？如何修改配置信息使该模式默认关闭呢？"
File: [dev/reference/sql/functions-and-operators/aggregate-group-by-functions.md](https://pingcap.com/docs-cn/dev/reference/sql/functions-and-operators/aggregate-group-by-functions/)

[2019-08-14 02:18] dancinginthedarking commented on #1708
can you please ?

[2019-08-14 02:42] nolouch commented on #1708
@dancinginthedarking  Yes,

[2019-08-14 02:45] dancinginthedarking commented on #1708
thank you very much for your reply.

[2019-08-14 03:54] CaitinChen commented on #1694
@weekface PTAL. Thanks.

[2019-08-14 04:00] cofyc commented on #1694
hi, can you paste your full commands and error logs here?

[2019-08-14 09:15] AstroProfundis commented on #1742
你好，能否提供一下使用的 TiDB 版本？

[2019-08-14 10:22] gyl1041 commented on #1742
你好，我是前两天直接在github上面下载的包，不知道应该怎样查看版本号。------------------ 原始邮件 ------------------
发件人: "Allen Zhong"<notifications@github.com>
发送时间: 2019年8月14日(星期三) 下午5:15
收件人: "pingcap/docs-cn"<docs-cn@noreply.github.com>;
抄送: "gyl1041"<1041332658@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [pingcap/docs-cn] 官方文档中声明：TiDB 默认不开启 SQL 模式 ONLY_FULL_GROUP_BY，但是我使用docker-compose刚刚搭建好的TiDB确是默认开启的，请问这是正常情况吗？如何修改配置

[2019-08-14 13:37] nolouch commented on #1738
Same as the add node, just change the port of TiKV.

[2019-08-15 01:20] John402-cloud commented on #1738
OK,ths very much.
I'v done.

[2019-08-15 01:20] #1738 closed

[2019-08-15 02:33] #1728 closed

[2019-08-15 02:42] nolouch commented on #1734
@John402-cloud  把时间拉短一些应该就没了。

[2019-08-15 03:59] AstroProfundis commented on #1742
直接使用 https://github.com/pingcap/tidb-docker-compose 的话应该是最新版

可以通过以下步骤关闭 `ONLY_FULL_GROUP_BY`:
 - 执行 `select @@sql_mode;` 获得当前的设置
 - 将上一步结果中去掉 `ONLY_FULL_GROUP_BY`
 - 执行 `set @@sql_mode=“去掉 ONLY_FULL_GROUP_BY 之后的部分”`
即可关闭此功能。

[2019-08-15 07:21] gyl1041 commented on #1742
谢谢你提供的方法，我目前是使用这种方法关闭的，但是默认开启ONLY_FULL_GROUP_BY的情况是我安装的问题吗？还是这个版本就是默认这个模式？有没有修改配置文件的方法修改默认模式？我担心数据库重启以后会恢复ONLY_FULL_GROUP_BY。

------------------ 原始邮件 ------------------
发件人: "Allen Zhong"<notifications@github.com>;
发送时间: 2019年8月15日(星期四) 中午12:00
收件人: "pingcap/docs-cn"<docs-cn@noreply.github.com>;
抄送: "星语心愿"<1041332658@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [pingcap/docs-cn] 官方文档中声明：T

[2019-08-15 07:55] John402-cloud opened #1761 "tidb-ansible-v3.0.0 部署集群，ansible-playbook bootstrap.yml 报错 ValueError: No JSON object could be decoded"
tidb-ansible-v3.0.0集群部署，初始化系统环境，ansible-playbook bootstrap.yml执行到TASK [machine_benchmark : get fio randread iops] 时报错--ValueError: No JSON object could be decoded。

请问这个报错是什么意思？如何才能避免这个报错。
之前在部署tidb-2.1.5和tidb-2.1.6都遇到同样的问题，当时通过注释掉初始化bootstrap.yml中相应的tikv_servers machine benchmark来规避的。本次部署tidb-3.0.0也遇到同样的问题。

详情如下：
TASK [machine_benchmark : clean fio randread benchmark temporary file] ************

[2019-08-15 08:01] liubo0127 commented on #1761
请问下，`tidb-ansible` 是怎么下载的，部署时候操作步骤是什么，有人为修改过 playbook 吗

[2019-08-15 09:28] AstroProfundis commented on #1742
目前 3.0 版本的实际行为是默认开启 `ONLY_FULL_GROUP_BY`, 文档可能没有及时更新，已经反馈给相关的同事在跟进了

使用 `set global @@sql_mode="去掉 ONLY_FULL_GROUP_BY 之后的部分"` 的方式关闭后重启进程不会影响设置

[2019-08-15 09:30] gyl1041 commented on #1742
谢谢你啦

------------------ 原始邮件 ------------------
发件人: "Allen Zhong"<notifications@github.com>;
发送时间: 2019年8月15日(星期四) 下午5:29
收件人: "pingcap/docs-cn"<docs-cn@noreply.github.com>;
抄送: "星语心愿"<1041332658@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [pingcap/docs-cn] 官方文档中声明：TiDB 默认不开启 SQL 模式 ONLY_FULL_GROUP_BY，但是我使用docker-compose刚刚搭建好的TiDB确是默认开启的，请问这是正常情况吗？如何修改配置信息使该模式默认关闭呢？ (#1742)

目前 3.0 版本的实

[2019-08-16 00:09] John402-cloud commented on #1761
1.tidb-ansible是联网下载的：ansible-playbook local_prepare.yml
2.部署也是根据官方V3.0版本的部署指导操作的。https://pingcap.com/docs-cn/v3.0/how-to/deploy/orchestrated/ansible/
3.没有修改过playbook。

[2019-08-16 00:24] John402-cloud commented on #1761
基于VMWare的，CentOS7.6版本部署的。
注释掉bootstrap.yml中相应的tikv_servers machine benchmark后就不报这个错了。

请问这个报错是什么意思？有什么影响？
后期如果上生产环境的话如何才能避免这个报错。

[2019-08-16 02:30] liubo0127 commented on #1761
1、`tidb-ansible` 本身是使用什么方式下载的（例如 `git clone -b v3.0.0` 等，麻烦给一下具体方式）
2、正在使用的 `tidb-ansible` 中的 `roles/machine_benchmark/tasks/fio_randread.yml` 文件内容贴一下
3、这个是检测磁盘，倒是不会有什么影响，不过正常不会报错。需要更细的信息看一下，操作步骤和第 2 条提到的文件内容都发一下吧

[2019-08-16 06:58] John402-cloud commented on #1761
1.tidb-ansible下载方式
$ git clone -b v3.0.0 https://github.com/pingcap/tidb-ansible.git

2.roles/machine_benchmark/tasks/fio_randread.yml内容如下
---

- name: fio randread benchmark on tikv_data_dir disk
  shell: "cd {{ fio_deploy_dir }} && ./fio -ioengine=psync -bs=32k -fdatasync=1 -thread -rw=randread -size={{ benchmark_size }} -filename=fio_randread_test.txt -name='fio randread test' -iodepth=4 -runti

[2019-08-16 23:23] dbaspace opened #1771 "TIDB 1.0-panic: runtime error: invalid memory address or nil pointer dereference"
vServer version: 5.7.1-TiDB-v1.1.0-alpha.1-98-gde9c192 MySQL Community Server (Apache License 2.0)
tidb-server: ERROR LOG
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0xdddb73]

goroutine 1215 [running]:
github.com/pingcap/tidb/executor.(*IndexLookUpJoin).getFinishedTask(0xc420f99040, 0x0, 0x0, 0xc4226d5c30, 0

[2019-08-19 08:06] liubo0127 commented on #1761
怀疑是测试磁盘时候在 tikv 节点的 data 目录下面生成的 fio/fio_randread_result.json 文件数据有点问题，导致解析出错了。

[2019-08-20 02:45] zz-jason commented on #1771
Ha... TiDB 1.0 is too old, looks like this issue is already fixed. Can you update to TiDB 2.1.15 to check whether it still remains?

[2019-08-20 02:56] zz-jason commented on #1742
will be fixed by: https://github.com/pingcap/docs-cn/pull/1779

[2019-08-21 05:27] dbaspace opened #1782 "TIDB4.0 sysbench TIDB-SERVER log"
[ERROR] [client_batch.go:279] ["batchRecvLoop error when receive"] [target=172.20.1.21:20160] [error="rpc error: code = Canceled desc = grpc: the client connection is closing"] [stack="github.com/pingcap/tidb/store/tikv.(*batchCommandsClient).batchRecvLoop\n\t/home/jenkins/workspace/build_tidb_master/go/src/github.com/pingcap/tidb/store/tikv/client_batch.go:279"]
##TIDB-SERVER  log

[2019-08-21 06:42] zz-jason commented on #1782
@dbaspace Could you provide more on the error stack? Seems it's a known issue, could you provide the result of `select tidb_version();` to help us investigate this issue?

[2019-08-21 06:57] dbaspace commented on #1782
Release Version: v4.0.0-alpha-81-g2009741d5
Git Commit Hash: 2009741d57c5591c10f837166264c78cac1261f5
Git Branch: master
UTC Build Time: 2019-08-16 09:38:44
GoVersion: go version go1.12 linux/amd64
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check Table Before Drop: fals

[2019-08-22 07:57] cjyfff opened #1789 "tidb-docker-compose deploy fail on ubuntu 16.04"
Hello, I am trying to deploy tidb-docker-compose on ubuntu 16.04, but when I run "docker-compose pull", I get error message like "ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a version of "2" (or "2.0") and place your service definitions under the `services` key, or omit the `version` key

[2019-08-22 09:04] xiaojingchen commented on #1789
@cjyfff
Could you upgrade your docker-compose version and then retry?

[2019-08-23 08:37] wang00 opened #1795 "监控tikv 端口20160 文档写的是20180"
![image](https://user-images.githubusercontent.com/10595226/63578956-26feb780-c5c4-11e9-8453-fb120b74a89f.png)

[2019-08-23 08:45] wang00 commented on #1795
![image](https://user-images.githubusercontent.com/10595226/63579452-49dd9b80-c5c5-11e9-9e73-84b1532a1b46.png)
![image](https://user-images.githubusercontent.com/10595226/63579479-595ce480-c5c5-11e9-9172-65c8859e1dcb.png)

[2019-08-23 08:45] wang00 commented on #1795
21060 21080 都不通

[2019-08-23 08:47] breeswish commented on #1795
Hi, 20160 是默认的 TiKV gRPC 服务端口（port），20180 是默认的 TiKV 监控端口（status port），Prometheus 从 20180 取监控是符合预期的。

[2019-08-23 08:48] wang00 commented on #1795
21080  添加监控时怎么加的
![image](https://user-images.githubusercontent.com/10595226/63579712-d4be9600-c5c5-11e9-8223-aef05f77c95c.png)

[2019-08-23 08:48] wang00 commented on #1795
21080 端口没开启

[2019-08-23 08:49] wang00 commented on #1795
使用docker 部署的

[2019-08-23 08:51] wang00 commented on #1795
–status-addr=“10.242.102.178:20180”   是这样的

[2019-08-23 08:54] breeswish commented on #1795
这个看上去可能是 tikv 启动失败，请贴一下 tikv 日志。

[2019-08-23 08:57] wang00 commented on #1795
日志都正常。我按照官网，没配置20180.

[2019-08-23 08:59] wang00 commented on #1795
20180 如何配置，你知道吗，谢谢，我刚弄。没找到

[2019-08-23 09:00] wang00 commented on #1795
docker 的配置里面没有20180

[2019-08-23 09:19] wang00 commented on #1795
好吧，我自己添加上了

[2019-08-23 10:37] tennix commented on #1795
@wang00 20180 端口需要显式设置，另外生产环境不建议用裸 docker 部署，建议用 tidb-ansible 或 tidb-operator 部署

[2019-08-26 02:20] #1742 closed

[2019-08-26 02:22] #1734 closed

[2019-08-26 11:55] dcalvin commented on #1789
@cjyfff Have you got any progress? Let us know if you still have any problem.

[2019-08-26 12:03] dcalvin commented on #1415
Close the issue as not supported for now.

[2019-08-26 12:03] #1415 closed

[2019-08-29 08:44] wang00 opened #1806 "tidb添加新用户，没有密码可以登录，有密码不能登录。求助"
File: [v3.0/how-to/maintain/backup-and-restore.md](https://pingcap.com/docs-cn/v3.0/how-to/maintain/backup-and-restore/)

[2019-08-29 08:47] dcalvin commented on #1806
@wang00 Can you provide more details? The link you provided does not seem to be related to your question.

[2019-08-29 08:53] wang00 commented on #1806
tidb添加新用户，没有密码可以登录，有密码不能登录。求助

[2019-08-29 08:56] dcalvin commented on #1806
@satoru PTAL. Thanks.

[2019-08-29 08:58] #1795 closed

[2019-08-29 09:02] wang00 commented on #1806
怎么解决？

[2019-08-29 09:36] wang00 commented on #1806
[root@tidb003 ~]# mysql -h 127.0.0.1 -P 4000 -u ictrtidb004c -p -D test
Enter password:
ERROR 1045 (28000): Access denied for user 'ictrtidb004c'@'172.17.0.1' (using password: YES)

[2019-09-06 02:58] TomShawn commented on #1771
@dbaspace Have you got any progress? Let us know if you still have any problem.

[2019-09-06 09:06] benmaoer opened #1830 "missing dm-master port"
File: [v3.0/reference/tools/data-migration/manage-tasks.md](https://pingcap.com/docs-cn/v3.0/reference/tools/data-migration/manage-tasks/)

$ ./resources/bin/dmctl --master-addr 10.12.66.14
parse cmd flags err: specify master addr 10.12.66.14: address 10.12.66.14: missing port in address

[2019-09-16 03:02] 3pointer commented on #1830
@benmaoer It should be ```./resources/bin/dmctl --master-addr 10.12.66.14:8261``` and I will update this doc later. Thanks.

[2019-09-16 05:32] #1830 closed

[2019-09-16 09:14] TomShawn commented on #1771
To better manage issue tracking, this issue is closed for now.
If you have further questions, please open a new issue. Thanks!

[2019-09-16 09:14] #1771 closed

[2019-09-16 09:15] TomShawn commented on #1789
To better manage issue tracking, this issue is closed for now.
If you have further questions, please open a new issue. Thanks!

[2019-09-16 09:15] #1789 closed

[2019-09-16 09:36] John402-cloud opened #1867 "tidb-ansible-3.0.0，部署OK，启动tikv报错，wait until the TiKV port is up"
您好，在启动tidb时报tikv的错
环境信息：
CentOS Linux release 7.4.1708 (Core)
tidb-ansible-3.0.0
tidb-v3.0.0.tar.gz

服务启动到tikv报错如下：
[10.0.1.33]: Ansible FAILED! => playbook: start.yml; TASK: wait until the TiKV port is up; message: {"changed": false, "elapsed": 300, "msg": "the TiKV port 20160 is not up"}
[10.0.1.34]: Ansible FAILED! => playbook: start.yml; TASK: wait until the TiKV port is up; message: {"changed

[2019-09-16 09:41] John402-cloud commented on #1867
补充信息：
此次部署是基于私有云做测试部署，访问tidb服务器是通过私有云（192.168.10.112/113）的端口映射访问。

[2019-09-16 10:17] yikeke commented on #1867
Hi，十分感谢对 TiDB 的关注 :) 有关 TiDB 的使用问题，请您移步到 [TiDB User Group](https://asktug.com) 提问讨论哦～本 repo 目前处理的是与中文文档相关的 issue，感谢理解～

[2019-09-16 11:42] #1867 closed

[2019-09-17 03:35] IANTHEREAL opened #1869 "建议把 【备份和恢复】的文档合并为一大类"
## Feature Request

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

    目前部分工具的文档内容重复，没有合理分类，比如备份和恢复

    从这个 pr 可以看出来的问题 https://github.com/pingcap/docs-cn/pull/1838/files：

    * mydumper/loader 使用方法和问题处理在 maintain 和 mydumper/loader 文档里面都有，并且重复，而且位于不同的目录
    * 备份和恢复，还有其他相关的工具文档，比如 lightning

2. Please describe

[2019-09-17 04:15] yikeke commented on #1869
PTAL @lilin90 @dcalvin

[2019-09-17 05:54] lilin90 commented on #1869
@GregoryIan @yikeke I think we can make [this page](https://pingcap.com/docs-cn/v3.0/how-to/maintain/backup-and-restore/) an intro to all backup and restore tools, and add necessary links from `reference/tools`.

[2019-09-17 07:13] dcalvin commented on #1869
I think these two are serving different purposes. For Backup and Restore is task-oriented, as a maintenance topic for TiDB. But mydumper/loader are reference information. Either of them makes sense. If we merge them, the current topic categories will not make sense. So what I would suggest are:

1. Do not duplicate content in these two places. (Task focuses on instructions, while Reference focuses

[2019-09-18 06:38] lilin90 commented on #1869
@dcalvin Agree with your suggestions.

[2019-09-23 06:12] jxgahxs commented on #580
你好！我这边也是出现这样的问题。具体操作过程是，批量删除表，如何再创建。请问你最是怎么解决的。

[2019-09-23 08:39] miaohuiming opened #1887 "wrongly wirtten in TiDB document"
![image](https://user-images.githubusercontent.com/21235256/65411907-a9c39e00-de20-11e9-82b1-101d569560c3.png)

[2019-09-23 08:52] TomShawn commented on #1887
@miaohuiming Thanks for your contribution.
Typo fixed in https://github.com/pingcap/docs-cn/pull/1888

[2019-09-23 08:53] #1887 closed

[2019-09-29 05:27] SE-Bin opened #1905 "Default value of "txn-local-latches" in Tidb had mistake"
File: [v3.0/reference/configuration/tidb-server/configuration-file.md](https://pingcap.com/docs-cn/v3.0/reference/configuration/tidb-server/configuration-file/).
Default value  of "txn-local-latches" in Tidb  had mistake. I found the default value is "True" in https://github.com/pingcap/tidb/blob/v3.0.3/config/config.toml.example#L267-L271 .
And the "capacity" had the same problem .

[2019-09-29 05:51] zimulala commented on #1905
@SE-Bin
Thanks for your feedback!
In the master branch the default value of `txn-local-latches` is false, in v3.0 the default value is true.
@jackysp Do need to cherry-pick pingcap/#12068 to v3.0?

[2019-09-30 05:13] jackysp commented on #1905
The default value is set to false after v3.0.4. I think the document is a bit newer than the release.
The "capacity" is wrong in the document, we will fix it. @SE-Bin

[2019-10-08 02:44] #1905 closed

[2019-10-08 07:38] Myshiner opened #1917 "How can I migrate a MySQL instance to TiDB ?"
## Question
I'm a TiDB new learner, i wonder how to migrate the mysql instance(all data) to TiDB ? Any  reference documents ?
Thx.

[2019-10-08 07:49] Myshiner commented on #1917
I mean if i have to firstly restore the instance using innobackupex full backup package to tidb  ?

[2019-10-10 03:20] CaitinChen commented on #1917
Please see [this document](https://pingcap.com/docs-cn/v3.0/how-to/migrate/from-mysql/) to get how to migrate data from MySQL to TiDB.

[2019-10-11 02:56] CaitinChen commented on #1917
@Myshiner Sorry, currently we don't support innobackupex.

[2019-10-11 02:56] #1917 closed

[2019-10-12 02:50] #1806 closed

[2019-10-12 05:17] yangzhaocheng opened #1936 "use drainer savepoint not work"
File: [v3.0/reference/tools/tidb-binlog/tidb-binlog-local.md](https://pingcap.com/docs-cn/v3.0/reference/tools/tidb-binlog/tidb-binlog-local/)
使用drainer命令生成savepoint文件时，没有才gen-savepoint  flag
![image](https://user-images.githubusercontent.com/16266102/66695306-acfccc00-ecf2-11e9-9adf-c5f5fe7b1fba.png)

[2019-10-12 11:52] CaitinChen commented on #1936
@july2993 PTAL. Thanks.

[2019-10-12 11:59] july2993 commented on #1936
use binlogctl
pls take a look at: https://pingcap.com/docs-cn/v3.0/reference/tidb-binlog-overview/
tidb-bilnog-local is only avaiable for 2.0 version tidb

[2019-10-12 14:40] #1936 closed

[2019-10-15 06:53] yangzhaocheng commented on #1936
Thanks

[2019-10-18 05:24] #466 closed

[2019-10-21 09:16] lilin90 commented on #1869
@GregoryIan What do you think of @dcalvin's suggestions?

[2019-10-21 09:18] lilin90 commented on #1782
@zz-jason PTAL @dbaspace Has your issue been resolved?

[2019-10-21 09:19] lilin90 commented on #1761
@John402-cloud 问题解决了吗？

[2019-10-21 09:47] lilin90 commented on #1694
@jerryhu1234 Has your issue been resolved?

[2019-10-21 09:48] #1669 closed

[2019-10-21 11:25] lilin90 commented on #1618
@jackysp What do you think of the above suggestion?（将自动重试、回滚相关描述抽取出来，归档到对应的章节中）

[2019-10-22 03:36] jackysp commented on #1618
The auto-retrying will break the Snapshot Isolation, it is the related content of the transaction isolation. I think it is not suitable to move it to another chapter. We could move the statement rollback to another chapter, it is a standalone feature. @lilin90

[2019-10-22 03:39] lilin90 commented on #1594
The broken link check has been added to CI in #1693 and #1754, so I'll close this issue.

[2019-10-22 03:39] #1594 closed

[2019-10-23 02:49] lilin90 commented on #1618
@jackysp Got it. Thanks! Do you have a suggested place or directory for [the statement rollback section](https://pingcap.com/docs-cn/v2.1/reference/transactions/transaction-isolation/#%E8%AF%AD%E5%8F%A5%E5%9B%9E%E6%BB%9A)?

[2019-10-23 02:52] lilin90 commented on #1617
@jackysp What do you think of the suggestion above?

[2019-10-23 02:54] lilin90 commented on #1613
@disksing It seems that those links have been fixed by @CaitinChen. Can we close this issue now?

[2019-10-23 02:57] lilin90 commented on #1550
@scsldb PTAL

[2019-10-23 02:59] lilin90 commented on #1480
@sun02143316 Has your issue been resolved?

[2019-10-23 03:02] lilin90 commented on #1452
@Likes123 Has this issue been resolved?

[2019-10-23 03:05] ericsyh commented on #1587
@michaeljinxq 你所列举的文档中描述是对的，`skip-grant-table` 需要同时在配置文件和启动参数里启用才会生效。
我们后面修改下：
* tidb-server  help 中增加 skip-grant-table 选项
* [tidb 启动参数](https://pingcap.com/docs-cn/dev/reference/configuration/tidb-server/configuration/) 中增加 skip-grant-table 说明

[2019-10-23 03:05] lilin90 commented on #1343
@husiyu PTAL

[2019-10-23 03:07] lilin90 commented on #1323
@DingGHui Has this issue been resolved?

[2019-10-23 03:14] lilin90 commented on #1442
@michaeljinxq

**问题1**：现在官方文档里已新增了[报警规则文档](https://pingcap.com/docs-cn/v3.0/reference/alert-rules/)，为各报警项添加了规则描述和处理方法：
- [TiDB_schema_error](https://pingcap.com/docs-cn/v3.0/reference/alert-rules/#tidb_schema_error)
- [TiDB_monitor_keep_alive](https://pingcap.com/docs-cn/v3.0/reference/alert-rules/#tidb_schema_error)

[2019-10-23 03:21] husiyu commented on #1343
已更正，[PR](https://github.com/pingcap/blog-cn/pull/330) 稍后合并

[2019-10-23 03:25] lilin90 commented on #1438
@zwr1202 TiDB Data Migration 已[于 2019 年 9 月 6 日 1.0 GA](https://pingcap.com/blog-cn/dm-1.0-ga/)。

[2019-10-23 03:27] lilin90 commented on #1343
@leobuzhi 已在上述 PR 中更正，现已 merge。谢谢反馈！

[2019-10-23 03:27] #1343 closed

[2019-10-23 03:30] ericsyh commented on #1442
@michaeljinxq
问题 2 描述的 2 个问题确实存在而且短期内不太解：
这个由于目前 TiDB 还处于快速迭代阶段，组件和模块又比较多，比较容易出现频繁变更的情况。目前内部已经在设计相关的配置、变量规范，等落实后会逐步改善的。

[2019-10-23 03:32] lilin90 commented on #1347
@husiyu PTAL

[2019-10-23 03:42] husiyu commented on #1347
已与作者确认语序没有问题。coprocessor 的逻辑是从 mock 移植到 tikv 的。

[2019-10-23 04:40] jackysp commented on #1617
I think it is reasonable.

[2019-10-23 04:41] jackysp commented on #1618
I think we could use the suggestion in https://github.com/pingcap/docs-cn/issues/1617.

[2019-10-23 06:45] lilin90 commented on #1347
@leobuzhi 已确认原文正确。FYI.

[2019-10-23 06:45] #1347 closed

[2019-10-23 16:16] ericsyh commented on #1438
查看已发布的版本：https://pingcap.com/docs-cn/v3.0/releases/rn/

[2019-10-25 01:56] zz-jason commented on #1782
@dbaspace Does it help to update the cluster to release-3.0.4?

[2019-10-25 02:10] zhangzl0119 opened #1976 "下降到0.00秒"
File: [v3.0/reference/performance/understanding-the-query-execution-plan.md](https://pingcap.com/docs-cn/v3.0/reference/performance/understanding-the-query-execution-plan/)

![image](https://user-images.githubusercontent.com/32055976/67537831-a79a7b00-f70f-11e9-90bb-d4ff7fa3993f.png)

[2019-10-28 01:36] jerryhu1234 commented on #1694
resolved，thks.

[2019-10-28 01:36] #1694 closed

[2019-10-28 03:02] #1613 closed

[2019-10-28 03:34] #1438 closed

[2019-10-28 03:49] yikeke commented on #1976
Hi @zhangzl0119 ，我向 TiDB team 的小伙伴确认了，这儿似乎是个 typo，请问你的意思是这里应该改为 0.01 秒吗？

[2019-10-28 05:22] yikeke commented on #1327
Fixed in https://github.com/pingcap/docs-cn/pull/1707.

[2019-10-28 05:23] #1327 closed

[2019-10-28 05:34] yikeke commented on #1314
[op-guide/recommendation.md](https://pingcap.com/docs-cn/op-guide/recommendation/) 这篇文章里提到了“TiKV 硬盘大小配置建议 PCI-E SSD 不超过 2 TB，普通 SSD 不超过 1.5 TB”，请问能解答你的问题吗？

[2019-10-28 05:47] july2993 commented on #1189
@pcqz
没有主键 or 唯一索引没法做到幂等，而已同步可能会慢（在下游 update 每条数据都是扫全表)
所以建议同步的表都加上主键。

[2019-10-28 05:53] yikeke commented on #1323
This issue is too old so I'll close it for now. If you have any other questions, you can open another issue and we'll follow up soon. @DingGHui

[2019-10-28 05:53] #1323 closed

[2019-10-28 06:17] #1189 closed

[2019-10-28 06:22] yikeke commented on #1075
The file above might be moved. The updated link is https://github.com/pingcap/docs-cn/blob/master/v2.1/benchmark/sysbench.md. Can you help resolve this issue?

[2019-10-28 06:24] #1066 closed

[2019-10-28 06:26] #1055 closed

[2019-10-28 06:29] yikeke commented on #1054
Hi all, did the solution given by @lonng resolve your problems? @sandy20140407 @gt02sunyq

[2019-10-28 06:29] tennix opened #1987 "k8s 部署设置 irqbalance 参数"
## Feature Request

物理机部署 TiDB 集群时，`irqbalance` 参数对性能影响很大，tidb-ansible 中已经通过 [bootstrap role](https://github.com/pingcap/tidb-ansible/blob/7d491498d270a754aa299c442939dea0029e3a0d/roles/bootstrap/tasks/root_tasks.yml#L83) 设置 irqbalance 参数。对于物理机部署 k8s/tidb-operator 和 TiDB 集群，也要求设置该参数，需要在 tidb-in-kubernetes/deploy/prerequisites.md 中增加说明。

[2019-10-28 06:34] yikeke commented on #1045
Hi @hanfuyin, did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-28 06:36] yikeke commented on #1035
Hi @zyw8136 , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-28 06:43] yikeke commented on #1022
Hi，请问你指的是那篇文档呢？是ansible部署的文档吗？能给个链接吗？ @gitplyx

[2019-10-28 06:44] LinuxGit commented on #1358
Thanks for your advice. We'll update the doc.
[code]
We could mkfs and mount sdb directly. but it has following warning:
`/dev/sdb is entire device, not just one partition!`

[2019-10-28 06:52] july2993 commented on #1020
please try the latest version: https://pingcap.com/docs-cn/dev/reference/tools/mydumper/#mydumper-%E6%8A%A5%E9%94%99-segmentation-fault-%E6%80%8E%E4%B9%88%E8%A7%A3%E5%86%B3

or show more information if the problem still exists.

[2019-10-28 07:03] #1358 closed

[2019-10-28 07:25] tiancaiamao commented on #152
This issue is quite old, in the latest FAQ, there is nothing about this, so I just close it.

[2019-10-28 07:25] #152 closed

[2019-10-28 07:30] #1020 closed

[2019-10-29 03:26] yikeke commented on #360
Because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:26] #360 closed

[2019-10-29 03:29] yikeke commented on #306
目前文档中已有[枚举类型](https://pingcap.com/docs-cn/v3.0/reference/sql/data-types/string/#enum-%E7%B1%BB%E5%9E%8B)和[集合类型](https://pingcap.com/docs-cn/v3.0/reference/sql/data-types/string/#set-%E7%B1%BB%E5%9E%8B)相关描述。

[2019-10-29 03:29] #306 closed

[2019-10-29 03:39] yikeke commented on #241
We published a new [java app development best practice article](https://pingcap.com/docs-cn/v3.0/reference/best-practices/java-app/) lately. Please refer to it for details.

[2019-10-29 03:39] #241 closed

[2019-10-29 03:42] yikeke commented on #289
Because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:42] #289 closed

[2019-10-29 03:43] yikeke commented on #229
Because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:43] #229 closed

[2019-10-29 03:44] yikeke commented on #284
Because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:44] #284 closed

[2019-10-29 03:47] yikeke commented on #337
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:49] yikeke commented on #878
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:49] #878 closed

[2019-10-29 03:51] yikeke commented on #623
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:51] #623 closed

[2019-10-29 03:54] yikeke commented on #407
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:54] #407 closed

[2019-10-29 03:59] yikeke commented on #436
Hi all, because this issue is too old, I'll close it for now. Feel free to open another issue in [TiDB repo](https://github.com/pingcap/tidb) or this repo if you still have questions~

[2019-10-29 03:59] #436 closed

[2019-10-29 05:11] yikeke commented on #1001
This issue is duplicate with https://github.com/pingcap/docs-cn/issues/1022, so I'll close it now.

[2019-10-29 05:11] #1001 closed

[2019-10-29 05:14] yikeke commented on #978
Hi @gaomengyong , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:15] yikeke commented on #952
Hi @fxxph , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:16] yikeke commented on #740
Hi @laihuchun , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:20] yikeke commented on #630
Hi @tjxduck ，后来这个问题得到解决了吗？如果还有和文档相关的问题，我会联系人与您沟通～

P.S. Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:21] july2993 commented on #990
@bbhy135258
does the problem still exist?
if yes pls show more detail.

- loader version
- more original error log
- If possible, provide a recipe for reproducing the error.

[2019-10-29 05:22] yikeke commented on #829
Hi @yaowj2 n, did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:23] yikeke commented on #822
Hi @ljhmily , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:25] yikeke commented on #522
Hi @ayzmkk , did the solution given by @yanyanqing resolve your issue?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 05:28] yikeke commented on #1013
Hi @bbhy135258 , did your issue get resolved?

Because this issue is too old, I'll close it within 7 days if there is no new comment.

[2019-10-29 06:01] july2993 commented on #527
https://pingcap.com/docs-cn/v3.0/reference/tools/tidb-binlog/binlog-slave-client/
drainer 可以输出变更到 kafka, 但是目前没法直接接通 connector, 需要自己开发消费 kafka 数据处理。

[2019-10-29 06:01] #527 closed

[2019-10-29 06:56] laihuchun commented on #740
You can close this issue.

[2019-10-29 06:56] #740 closed

[2019-10-29 09:13] liubo0127 commented on #1002
目前安装集群需要部署目录对应的磁盘分区是 ext4 或者 xfs 文件系统，没有磁盘分区数量的限制。
如果还有类似问题，麻烦提供一下错误信息，并简单描述环境和操作过程。

[2019-10-30 09:51] #1587 closed

[2019-10-31 01:56] july2993 commented on #990
close for tool old issue, feel free to reopen if the problem still exist

[2019-11-01 02:54] #1045 closed

[2019-11-01 02:55] #952 closed

[2019-11-01 02:55] #630 closed

[2019-11-01 02:56] #522 closed

[2019-11-01 02:56] yikeke commented on #522
Feel free to reopen it if you have any further questions~

[2019-11-01 02:57] yikeke commented on #630
Feel free to reopen it if you have any further questions~

[2019-11-01 02:57] yikeke commented on #1045
Feel free to reopen it if you have any further questions~

[2019-11-01 02:58] yikeke commented on #952
Feel free to reopen it if you have any further questions~

[2019-11-01 02:58] #822 closed

[2019-11-01 02:58] yikeke commented on #822
Feel free to reopen it if you have any further questions~

[2019-11-01 02:59] #1013 closed

[2019-11-01 02:59] yikeke commented on #1013
Feel free to reopen it if you have any further questions~

[2019-11-01 02:59] #978 closed

[2019-11-01 02:59] yikeke commented on #978
Feel free to reopen it if you have any further questions~

[2019-11-01 03:00] #1054 closed

[2019-11-01 03:00] yikeke commented on #1054
Feel free to reopen it if you have any further questions~

[2019-11-01 03:01] #1022 closed

[2019-11-01 03:01] yikeke commented on #1022
Feel free to reopen it if you have any further questions~

[2019-11-01 03:01] #1314 closed

[2019-11-01 03:01] yikeke commented on #1314
Feel free to reopen it if you have any further questions~

[2019-11-01 03:01] #1035 closed

[2019-11-01 03:01] yikeke commented on #1035
Feel free to reopen it if you have any further questions~

[2019-11-01 03:03] crazycs520 commented on #1075
那个是 `.95` 以上的延迟，出现的原因可能是和网络，CPU，线程调度等相关。

[2019-11-01 03:11] yikeke commented on #596
Hi @ayzmkk , did the solutions above resolve your issue?

Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 03:11] #596 closed

[2019-11-01 03:24] #829 closed

[2019-11-01 03:24] yikeke commented on #829
Feel free to reopen it if you have any further questions~

[2019-11-01 03:25] yikeke commented on #864
Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 03:26] #864 closed

[2019-11-01 03:28] #955 closed

[2019-11-01 03:31] yikeke commented on #1075
Hi @firnsan , hope the solution above answered your question.

Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 03:31] #1075 closed

[2019-11-01 03:36] yikeke commented on #741
Duplicate with https://github.com/pingcap/docs-cn/issues/1090.

[2019-11-01 03:36] #741 closed

[2019-11-01 03:38] yikeke commented on #516
Answered in https://github.com/pingcap/docs-cn/issues/1090.

[2019-11-01 03:38] #516 closed

[2019-11-01 03:44] yikeke commented on #1092
Hi @jasonshen2011121 , because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 03:44] #1092 closed

[2019-11-01 03:53] freyfl commented on #453
Hi,  you can use the official sysbench on tidb. but you can't use "--mysql-compression" for compression, because it is an MySQL parameter，not for tidb.

[2019-11-01 04:01] freyfl commented on #606
Hi,
建议排查 f5 的网路配置，主要看下返回包的配置。可以发邮件到 support@pingcap.com 详细沟通

[2019-11-01 05:11] yikeke commented on #1442
Feel free to reopen this issue if you have any further questions~ @michaeljinxq

[2019-11-01 05:11] #1442 closed

[2019-11-01 05:13] lilin90 commented on #1761
@John402-cloud You might have resolved this old issue and I'll close it. If not, feel free to reopen it.

[2019-11-01 05:13] #1761 closed

[2019-11-01 05:14] yikeke commented on #1480
Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 05:14] #1480 closed

[2019-11-01 05:14] yikeke commented on #1002
Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~ @gitplyx

[2019-11-01 05:14] #1002 closed

[2019-11-01 05:23] yikeke commented on #1411
Updated in https://pingcap.com/docs-cn/dev/reference/tools/pd-control/#%E7%AE%80%E5%8D%95%E4%BE%8B%E5%AD%90.

[2019-11-01 05:23] #1411 closed

[2019-11-01 10:38] yikeke commented on #1452
Because this issue is too old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-01 10:38] #1452 closed

[2019-11-02 07:02] yilongrong opened #2008 "if the parameter should be tidb_slow_query_file?"
File: [v3.0/how-to/maintain/identify-slow-queries.md](https://pingcap.com/docs-cn/v3.0/how-to/maintain/identify-slow-queries/)

执行时间超过slow-threshold的语句输出到slow-query-file(默认值：tidb-slow.log)日志文件中

when i check parameter in tidb cluster . i see the parameter should tidb_slow_query_file and the result is tidb_slow_query.log.

mysql> select @@tidb_slow_query_file;
+-------------------------------------

[2019-11-04 03:27] SE-Bin commented on #193
@lifw555 请问使用的是什么版本，我这边在 3.0.3 版本能复现。正在进一步排查。感谢反馈。

[2019-11-04 03:30] TomShawn commented on #2008
@AilinKid PTAL, thanks.

[2019-11-04 03:31] AilinKid commented on #2008
OK，thanks for reminding.

[2019-11-04 04:35] AilinKid commented on #2008
Thanks for reporting, I've checked it finding that the default value is ok in early/recently release version of 3.0.
If you change the file name in config toml, it will show the same thing here(`select @@tidb_slow_query_file;`).

[2019-11-04 05:19] #1987 closed

[2019-11-04 07:13] yikeke commented on #1782
Because this issue is old, I'll close it for now. Feel free to reopen it if you have any further questions~

[2019-11-04 07:13] #1782 closed

[2019-11-04 07:52] SE-Bin commented on #193
@lifw555 预计在下个版本会修复，详情可以留意这个 issue [https://github.com/pingcap/tidb/issues/13113](url)

[2019-11-05 03:10] yilongrong commented on #2008
thanks for you update. i didn't set this paramter. it's default value.
i mean if we need modify the  statement？

before modify：
执行时间超过slow-threshold的语句输出到slow-query-file(默认值：tidb-slow.log)日志文件中
after modify：
执行时间超过slow-threshold的语句输出到tidb_slow_query_file(默认值：tidb_slow_query.log)日志文件中

[2019-11-05 07:51] crazycs520 commented on #2008
@yilongrong, The content of the `Slow_query` system table is parsed from slow-log file.

The slow log output file path was set by `slow-query-file` in the `tidb.toml`, and the value of `slow-query-file` cannot be modified dynamically while TiDB is running, it is a config item.

By default, the content of `Slow_query` system table will be parsed from the file which is set by `slow-query-file` in th

[2019-11-05 09:39] navyaijm2017 opened #2016 "无效报警指标"
File: [v3.0/reference/alert-rules.md](https://pingcap.com/docs-cn/v3.0/reference/alert-rules/)
TiDB_schema_error的指标
tidb_session_schema_lease_error_total
TiKV_GC_can_not_work的指标
tidb_tikvclient_gc_action_resul

上面两个指标在Prometheus里面查不到，是不是指标名称已经变更或者不存在了，
tidb的版本：3.0.3

[2019-11-05 11:09] lonng commented on #2016
@navyaijm2017  名字没有变更
1. `tidb_session_schema_lease_error_total` 正常情况是不会有值的
2. `tidb_tikvclient_gc_action_result` 在 3.0 以上版本不会有值（3.0 引入了分布式 GC，GC 不会在 TiDB 执行）

[2019-11-05 11:14] navyaijm2017 commented on #2016
好的，感谢

[2019-11-05 11:38] #2016 closed

[2019-11-11 02:15] TomShawn commented on #2008
@yilongrong Has your issue been resolved?

[2019-11-12 02:43] xingliguang opened #2033 "学习TIDB DM遇到的问题，启动dm-worker提示 worker config contains unknown configuration options: dir"
## Question
参考文档链接：https://pingcap.com/docs-cn/stable/how-to/get-started/data-migration/
按照文档做实验，到如下步骤
1、启动单个 tidb-server 实例、每个 MySQL Server 实例 （总共 3 个实例）的 DM-worker 进程和一个 DM-master 进程：启动dm-worker实例报错如下：
parse cmd flags err: [code=40004:class=dm-worker:scope=internal:level=medium] worker config contains unknown configuration options: dir
意思是dm-cnf/dm-worker1.toml 配置文件中的dir 配置项是未知的，请问是什么问题呢？
实验系统：C

[2019-11-12 09:51] xingliguang commented on #2033
没有人解答吗

[2019-11-12 11:54] dcalvin commented on #2033
@WangXiangUSTC Can you help answer this?

[2019-11-13 03:49] WangXiangUSTC commented on #2033
麻烦把配置文件中 dir 这行注释掉，最新的配置中没有 dir 这个配置，可以看下这个文档：
https://pingcap.com/docs-cn/stable/reference/tools/data-migration/configure/dm-worker-configuration-file/

谢谢反馈，我们后面更新下教程 @xingliguang

[2019-11-13 08:35] xingliguang commented on #2033
好的，3Q

[2019-11-13 08:36] dcalvin commented on #2033
Thanks both. Closing this issue now.

[2019-11-13 08:36] #2033 closed

[2019-11-15 01:16] shurenb commented on #668
![image](https://user-images.githubusercontent.com/4859855/68909175-777f4e80-0788-11ea-8db4-e1449714f66a.png)
文档里没写单位，源码里面看应该是MB

[2019-11-15 07:04] #2008 closed

[2019-11-15 07:04] yilongrong commented on #2008
ok

[2019-11-19 06:32] yilongrong opened #2049 "how could I find the column mem for table processlist?"
File: [v3.0/reference/system-databases/information-schema.md](https://pingcap.com/docs-cn/stable/reference/system-databases/information-schema/#processlist-表)

PROCESSLIST 表会比 show processlist 多一个 MEM 列，MEM 是指正在处理的请求已使用的内存，单位是 byte

when i show this table processlist, there is no column mem . please show me , how to find mem column , thank you.
mysql> show create table processlist;
+-------------+

[2019-11-19 06:52] lilin90 commented on #2049
@crazycs520 The related content was added to docs-cn in #1488. Please help take a look. If the document also needs to be updated. Please update it with a PR. Thanks!

[2019-11-19 07:02] crazycs520 commented on #2049
@yilongrong , Which TiDB version you used?

[2019-11-19 07:31] yilongrong commented on #2049
v3.0.2

[2019-11-19 12:51] crazycs520 commented on #2049
@yilongrong   `MEM` was added in v3.0.5.

[2019-11-20 02:13] yilongrong commented on #2049
got it.  i think you'd better mark it in document.  thank you.

[2019-11-20 02:14] #2049 closed

[2019-11-20 03:15] lilin90 commented on #2049
@yilongrong The description is updated in https://github.com/pingcap/docs-cn/pull/2052.

[2019-11-21 02:50] xiepaup opened #2057 "使用参数 --nodeNum 2 创建 kind 集群会有问题"
File: [v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md](https://pingcap.com/docs-cn/v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind/)

VITOXIE-MB2:src vitomac$ kubectl get pvc -n app-vito
NAME                      STATUS    VOLUME              CAPACITY   ACCESS MODES   STORAGECLASS    AGE
pd-app-vito-domain-pd-0   Bound     local-pv-ed21d3ca   59768Gi

[2019-11-21 03:20] navyaijm2017 opened #2058 "tidb_tikvclient_gc_action_result指标在3.0不存在"
File: [v3.0/reference/alert-rules.md](https://pingcap.com/docs-cn/v3.0/reference/alert-rules/)

tidb_tikvclient_gc_action_result这个指标在3.0.4里面不存在，麻烦确认下吧

[2019-11-21 03:21] Yisaer commented on #2057
Hi, could you provide more detail about the status of kind cluster you created and the logs of `tidb-scheduler` pod ?
How about creating the kind cluster with default params or single node ( --nodeNum 1) ?

[2019-11-21 03:46] lilin90 commented on #2058
@navyaijm2017 Thanks for your feedback. It seems that it's the same issue as https://github.com/pingcap/docs-cn/issues/2016. @lonng PTAL

[2019-11-23 03:11] lilin90 commented on #2057
@xiepaup Please provide more information so we can help resolve your issue. ^_^

[2019-11-24 10:47] Fanduzi opened #2067 "show stats_healthy在[统计信息概述]文档中没有描述"
File: [v3.0/reference/performance/statistics.md](https://pingcap.com/docs-cn/v3.0/reference/performance/statistics/)
我在TiDB University课程-3.2 使用管理实操
19:38秒左右看到这个命令, 于是想去文档中搜一下, 但是没有搜到, 只在FAQ中搜到这个命令

该命令是要废弃了吗? 还是遗漏了?

既然是docs-cn , 希望回复用中文谢谢, 应该很少有外国人要看中文的TiDB文档并且来提Issue吧

[2019-11-25 03:12] lamxTyler commented on #2067
这个应该是漏写了，这几天会补一下

[2019-11-25 12:56] tennix opened #2073 "增加 Kubernetes 上 pump 部署最佳实践"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

    部署 TiDB Binlog 时，Pump 组件与 TiDB 组件并不是一一对应的，如果将 TiDB 与 Pump 分开部署，在 Ti

[2019-11-27 02:09] maosiyu opened #2077 "是否应该将 `每个唯一列` 改为 `每个唯一键`"
File: [v3.0/reference/sql/partitioning.md](https://pingcap.com/docs-cn/stable/reference/sql/partitioning/#%E5%88%86%E5%8C%BA%E9%94%AE%E4%B8%BB%E9%94%AE%E5%92%8C%E5%94%AF%E4%B8%80%E9%94%AE)

分区表的每个唯一列，必须包含分区表达式中用到的所有列。
是否应该将 `每个唯一列` 改为 `每个唯一键`
分区表的每个唯一键，必须包含分区表达式中用到的所有列。

[2019-11-27 08:44] tiancaiamao commented on #2077
Yes, you're right... would you like to file a PR? @maosiyu

[2019-11-27 15:14] Fanduzi opened #2080 "TiDB binlog文档中的savepoint是什么意思?"
File: [v3.0/reference/tidb-binlog/deploy.md](https://pingcap.com/docs-cn/v3.0/reference/tidb-binlog/deploy/)

这个`savepoint`在文档中并没有描述, 是指[这篇](https://pingcap.com/docs-cn/stable/reference/tidb-binlog/tidb-binlog-local/#%E6%B3%A8%E6%84%8F)的`-gen-savepoint`参数吗? 这应该已经是一个过期的参数和过期的文档吧?

在4.2 TiDB Binlog 安装部署实操 中是查看metadata的Pos值作为tso.

这是不是属于文档内容缺失?, 说实话如果没有视频真是不知道怎么做
而视频中的mydumper备份命令其实有问题
[code]
应当为
[co

[2019-11-28 03:21] CaitinChen commented on #2080
@july2993 PTAL. Thanks.

[2019-11-28 03:51] july2993 commented on #2080
savepoint 指对应快照的时间戳，做为 initial-commit-ts 参数启动 drainer.
这样全量+增量，具体获取方式其实看怎么生成全量数据，mydumper 就想你说的那样。

我们可以补充下使用 mydumper 的时候怎么获取的文档。

[2019-11-28 06:58] CaitinChen commented on #2080
@Fanduzi 请问你还有什么困惑吗?

[2019-11-28 09:05] Fanduzi commented on #2080
确实应该补充上, 毕竟是官方文档不是官方笔记

[2019-11-28 09:05] #2080 closed

[2019-11-29 09:16] anotherrachel commented on #1617
Thanks for your suggestion. The transaction-related docs have been updated in https://github.com/pingcap/docs-cn/pull/2045

[2019-11-29 09:17] anotherrachel commented on #1618
Thanks for your suggestion. The transaction-related docs have been updated in https://github.com/pingcap/docs-cn/pull/2045

[2019-11-29 09:17] #1618 closed

[2019-11-29 09:18] anotherrachel commented on #1617
Thanks for your suggestion. The transaction-related docs have been updated in https://github.com/pingcap/docs-cn/pull/2045.

[2019-11-29 09:18] #1617 closed

[2019-11-30 05:54] lilin90 commented on #2058
@lonng Please help update the documentation accordingly. Thanks a lot!

[2019-12-02 12:20] aylei opened #2092 "Document how to manage pump in `TidbCluster` CR"
## Feature Request

As per https://github.com/pingcap/tidb-operator/pull/1269

[2019-12-03 09:03] #2058 closed

[2019-12-06 15:11] CaitinChen commented on #2077
@tiancaiamao Could you help file a PR?

[2019-12-06 15:13] CaitinChen commented on #2080
@july2993 Could you help file a PR?

[2019-12-09 05:57] #2067 closed

[2019-12-11 06:53] #2077 closed

[2019-12-12 06:23] lilin90 commented on #2057
Hi @xiepaup, has your issue been resolved?

[2019-12-12 06:31] Fanduzi commented on #1297
我一个中国人看文档中的中文描述都不如看你这段英文看的明白清晰, 看这段英文描述一下就看懂了,你们是不是雇佣了很多母语不是中文的员工来写中文文档?

[2019-12-13 10:03] wd0517 opened #2120 "CREATE TEMPORARY TABLE 语法已经支持了"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://github.com/pingcap/docs-cn/blob/master/dev/reference/mysql-compatibility.md

2

[2019-12-13 10:06] wd0517 commented on #2120
额，看错了

[2019-12-13 10:06] #2120 closed

[2019-12-16 07:19] tshqin opened #2123 "使用 Ansible 缩容 PD 的文档最后需要增加删除 PD 部署目录的步骤"
https://pingcap.com/docs/v2.1/how-to/scale/with-ansible/#decrease-the-capacity-of-a-pd-node
该文档最后需要增加一步，清除 PD 部署目录

[2019-12-16 12:30] lilin90 commented on #1667
@DanielZhangQD 现在这块文档加了吗？如果还没有，烦请加一下~ Thanks!

[2019-12-16 12:32] lilin90 commented on #2057
@xiepaup You might have resolved this old issue and I'll close it. If not, feel free to reopen it.

[2019-12-16 12:32] #2057 closed

[2019-12-16 12:45] lilin90 commented on #2073
已在 https://github.com/pingcap/docs-cn/pull/2083 中增加至文档。

[2019-12-16 12:45] #2073 closed

[2019-12-16 12:57] lilin90 commented on #453
@zengqingfu1442 You might have resolved this old issue and I'll close it. If not, feel free to reopen it.

[2019-12-16 12:57] #453 closed

[2019-12-16 13:01] lilin90 commented on #193
@lifw555 I'll close this old issue now and feel free to reopen it if you still want to get some support.

[2019-12-16 13:01] #193 closed

[2019-12-16 13:11] lilin90 commented on #416
@meilihao "User Open Files Limit"、"Disk Readahead" 等操作系统参数已包含在以下两个英文文档中，提供了一个详细的表格：
- [Testing Deployment from Binary Tarball](https://pingcap.com/docs/stable/how-to/deploy/from-tarball/testing-environment/#operating-system-parameters)
- [Production Deployment from Binary Tarball](https://pingcap.com/docs/stable/how-to/deploy/from-tarball/production-environment/#operating-system-parameters)

若需查看

[2019-12-16 13:11] #416 closed

[2019-12-20 03:29] a598328656 opened #2129 "tidb在隔离级别疑惑"
阅读了官方文档：
https://pingcap.com/docs-cn/stable/reference/transactions/transaction-isolation/
只介绍了rr级别si级别的情况，希望说明下tidb隔离级别rc的具体实现，和mysql是否有异同点

[2019-12-20 07:12] liubo0127 commented on #2123
这样的话，TiKV 等其他组件也需要加一下吧

[2019-12-20 08:48] #2129 closed

[2019-12-21 07:05] alwaystest18 opened #2132 "建议不同版本可以有一个已知bug的列表文档"
File: [v3.0/releases/3.0-ga.md](https://pingcap.com/docs-cn/v3.0/releases/3.0-ga/)
建议不同版本可以有一个已知bug的列表文档，这样升级前可以参考，根据是否触发痛点决定是否要升级对应版本，比如我们觉得升级到最新版本可能不够稳定，GA版本是比较稳定的，升级了3.0.0的GA，然后升级后发现仍然有些问题，比如https://asktug.com/t/topic/2226/4，这就导致我可能在升级完后为了修复问题马上又得升级，如果我提前看到了就可以选择不升级到该版本，此外，像
![image](https://user-images.githubusercontent.com/11520372/71304533-1ee44680-2403-11ea-9c85-d30274b3507b.png)
这种描述也建议加到升

[2019-12-24 11:56] lilin90 commented on #2132
“建议不同版本可以有一个已知bug的列表文档，这样升级前可以参考” @scsldb PTAL

[2019-12-24 11:57] lilin90 commented on #2132
@liubo0127 请帮忙更新下相应的升级文档~ Thanks!

[2019-12-24 13:17] #1976 closed

[2019-12-25 09:28] breeswish opened #2140 "为 2.0 / 2.1 / 3.0 增加支持的下推函数列表"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

    应当以文档形式写清楚哪些函数是可以下推的，建议使用，哪些函数在这个版本上是不支持下推的，不建议使用（使用的话性能无法达到最优）。

2

[2019-12-26 03:21] yikeke commented on #2140
或许可以在这篇文档的基础上进行优化吗：[下推到 TiKV 的表达式列表](https://pingcap.com/docs-cn/stable/reference/sql/functions-and-operators/expressions-pushed-down/#%E4%B8%8B%E6%8E%A8%E5%88%B0-tikv-%E7%9A%84%E8%A1%A8%E8%BE%BE%E5%BC%8F%E5%88%97%E8%A1%A8) @breeswish @dcalvin

[2019-12-26 03:23] dcalvin commented on #2140
Thanks @yikeke. 我觉得可以 @breeswish 可以让 SIG 的小伙伴 review 下这个文档，提个 PR 吗？

[2019-12-26 05:58] breeswish commented on #2140
不好意思，我之前不知道有这篇文档  @yikeke  我觉得这个 issue 可以关闭，因为想提的建议就是类似于这篇文档的内容。

[2019-12-26 05:59] yikeke commented on #2140
好的，有问题欢迎再提，这个 issue 我先关了～ @breeswish @dcalvin

[2019-12-26 05:59] #2140 closed

[2019-12-30 10:45] DanielZhangQD commented on #1667
@lilin90  #2156 is submitted to fix this issue, sorry for the delay.

[2019-12-31 08:54] lysu opened #2158 "关键字和保留字文档缺少 window function 开启后关键字说明"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://pingcap.com/docs-cn/stable/reference/sql/language-structure/keywords-and-reser

[2020-01-02 03:01] CaitinChen commented on #2158
@lamxTyler Please help improve related documents. Thanks.

[2020-01-07 03:35] tshqin commented on #2123
还是需要改文档，增加操作步骤

[2020-01-07 07:09] yikeke commented on #606
Issue 较老，先关了，如有更多问题请重开～

[2020-01-07 07:09] #606 closed

[2020-01-07 07:15] yikeke commented on #1190
Is there any update on this issue? @breeswish @hicqu

[2020-01-08 03:14] datahoecn commented on #763
这是中间件的通病，可以选择硬负载均衡，比如 F5

[2020-01-08 06:55] #1667 closed

[2020-02-05 10:11] #2158 closed

[2020-02-07 09:56] xiemiaogit opened #2217 "如何查询分区表信息"
建了分区表，可以正常操作，但是貌似没有地方可以查看分区的信息，请问TIDB要如何查看。

[2020-02-07 14:54] lilin90 commented on #2217
@xiemiaogit 你看下[这个文档](https://pingcap.com/docs-cn/stable/reference/sql/partitioning/#%E5%88%86%E5%8C%BA%E9%80%89%E6%8B%A9)可以解决你的问题吗？

[2020-02-07 23:09] xiemiaogit commented on #2217
@lilin90 你好，文档看了，文档只是说可以查看某个分区下的具体数据。但我想看某张表有哪些分区，就像MySQL的partitions表那样。
我有注意到文档上说暂时不支持partitions表，所以有别的方式吗。

[2020-02-08 03:53] lilin90 commented on #2217
@tiancaiamao PTAL~ Thanks!

[2020-02-10 02:53] tiancaiamao commented on #2217
https://github.com/pingcap/tidb/pull/14347

这个 PR 之后的可以通过 infoschema 表里面去查看信息( TiDB 版本要求 master 或者还未发布的 4.0GA)。

之前的版本可以用

[code]

观察 plan 的结构，如果是 union 的就是分区表，否则是普通表。
@xiemiaogit

[2020-02-17 09:49] yikeke commented on #2123
麻烦帮忙看看文档是否需要修改，需要的话在 docs-cn 提个 PR 改下文档？@liubo0127

[2020-02-21 07:13] zhoudian64 opened #2265 "环境准备缺了go"
File: [dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md](https://pingcap.com/docs-cn/dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind/)

[2020-02-21 14:20] juliezhang1112 commented on #2265
@Yisaer Please help improve related documents. Thanks!

[2020-02-25 08:47] zwlsuperman opened #2304 "扩容tidb/tikv章节建议增加以下内容"
File: [v3.0/how-to/scale/with-ansible.md](https://pingcap.com/docs-cn/v3.0/how-to/scale/with-ansible/)

建议：
扩容 TiDB/TiKV 节点--初始化新增节点   中增加以下内容：
1、在hosts.ini中增加扩容的节点
2、增加新节点的认证操作
       ansible-playbook -i hosts.ini create_users.yml -u root -k
3、增加新节点的ntp服务
     ansible-playbook -i hosts.ini deploy_ntp.yml -u tidb -b

[2020-02-26 01:59] lilin90 commented on #2304
@liubo0127 Please take a look.
@zwlsuperman Thanks for your feedback! 你是否愿意直接提一个 PR 来增加所建议的内容呢？

[2020-02-26 03:03] liubo0127 commented on #2304
挺好的建议

[2020-02-27 08:02] zwlsuperman commented on #2304
@lilin90 好的.已提: https://github.com/pingcap/docs-cn/pull/2323

[2020-02-27 13:16] lilin90 commented on #2304
@zwlsuperman 👍但是 #2323 似乎有些问题，需要先 fork 这个 repo 再建 branch 提交 PR 哈，可以参考 [PR 提交流程](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#pull-request-%E6%8F%90%E4%BA%A4%E6%B5%81%E7%A8%8B)。建议 close 掉 #2323 重新提一个 PR~

[2020-02-29 03:24] chalvern opened #2340 "“但是有一个例外是如果你在 PREPARE 语句中使用它” 后面的内容衔接不上了"
File: [v3.0/reference/sql/language-structure/user-defined-variables.md](https://pingcap.com/docs-cn/v3.0/reference/sql/language-structure/user-defined-variables/)

“但是有一个例外是如果你在 PREPARE 语句中使用它” 紧接着的内容应该是少一部分，使得衔接不上。

[2020-02-29 03:57] lilin90 commented on #2304
@zwlsuperman 提 PR 过程中有遇到什么问题吗？可以先参考下[最新的贡献指南](https://github.com/pingcap/docs/blob/master/CONTRIBUTING.md#before-you-contribute)，或许能提供一些帮助，稍后[中文版](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md)也会更新。

[2020-02-29 04:08] lilin90 commented on #2340
@chalvern 谢谢反馈！那一句话确实不够明确完整，承接了上文的意思。你是否愿意直接提个 PR 帮忙改进呢？附 [PR 提交流程](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#pull-request-%E6%8F%90%E4%BA%A4%E6%B5%81%E7%A8%8B) 和[文档版本说明](https://github.com/pingcap/docs/blob/master/CONTRIBUTING.md#before-you-contribute)。

[2020-03-03 02:34] TomShawn commented on #2217
@xiemiaogit 以上回答解决你的问题了吗？

[2020-03-05 03:38] glkappe opened #2373 "错别字"
File: [v3.0/reference/best-practices/high-concurrency.md](https://pingcap.com/docs-cn/v3.0/reference/best-practices/high-concurrency/)

原文档文字：
create table t (a int, b int) shard_row_id_bits = 4 pre_split_regions=·3;
需要修改成
create table t (a int, b int) shard_row_id_bits = 4 pre_split_regions=3;
![image](https://user-images.githubusercontent.com/21033020/75945636-c7b82300-5ed5-11ea-9a82-1b9eab5bbd5

[2020-03-05 03:54] lilin90 commented on #2373
@glkappe Thanks for your feedback! 你是否愿意直接提一个 PR 来 fix typo 呢？可参考 [PR 提交流程](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#pull-request-%E6%8F%90%E4%BA%A4%E6%B5%81%E7%A8%8B) 以及[最新的贡献指南](https://github.com/pingcap/docs/blob/master/CONTRIBUTING.md#before-you-contribute)。

[2020-03-05 04:14] lilin90 commented on #2373
@glkappe Fixed in all versions now. Thanks for your feedback!

[2020-03-05 04:14] #2373 closed

[2020-03-05 09:16] hjk0205 opened #2381 "文字错误：解藕"
File: [dev/releases/4.0.0-beta.md](https://pingcap.com/docs-cn/dev/releases/4.0.0-beta/)
Slow Log 日志的级别与普通日志的级别解藕-》解耦

[2020-03-05 12:59] toutdesuite commented on #2381
@hjk0205  谢谢反馈！你是否愿意直接提个 PR 帮忙改进呢？附 [PR 提交流程](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#pull-request-%E6%8F%90%E4%BA%A4%E6%B5%81%E7%A8%8B) 和[文档版本说明](https://github.com/pingcap/docs/blob/master/CONTRIBUTING.md#before-you-contribute)。

[2020-03-06 09:12] #2381 closed

[2020-03-06 11:40] toutdesuite commented on #2381
@hjk0205 非常感谢你对文档的改进！

[2020-03-06 13:48] toutdesuite commented on #2304
@zwlsuperman The File [v3.0/how-to/scale/with-ansible.md](https://pingcap.com/docs-cn/v3.0/how-to/scale/with-ansible/) is updated. Thanks for your feedback!

[2020-03-06 13:49] #2304 closed

[2020-03-09 12:49] #2340 closed

[2020-03-12 08:00] glkappe opened #2449 "官方文档中关于监控项的描述缺失，建议补充下"
File: [v3.0/reference/key-monitoring-metrics/overview-dashboard.md](https://pingcap.com/docs-cn/v3.0/reference/key-monitoring-metrics/overview-dashboard/)

overview - PD 面板缺失 region health、hot write/read、region health report、99% region heartbeat latency

[2020-03-12 09:53] glkappe opened #2450 "namespace-classifier 参数说明更新"
File: [v3.0/reference/configuration/pd-server/configuration.md](https://pingcap.com/docs-cn/v3.0/reference/configuration/pd-server/configuration/)

文档中关于 pd 参数说明：
--namespace-classifier
指定 PD 使用的 namespace 分类器。
默认：“table”
如果 TiKV 不与 TiDB 集群配合运行，建议配置为 ‘default’。

论坛中关于 pd 参数说明：
配置 PD 配置文件，将 namespace-classifier = “default” (默认是 table)，默认 table 情况下，region merge 不会进行表表合并，所以在有大量的 drop/truncate table,

[2020-03-13 02:06] ran-huang commented on #2449
@breeswish PTAL~

[2020-03-13 02:13] ran-huang commented on #2450
@nolouch Hi, please help check if we need to update related documents😀

[2020-03-13 03:19] breeswish commented on #2449
@nolouch PTAL

[2020-03-15 10:26] glkappe opened #2470 "Lightning 部署文档命令问题"
File: [v3.0/reference/tools/tidb-lightning/deployment.md](https://pingcap.com/docs-cn/v3.0/reference/tools/tidb-lightning/deployment/)

文档中使用：
ansible-playbook bootstrap.yml &&
ansible-playbook deploy.yml
是不是不妥，对于现有集群是很不方便的，应该分开说明下吧。
譬如：
ansible-playbook deploy.yml -l lightning_name,importer_name

[2020-03-15 10:49] glkappe commented on #2470
还有部署 tidb-lightning 之前我为什么要执行 mydumper ，建议调整到 ansible 部署完毕，前面可以提醒，如果备份时间较长可以先行备份之列的。
算是易用优化？

[2020-03-15 10:55] glkappe opened #2471 "tidb-lightning 详细说明问题"
File: [v3.0/reference/tools/tidb-lightning/checkpoints.md](https://pingcap.com/docs-cn/v3.0/reference/tools/tidb-lightning/checkpoints/)

该配置文件位置是哪里？

[2020-03-16 02:45] anotherrachel commented on #2470
@kennytm Please take a look, thanks!

[2020-03-16 02:46] anotherrachel commented on #2471
@kennytm Please take a look, thanks!

[2020-03-16 08:48] XuHuaiyu opened #2477 "tidb 视图相对于 MySQL 功能或格式的局限性添加更多的细节"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

https://pingcap.com/docs-cn/stable/reference/sql/view/#%E5%B1%80%E9%99%

[2020-03-16 12:30] eurekaka opened #2481 "elaborate more on example of QBName optimizer hint"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

- [文档](https://pingcap.com/docs-cn/dev/reference/performance/optimizer-

[2020-03-16 12:38] eurekaka opened #2482 "cover more topics on SQL Plan Management documentation"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

目前 SPM 文档给出的内容还不够详细，有一些边界问题没有明确给出说明；

2. Please describe your suggestio

[2020-03-16 15:38] kennytm commented on #2471
Hi. The config file is part of the task config `tidb-lightning.toml`. You can find all configuration (including `[checkpoint]`) in https://pingcap.com/docs-cn/stable/reference/tools/tidb-lightning/config/#tidb-lightning-%E4%BB%BB%E5%8A%A1%E9%85%8D%E7%BD%AE.

[2020-03-18 03:11] imtbkcat opened #2496 "RBAC 文档描述不易操作，缺少场景说明"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

[RBAC 文档](https://pingcap.com/docs-cn/dev/reference/security/role-based

[2020-03-18 03:16] imtbkcat opened #2497 "LOAD DATA 文档描述补充参数说明和常见问题"
## Feature Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

1. Did you encounter a certain issue about the documentation? If yes, please describe the issue that relates to your feature request.

[LOAD DATA 文档](https://pingcap.com/docs-cn/dev/reference/sql/statements

[2020-03-18 06:26] anotherrachel commented on #2477
I have assigned this issue to you. I'll close this when you open the pull request. Thank you for refining this doc!

[2020-03-18 06:27] anotherrachel commented on #2481
I have assigned this issue to you. I'll close this when you open the pull request. Thank you for refining this doc!

[2020-03-18 06:27] anotherrachel commented on #2482
I have assigned this issue to you. I'll close this when you open the pull request. Thank you for refining this doc!

[2020-03-18 06:27] anotherrachel commented on #2497
I have assigned this issue to you. I'll close this when you open the pull request. Thank you for refining this doc!

[2020-03-18 06:28] anotherrachel commented on #2496
I have assigned this issue to you. I'll close this when you open the pull request. Thank you for refining this doc!

[2020-03-18 06:32] #2471 closed

[2020-03-18 09:17] huangbenben opened #2502 "文档格式混乱"
File: [v3.0/overview.md](https://pingcap.com/docs-cn/v3.0/overview/)

官方文档PDF版本的，1289-1293页表格部分格式混乱。
the official  document with the format of PDF,on page 1289 to 1293, the appearance of table is ugly.

[2020-03-18 09:22] glkappe opened #2503 "drainer 监控参数缺失"
File: [v3.0/reference/tidb-binlog/monitor.md](https://pingcap.com/docs-cn/v3.0/reference/tidb-binlog/monitor/)
drainer 监控参数说明中缺失该参数说明。

![image](https://user-images.githubusercontent.com/21033020/76944967-de7e6100-693c-11ea-8236-7b616eb3c53b.png)

[2020-03-18 14:14] anotherrachel commented on #2502
@YiniXu9506 Please help locate the problem, thanks!

[2020-03-19 03:14] anotherrachel commented on #2503
Fixed in https://github.com/pingcap/docs-cn/pull/2517.
Thank you for pointing it out!

[2020-03-19 03:15] #2503 closed

[2020-03-23 08:40] woniuzhang opened #2538 "修改时区为Asia/Shanghai并没有生效"
File: [v3.0/tidb-in-kubernetes/faq.md](https://pingcap.com/docs-cn/v3.0/tidb-in-kubernetes/faq/)

[2020-03-23 09:36] toutdesuite commented on #2538
@woniuzhang Thank you for pointing it out!

[2020-03-23 09:49] DanielZhangQD commented on #2538
@woniuzhang

1. What's the TiDB Operator version and TiDB Cluster version?
2. Did you execute both of the steps for a running cluster?

[code]

[2020-03-24 13:18] DanielZhangQD commented on #2538
@woniuzhang Have you resolved this issue?

[2020-03-25 01:52] woniuzhang commented on #2538
1）版本 tidb-cluster-v1.0.4       tidb-operator-v1.0.0
2）values.yaml，已修改配置

[2020-03-25 02:23] DanielZhangQD commented on #2538
`参考时区支持，修改 TiDB 服务时区配置。`，还需要做这一步，https://pingcap.com/docs-cn/stable/how-to/configure/time-zone/

[2020-03-25 03:07] woniuzhang commented on #2538
设置了全局变量time_zone，还是不生效

[2020-03-25 10:18] DanielZhangQD commented on #2538
麻烦拿一下一下信息：
[code]
如果按照 TiDB Operator 的时候 releaseName 用的不是 tidb-operator，请把 tidb-operator 替换成你的 releaseName。

[2020-03-26 07:35] woniuzhang commented on #2538
tc yaml
apiVersion: v1
items:
- apiVersion: pingcap.com/v1alpha1
  kind: TidbCluster
  metadata:
    annotations:
      pingcap.com/pd.tidb-cluster-pd.sha: cfa0d77a
      pingcap.com/tidb.tidb-cluster-tidb.sha: a4c4bb14
      pingcap.com/tikv.tidb-cluster-tikv.sha: 3a588779
    creationTimestamp: "2019-12-09T05:05:10Z"
    generation: 1
    labels:
      app.kubernetes.io/component: tidb-cluster

[2020-03-26 08:58] DanielZhangQD commented on #2538
The config in tc is still UTC:
`timezone: UTC`

Please follow the doc to finish the two steps once more and check the result.

[2020-03-26 09:28] woniuzhang commented on #2538
修改了tc 的timezone 为Asia/Shanghai，检查pod的TZ变量也修改了。但是数据库仍然没有生效
![image](https://user-images.githubusercontent.com/13342261/77631209-35141c80-6f87-11ea-8571-2464b8a8726f.png)

[2020-03-26 10:14] DanielZhangQD commented on #2538
https://pingcap.com/docs-cn/stable/how-to/configure/time-zone/，这步做了吗？
如果做了，请收集一下信息：
SELECT @@global.time_zone, @@session.time_zone;

另外，文档中也提到如下注意事项：
注意：

只有 Timestamp 数据类型的值是受时区影响的。可以理解为， Timestamp 数据类型的实际表示使用的是 (字面值 + 时区信息)。其它时间和日期类型，比如 Datetime/Date/Time 是不包含时区信息的，所以也不受到时区变化的影响。

[2020-03-27 07:02] #2496 closed

[2020-03-30 09:04] dxl3811051 opened #2584 "请问下如何更新docker部署的版本"
你好 我部署的是上个版本的docker  现在看到有更新，想更新一下，我做了如下操作，1、导出了数据库 2、删除镜像 3、重新拉去镜像 4、导入sql   现在的问题是新版本的数据库结构和之前的版本不一样  我改如何操作？

[2020-04-01 02:21] TomShawn commented on #2217
@xiemiaogit 为更好管理和跟进 issue，暂时关闭本 issue。如另有问题，欢迎提新的 issue。

[2020-04-01 02:21] #2217 closed

[2020-04-01 06:49] ran-huang commented on #2584
@liubo0127 PTAL~

[2020-04-01 07:47] ran-huang commented on #2584
@zz-jason PTAL, thanks!

[2020-04-01 07:51] #2584 closed

[2020-04-01 07:55] dxl3811051 commented on #2584
抱歉 我发错了地方 我问的另外一个问题！

[2020-04-02 07:41] michaeljinxq opened #2609 "部署建议点开后返回404"
文档地址如下
https://pingcap.com/docs-cn/stable/how-to/deploy/orchestrated/ansible/

点击【部署建议】后返回404页面

[2020-04-02 13:13] ran-huang commented on #2609
Hi, [部署建议](https://pingcap.com/docs-cn/stable/how-to/deploy/hardware-recommendations/)可以访问了，建议再试一下~

[2020-04-03 07:08] Kongdom opened #2622 "使用Ansible部署中遇见的问题"
File: [/how-to/deploy/orchestrated/ansible.md](https://pingcap.com/docs-cn/v3.0/how-to/deploy/orchestrated/ansible/)
问题1：
环境为阿里云服务器，Centos8
第 4 步：在中控机器上安装 TiDB Ansible 及其依赖
按照官方文档执行
cd /home/tidb/tidb-ansible && \
sudo pip install -r ./requirements.txt
提示sudo: pip: command not found
解决：
命令改为
cd /home/tidb/tidb-ansible && \
sudo pip2 install -r ./requirements.txt
可以正常执行，不知道对后续有什么影响

问题2：
第 6 步：在部署目

[2020-04-03 07:30] callmedba opened #2624 "忘记root密码,官文文档过于简洁,需参考asktug帖子才能最终解决问题"
File: [/reference/security/user-account-management.md](https://pingcap.com/docs-cn/v3.0/reference/security/user-account-management/)

期望可以在官网文档上附上以下链接，或修改官网文档
https://asktug.com/t/tidb-root-root/1708

[2020-04-03 14:21] ran-huang commented on #2624
感谢反馈~
请问您是否愿意提一个 PR 来修改这个部分呢😀 在官网点击[修改本文](https://github.com/pingcap/docs-cn/edit/release-3.0/reference/security/user-account-management.md)即可编辑原文。
![image](https://user-images.githubusercontent.com/59654584/78370514-51ecc780-75f9-11ea-818b-419da55068af.png)

[2020-04-07 03:22] liubo0127 commented on #2622
建议使用 centos/redhat 7，在该操作系统应该会有个指向 python2 的 python 文件，centos 8 目前还没有测试过

[2020-04-07 05:04] #2497 closed

[2020-04-08 09:00] Kongdom commented on #2622
感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"liubo"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月7日(星期二) 中午11:22
收件人:&nbsp;"pingcap/docs-cn"<docs-cn@noreply.github.com&gt;;
抄送:&nbsp;"长安"<1901506414@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [pingcap/docs-cn] 使用Ansible部署中遇见的问题 (#2622)

建议使用 centos/redhat 7，在该操作系统应该会有个指向 python2 的 python 文件，centos 8 目前还

[2020-04-08 11:27] piperck opened #2658 "重要的 sql_mode 值"
File: [/reference/sql/sql-mode.md](https://pingcap.com/docs-cn/v4.0/reference/sql/sql-mode/)
STRICT_TRANS_TABLES: 严格模式，对数据进严格校验，但数据出现错误时，插入到表中，并且返回错误。

但数据出现错误时 => 当数据出现错误时？

[2020-04-09 02:39] glkappe opened #2664 "admin show ddl job queries 'job_id' 命令错误，需要去掉引号"
File: [/faq/tidb.md](https://pingcap.com/docs-cn/v4.0/faq/tidb/)

https://pingcap.com/docs-cn/stable/faq/tidb/#514-%E5%A6%82%E4%BD%95%E6%9F%A5%E7%9C%8B-ddl-job

![image](https://user-images.githubusercontent.com/21033020/78852218-5593aa80-7a4e-11ea-9a80-4aca5905e5c4.png)

[2020-04-09 02:52] glkappe opened #2665 "关键字变更"
File: [/how-to/upgrade/from-previous-version.md](https://pingcap.com/docs-cn/v4.0/how-to/upgrade/from-previous-version/)

![image](https://user-images.githubusercontent.com/21033020/78852877-1c5c3a00-7a50-11ea-918d-d9d0a618cc4e.png)

v4.0.0-beta.2 换成 v4.0.0-rc

[2020-04-09 04:02] #2665 closed

[2020-04-09 04:04] yikeke opened #2669 "typo: tomestone -> tombstone"
## Bug 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://pingcap.com/docs-cn/v3.0/releases/2.1.17/
https://pingcap.com/docs-cn/v2.1/rel

[2020-04-09 04:07] TomShawn commented on #2658
感谢反馈~
请问您是否愿意提一个 PR 来修改这个部分呢😀 在官网点击[修改本文](https://github.com/pingcap/docs-cn/edit/release-4.0/reference/sql/sql-mode.md)即可编辑原文。
![image](https://user-images.githubusercontent.com/41534398/78856965-b45f2100-7a5a-11ea-899f-f44122e23212.png)

[2020-04-09 04:12] TomShawn commented on #2664
感谢反馈~
请问您是否愿意提一个 PR 来修改这个部分呢😀 在官网点击[修改本文](https://github.com/pingcap/docs-cn/edit/master/faq/tidb.md)即可编辑原文。
![image](https://user-images.githubusercontent.com/41534398/78857107-161f8b00-7a5b-11ea-95a6-636d23c4561e.png)

[2020-04-09 06:40] maosiyu opened #2674 "执行部署命令 修改"
File: [/how-to/deploy/orchestrated/tiup.md](https://pingcap.com/docs-cn/v4.0/how-to/deploy/orchestrated/tiup/)
https://pingcap.com/docs-cn/stable/how-to/deploy/orchestrated/tiup/#%E7%AC%AC-5-%E6%AD%A5%E6%89%A7%E8%A1%8C%E9%83%A8%E7%BD%B2%E5%91%BD%E4%BB%A4

### 原
[code]

### 建议改为
[code]

[2020-04-09 09:38] piperck commented on #2658
我提交了一个 PR 来尝试修复这个问题。

[2020-04-09 10:03] TomShawn commented on #2658
@piperck 非常感谢您的参与，文档 typo 已修复。

[2020-04-09 10:03] #2658 closed

[2020-04-10 04:55] glkappe opened #2699 "ansible 导入 tiup 和 edit-config 之后需要 reolad；增加必要的说明"
File: [/how-to/upgrade/using-tiup.md](https://pingcap.com/docs-cn/v4.0/how-to/upgrade/using-tiup/)
![image](https://user-images.githubusercontent.com/21033020/78963536-5e59ae80-7b2a-11ea-86b2-a8c3a2fab97f.png)
![image](https://user-images.githubusercontent.com/21033020/78963578-82b58b00-7b2a-11ea-8602-29490e8b91d7.png)

1. ansible 导入 tiup ansible目录将消失，建议用户自主备份一个
2.edit-config 之后需要 reolad；
增加必要的说明

[2020-04-10 09:25] toutdesuite commented on #2538
@woniuzhang 你的问题解决了吗？由于这个 issue 已经 15 天没有动态，现在先 close 了。如果还有问题，可以 reopen 这个 issue 继续反馈。

[2020-04-10 09:26] #2538 closed

[2020-04-10 09:58] TomShawn commented on #2674
@superlzs0476 PTAL, thanks!

[2020-04-10 10:58] glkappe commented on #2664
已经通过修改文本提交

[2020-04-12 04:59] glkappe opened #2709 "建议对 支持多目录存储 增加超链接"
File: [/reference/tiflash/deploy.md](https://pingcap.com/docs-cn/v4.0/reference/tiflash/deploy/)
建议对 `支持多目录存储` 增加超链接，方便检索，因为多目录部署不同于 tidb 其他组件的部署方式：

![image](https://user-images.githubusercontent.com/21033020/79060935-423a4680-7cbd-11ea-8094-e14dadfdf7cc.png)

[2020-04-13 10:30] toutdesuite commented on #2709
@glkappe Thanks for your feedback.

[2020-04-13 10:33] toutdesuite commented on #2709
@ilovesoup PTAL~ Thanks!

[2020-04-14 08:44] lilin90 opened #2733 "Add the BR repo link to its user guide"
Please describe your suggestion or addition.

给 [Backup & Restore (BR) 工具的使用文档](https://pingcap.com/docs-cn/stable/reference/tools/br/br/)里添加 [BR repo 的超链接](https://github.com/pingcap/br)，以便于用户查看。如下：

[code]

[2020-04-14 11:11] TomShawn commented on #2699
@superlzs0476 PTAL, thanks!

[2020-04-15 10:30] maosiyu opened #2767 "删除表分区旧数据语句错误"
File: [/reference/sql/partitioning.md](https://pingcap.com/docs-cn/v3.0/reference/sql/partitioning/)

应该是 TRUNCATE
[code]

不是DROP , DROP是删除表分区
[code]

[2020-04-15 15:08] toutdesuite commented on #2767
@maosiyu Thanks for your feedback~

[2020-04-15 15:13] tiancaiamao commented on #2767
drop 是对的呀，就是整个分区时间内的都不再需要了。
比如删除 1980 年以前的数据，可以直接 drop 掉 p0 分区
partition p0 values less than (1980-01-01)
partition p1 values less than (1981-01-01)
...

看具体的语境，如果用 truncate 掉数据留下一个空分区反而没啥意义

[2020-04-17 06:36] 5kbpers opened #2800 "Some documented optimizer hints are not implemented"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

reference/performance/optimizer-hints

2. How would you like to improve it?

Remove

[2020-04-17 06:41] 5kbpers commented on #2800
@zz-jason @lzmhhh123 @lysu PTAL

[2020-04-17 06:50] hunterlxt opened #2801 "更新 TiKV 重要监控指标文档"
## Change Request

https://pingcap.com/docs-cn/stable/reference/key-monitoring-metrics/tikv-dashboard/ 这里的指标很多已经过时，我们需要重新梳理并更新一下这个文档，特别是 TiKV 4.0 的部分需要更新。

[2020-04-20 03:05] ran-huang commented on #2767
@maosiyu Hi! Does the answer above resolve your issue?

[2020-04-20 08:18] ran-huang opened #2825 "mysql-compatibility.md 中 SQL 关键字没有大写"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://pingcap.com/docs-cn/dev/reference/mysql-compatibility/
https://pingcap.com/d

[2020-04-20 08:27] ran-huang opened #2826 "user-defined-variables.md 中 SQL 关键字没有大写"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://pingcap.com/docs-cn/dev/reference/sql/language-structure/user-defined-variab

[2020-04-20 09:45] #2709 closed

[2020-04-21 09:01] TomShawn opened #2847 "系统诊断表文档中，SQL 语句的执行结果需要加上 `sql` 标识符号"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

    在 SQL 诊断的系统表文档中，SQL 语句的执行结果未加上 `sql` 标识符号，使得结果中的一

[2020-04-23 08:12] 13662527421 opened #2870 "TiFlash 支持的计算下推"
具体是哪些函数不支持

[2020-04-23 08:22] ran-huang commented on #2870
@marsishandsome Hi, PTAL~
我们是否需要在 [TiFlash 支持的计算下推](https://pingcap.com/docs-cn/stable/reference/tiflash/use-tiflash/#tiflash-%E6%94%AF%E6%8C%81%E7%9A%84%E8%AE%A1%E7%AE%97%E4%B8%8B%E6%8E%A8) 这一节里具体列出*支持/不支持*的函数 ？

[2020-04-27 03:35] maosiyu commented on #2767
@tiancaiamao Hello, I think it is more consistent than the `DELETE` statement` TRUNCATE`, which is an operation on the data. Here can be considered from two scenarios
First: delete old data as stated in the document, permanently delete;
Second: If there is a problem with the uploaded data in the current business month, you need to clear it and replace it with the correct data. In this case, DROP d

[2020-04-28 09:30] shonge opened #2917 "TiDB/PD/TiKV 配置参数取值范围"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

PD、TiDB配置文件描述缺少取值范围：
https://pingcap.com/docs-cn/stab

[2020-04-28 12:32] TomShawn commented on #2917
@zz-jason @lzmhhh123 PTAL, thanks

[2020-04-29 16:54] #2801 closed

[2020-05-08 10:08] cyliu0 opened #2996 "Delete cipher suites which are not working"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

According to the [doc](https://github.com/pingcap/doc

[2020-05-08 10:10] cyliu0 commented on #2996
@lysu PTAL

[2020-05-08 12:59] #2996 closed

[2020-05-12 05:56] SunRunAway opened #3044 "日期和时间类型与英文版差距过大"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://pingcap.com/docs-cn/dev/reference/sql/data-types/date-and-time/

2. How woul

[2020-05-12 05:57] SunRunAway commented on #3044
@ran-huang PTAL, thanks.

[2020-05-12 05:58] wjhuang2016 commented on #3044
https://github.com/pingcap/docs-cn/pull/2853

[2020-05-12 09:59] ran-huang commented on #3044
@SunRunAway Thanks for pointing out😀
The Chinese version is under review in https://github.com/pingcap/docs-cn/pull/2853 and will be merged soon.

[2020-05-12 09:59] #3044 closed

[2020-05-13 10:34] #2481 closed

[2020-05-14 10:15] dbaspace opened #3107 "TIKV --3.0.8 DISPLAY -- "state_name": "Disconnected""
2020/05/14 18:10:29.300 +08:00] [ERROR] [kv.rs:732] ["KvService::batch_raft send response fail"] [err=RemoteStopped]
[2020/05/14 18:10:29.301 +08:00] [INFO] [kv.rs:706] ["batch_raft RPC is called, new gRPC stream established"]
[2020/05/14 18:10:29.377 +08:00] [ERROR] [kv.rs:726] ["dispatch raft msg from gRPC to raftstore fail"] [err=RaftServer(Transport(Full))]
[2020/05/14 18:10:29.377 +08:00] [ER

[2020-05-21 01:33] ramonli opened #3182 "Lost connection to MySQL server at 'reading initial communication packet'"
[it@hz-service-sz-2 ~]$ docker ps
[code]
[it@hz-service-sz-2 ~]$ mysql -h 127.0.0.1 -P 4000 -u root
`ERROR 2013 (HY000): Lost connection to MySQL server at 'reading initial communication packet', system error: 0`

[2020-05-21 02:08] TomShawn commented on #3182
@ramonli This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/), thanks!

[2020-05-21 02:08] ramonli commented on #3182
Follow the instruction of https://pingcap.com/docs-cn/stable/deploy-test-cluster-using-docker-compose/, and I got above message.

[2020-05-21 02:11] TomShawn commented on #3182
@ramonli Can you specify at which step this error occurs when you follow this document?

[2020-05-21 02:23] ramonli commented on #3182
在这一步就有错误信息了：
`[it@hz-service-sz-2 tidb-docker-compose]$  docker-compose up -d
tidb-docker-compose_pd0_1 is up-to-date
tidb-docker-compose_pd1_1 is up-to-date
Starting tidb-docker-compose_grafana_1 ...
tidb-docker-compose_pd2_1 is up-to-date
tidb-docker-compose_tidb-vision_1 is up-to-date
tidb-docker-compose_pushgateway_1 is up-to-date
Starting tidb-docker-compose_prometheus_1 ...
tidb-docker-compo

[2020-05-21 03:21] DanielZhangQD commented on #3182
@ramonli “bind: address already in use” 是端口被占用了，可以看一下。
另外，建议参考 tidb-operator kind 文档 https://pingcap.com/docs-cn/tidb-in-kubernetes/stable/deploy-tidb-from-kubernetes-kind/ 快速部署一套集群。

[2020-05-21 03:23] ramonli commented on #3182
我刚注意到了，把原来的prometheus和grafana都停了。mysql还是连不上。
`[it@hz-service-sz-2 tidb-docker-compose]$  docker-compose up -d
tidb-docker-compose_pd0_1 is up-to-date
tidb-docker-compose_pd1_1 is up-to-date
Starting tidb-docker-compose_prometheus_1 ...
tidb-docker-compose_pd2_1 is up-to-date
tidb-docker-compose_tidb-vision_1 is up-to-date
tidb-docker-compose_pushgateway_1 is up-to-date
Starting tidb-docker-compose

[2020-05-21 03:36] ramonli commented on #3182
我现在弄不了k8s环境，没辙。

[2020-05-21 08:20] DanielZhangQD commented on #3182
@ramonli 你是在 Windows 上部署的吗？Windows 不一定支持。
另外发现之前有类似的问题 https://github.com/pingcap/tidb/issues/10650

如果不是 Windows，麻烦拿一下 pd, tidb 和 tikv 的 log。
另外，用 kind 的话可以单机起一套 k8s, 不需要自己搞一套。

[2020-05-25 03:51] ramonli opened #3303 "关于分布式场景下如何支持join的资料"
抱歉，我大约过了下tidb的官方文档，但是没有找到关于分布式场景下tidb如何支持join的相关介绍。 我现在理解的是每个tikv实际持有的都是全量数据，只不过region的leader是大约平均分布在各个节点。比如A join B，如果A的一个leader region与能够match到的B的 leader region不在同一个tikv节点上，这个join是怎么处理的？ join应该不会跨节点吧？ 或者哪里有相关文档可以看到？

[2020-05-27 03:20] toutdesuite commented on #3303
@zz-jason PTAL thanks

[2020-05-29 09:02] yinchuang opened #3410 "能否提供基于云服务商提供的负载均衡的最佳实践，不想再买单独的机器部署keepalive+haproxy。"
File: [/best-practices/haproxy-best-practices.md](https://pingcap.com/docs-cn/v4.0/best-practices/haproxy-best-practices/)

[2020-05-30 13:59] wwar commented on #2825
See also: https://github.com/pingcap/docs/issues/699

[2020-05-31 13:53] toutdesuite commented on #3410
@superlzs0476 PTAL, thanks

[2020-06-01 06:56] navyaijm2017 opened #3427 "监控指标丢失"
File: [/tidb-binlog/monitor-tidb-binlog-cluster.md](https://pingcap.com/docs-cn/v3.0/tidb-binlog/monitor-tidb-binlog-cluster/)
版本：3.0.14
下面这两个指标是变了嘛，在prometheus上查不到
binlog_pump_storage_error_count、binlog_drainer_checkpoint_tso

[2020-06-02 03:11] ran-huang commented on #3427
@july2993 PTAL. Thanks!

[2020-06-02 03:15] july2993 commented on #3427
都有的，可以再确认下

[2020-06-02 03:26] navyaijm2017 commented on #3427
嗯呢，binlog_drainer_checkpoint_tso有的，binlog_pump_storage_error_count应该是没有错误就不会有，谢谢

[2020-06-02 04:20] #3427 closed

[2020-06-03 09:41] ramonli commented on #3303
@zz-jason any update?

[2020-06-03 09:46] zz-jason commented on #3303
现在 Join 不会垮结点。如果用了 TiFlash 的话，Join 可以下推到 TiFlash 上，能做类似小表广播的 Join，执行速度会快很多，也能避免 TiDB OOM

[2020-06-05 09:32] yinchuang opened #3523 "leader-weigh 找了半天，没找到调整参数的地方。"
File: [/best-practices/pd-scheduling-best-practices.md](https://pingcap.com/docs-cn/v4.0/best-practices/pd-scheduling-best-practices/)

[2020-06-08 02:37] cxg-git opened #3549 "TiUP部署单机模拟集群TiDB v4.0.0（第三种方案），出现如下问题"
File: [/quick-start-with-tidb.md](undefined/zh/tidb/v4.0/quick-start-with-tidb)

1、执行tiup cluster deploy TiDB-SJZT v4.0 ./topo.yaml --user root
未出现官网文档中输入SSH密码选项，导致安装失败，需手动配置SSH免密才可继续下面步骤。
![image](https://user-images.githubusercontent.com/57425002/83987738-dc440580-a973-11ea-8ddf-e8cf3441490c.png)

2、初始化集群，复制集群文件时，卡死在复制PD文件中，其余文件均已复制好
![image](https://user-images.githubusercontent.com/57425002/83

[2020-06-08 03:27] TomShawn commented on #3549
@kissmydb @lonng @superlzs0476 Please take a look, thanks!

[2020-06-08 04:09] lonng commented on #3549
@cxg-git Thanks your feedback, please use `tiup cluster deploy TiDB-SJZT v4.0 ./topo.yaml --user root -p` if you use the password to deploy a cluster.

We will update the documentation.

[2020-06-08 05:04] #3182 closed

[2020-06-08 05:07] TomShawn commented on #3523
@disksing PTAL, thanks!

[2020-06-08 05:07] TomShawn commented on #3549
@cxg-git Does the answer above address your issue?

[2020-06-08 05:11] TomShawn commented on #3107
@dbaspace **This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

[2020-06-08 05:53] disksing commented on #3523
You can use the `store weight` command of `pd-ctl`. Check document here: https://pingcap.com/docs-cn/stable/pd-control/#store-delete--label--weight--remove-tombstone--limit--limit-scene-store_id---jqquery-string

[2020-06-08 05:53] cxg-git commented on #3549
Think you! 上述答案已解决我的问题。

[2020-06-08 05:57] #3549 closed

[2020-06-08 06:03] TomShawn commented on #3523
@yinchuang Does the comment above address your issue?

[2020-06-08 06:03] yinchuang commented on #3523
感谢

[2020-06-08 06:03] #3523 closed

[2020-06-08 06:27] lichunzhu commented on #3549
Related document has been updated in https://github.com/pingcap/docs-cn/pull/3540.

[2020-06-09 08:50] yikeke opened #3576 "Reorganize FAQ related docs"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

https://docs.pingcap.com/zh/tidb/dev/tidb-faq
https:/

[2020-06-09 08:50] yikeke commented on #3576
@kissmydb 之后会帮忙优化 FAQ 和故障诊断 的相关文档

[2020-06-10 02:06] yinchuang opened #3579 "我理解region的Replica和副本是同一个意思，但是文章中一会副本，一会Replica给人的感觉就是两个东西"
File: [/tidb-scheduling.md](https://pingcap.com/docs-cn/v4.0/tidb-scheduling/)

[2020-06-10 02:14] TomShawn commented on #3579
@nolouch What do you think? PTAL, thanks!

[2020-06-10 15:55] YuhuaDeng opened #3595 "can't download pdf"
File: [/scale-tidb-using-tiup.md](undefined/zh/tidb/v4.0/scale-tidb-using-tiup)

when I click the download link
https://download.pingcap.org/tidb-v4.0-zh-manual.pdf

I got following error message
`
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>2B22A7FA9A6E4DA8</RequestId>
<HostId>yrNPAjD5iMQIRwc595xE5B8eNdVPND963+3UBbsgFv+erAHpPPvSG62yq9szgDGby/IButxA5p4=</HostId>
<

[2020-06-11 02:14] TomShawn commented on #3595
@YuhuaDeng Thanks for opening an issue. Personally, I can download the PDF by clicking the link you have provided both on my laptop and on my phone (using Wifi or cellular). @YiniXu9506 PTAL, thanks!

[2020-06-11 15:47] HuGanghui commented on #2847
I am on it

[2020-06-12 02:20] #2847 closed

[2020-06-12 02:20] TomShawn commented on #2847
Thanks very much!

[2020-06-12 03:30] HunDunDM commented on #3579
I understand that they mean the same thing, and I think they can be unified.

[2020-06-12 03:41] kpioneer123 opened #3608 "-bash: tidb: command not found"
File: [/quick-start-with-tidb.md](undefined/zh/tidb/v4.0/quick-start-with-tidb)

[2020-06-12 03:42] kpioneer123 commented on #3608
在centos 按第一种部署 报上面的错

[2020-06-12 03:47] TomShawn commented on #3608
@kpioneer123 可否将你所遇到的`上面的错`发到 issue 中来呢？

[2020-06-12 03:49] TomShawn commented on #3608
@kpioneer123 可否详细说明您在使用 https://docs.pingcap.com/zh/tidb/dev/quick-start-with-tidb 该文档中的哪一步，或者哪一条命令时出现的 `-bash: tidb: command not found`错误呢？

[2020-06-12 07:05] buptxiaomiao opened #3614 "关于TIDB的系统变量tidb_force_priority"
File: [/tidb-specific-system-variables.md](undefined/zh/tidb/v3.0/tidb-specific-system-variables)

参见文档https://docs.pingcap.com/zh/tidb/v3.0/tidb-specific-system-variables#tidb_force_priority

文档中描述tidb_force_priority为session级的变量

实际在tidb 3.0.12版本中
默认为NO_PRIORITY

按时间顺序：
sessionA执行 set session tidb_force_priority = ‘LOW_PRIORITY’;

sessionB中
show variables like ‘tidb_force_priority’ 显示为 ‘LOW_PRIOR

[2020-06-12 11:53] TomShawn commented on #3614
@zz-jason PTAL thanks!

[2020-06-15 02:15] buptxiaomiao commented on #3614
![image](https://user-images.githubusercontent.com/17767543/84611678-23407680-aef1-11ea-9d59-cfd8d348bce0.png)

[2020-06-15 03:44] salahgao opened #3651 "Win10 Chrome 4.0文档更新后阅读体验问题"
## Change Request

1. 目录宽度太短，折叠严重，影响目录导航
2. 中间内容跨度太短，阅读体验较差

[2020-06-15 05:58] TomShawn commented on #3614
@cfzjywxk PTAL, thanks!

[2020-06-15 07:15] BusyJay opened #3654 "backup 过程中允许 GC"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://github.com/pingcap/docs-cn/blob/master/br/backup-and-restore-tool.md#%E5%A2%

[2020-06-15 08:17] YuJuncen commented on #3654
OK, 改成 “GC safepoint 必须在 `lastbackupts` 之前” 如何？(#3656 )

[2020-06-15 08:54] BusyJay commented on #3654
LGTM

[2020-06-17 14:19] toutdesuite commented on #3651
@YiniXu9506 PTAL, thanks~

[2020-06-23 04:56] #3654 closed

[2020-06-28 02:32] glkappe commented on #668
hi，In the link to tidb http api, I did not see how to check the storage capacity of the database and tables.

https://github.com/pingcap/tidb/blob/master/docs/tidb_http_api.md

[2020-06-29 02:51] cln19921024 opened #3808 "tispark查询数据库报错"
20/06/29 10:48:02 ERROR DAGIterator: Process region tasks failed, remain 0 tasks not executed due to
com.pingcap.tikv.exception.GrpcException: [components/tidb_query/src/batch/runner.rs:83]: BatchSelectionExecutor: Evaluate error: [components/tidb_query/src/rpn_expr/types/expr_builder.rs:26]: Unsupported type: Unspecified
	at com.pingcap.tikv.region.RegionStoreClient.handleCopResponse(RegionStoreC

[2020-06-29 02:53] #3808 closed

[2020-06-29 02:58] cln19921024 opened #3809 "tispark查询数据库报错"
20/06/29 10:48:02 ERROR DAGIterator: Process region tasks failed, remain 0 tasks not executed due to
com.pingcap.tikv.exception.GrpcException: [components/tidb_query/src/batch/runner.rs:83]: BatchSelectionExecutor: Evaluate error: [components/tidb_query/src/rpn_expr/types/expr_builder.rs:26]: Unsupported type: Unspecified
	at com.pingcap.tikv.region.RegionStoreClient.handleCopResponse(RegionStoreC

[2020-06-29 03:20] TomShawn commented on #3809
@cln19921024 是否是在按照文档步骤进行操作时产生的呢？如果是，请附上相应的文档链接和写明文档中具体的步骤。本 repo 只处理和文档相关的 issue，其他技术 issue，可移步 [tispark repo](https://github.com/pingcap/tispark/issues)。

[2020-06-29 03:49] cln19921024 commented on #3809
你好：
&nbsp; 由于公司需要，尝试搭建tispark环境。均按照文档操作。目前搭建了两个环境，但两个环境测试均报region错误。
&nbsp; 环境1：
&nbsp; &nbsp; &nbsp;由TiDB Ansible&nbsp;自动集成。
&nbsp; 环境2：
&nbsp; &nbsp; &nbsp;由tiup搭建tidb集群，手动搭建&nbsp;Standalone 模式的 Spark 集群，部署tispark,参考文档
&nbsp; &nbsp; &nbsp;https://docs.pingcap.com/zh/tidb/v4.0/tispark-overview
&nbsp; &nbsp; &nbsp;文档具体步骤如下：
&nbsp; &nbsp; 1.安装jdk(1.8.0)
&nbsp; &nbsp; 2.安装scala(2.11.12)
&nbsp; &nbsp

[2020-06-29 08:05] TomShawn commented on #3809
@marsishandsome PTAL, thanks!

[2020-07-04 08:01] fish778 opened #3887 "Unknown column 'password' in 'field list'"
当我用BR备份表的时候报错：
[error="[planner:1054]Unknown column 'password' in 'field list'"]
[SQL="select HIGH_PRIORITY Host,User,Password,Alter_routine_priv, Select_priv, Create_user_priv, Trigger_priv, Process_priv, Grant_priv, Index_priv, Create_tmp_table_priv, Insert_priv, Update_priv, Delete_priv, Create_role_priv, Drop_role_priv, Lock_tables_priv, Shutdown_priv, Create_priv, Drop_priv, References_priv,

[2020-07-06 03:24] toutdesuite commented on #3887
@3pointer PTAL, thanks~

[2020-07-06 04:33] fish778 commented on #3887
下面是完整的日志：
[2020/07/06 00:29:31.121 -04:00] [INFO] [version.go:26] ["Welcome to Backup & Restore (BR)"]
[2020/07/06 00:29:31.122 -04:00] [INFO] [version.go:27] [BR] [release-version=v4.0.0-beta]
[2020/07/06 00:29:31.122 -04:00] [INFO] [version.go:28] [BR] [git-hash=0c1dea4d905e7b115019698574b958c9cdf9648e]
[2020/07/06 00:29:31.122 -04:00] [INFO] [version.go:29] [BR] [git-branch=HEAD]
[2020/07/06 00

[2020-07-10 12:13] glorv commented on #3887
@fish778  感谢反馈，这个问题已经 fix 了，麻烦更新一下最新版的 br, 应该就不会在出现了

[2020-07-16 06:00] qdice007 opened #3977 "2020-07-16 13:59 文档的PDF文件无法下载,提示 {"error":"Document not found"}"
File: [/_index.md](https://docs.pingcap.com/zh/tidb/stable)

[2020-07-17 08:13] ran-huang commented on #3977
Hi，感谢反馈！PDF 下载已经恢复正常~

[2020-07-21 10:20] 92hackers opened #4022 "推荐一个更好用的翻译工具用来翻译 Tidb 文档"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

在 Github 上参与翻译工作，在翻译时，还需要先学会 Markdown 语法，这本是不应该的。而且一旦

[2020-07-21 11:11] lilin90 commented on #4022
@92hackers 非常感谢你提供的工具！我们会结合项目需求来评估一下，如果有问题再向您请教~

[2020-08-04 03:02] #3887 closed

[2020-08-04 03:03] #3977 closed

[2020-08-05 05:46] ran-huang commented on #3595
The AccessDenied error should be just temporary.
You might have resolved this old issue and I'll close it. If not, feel free to reopen it.

[2020-08-05 05:46] #3595 closed

[2020-08-05 06:01] ran-huang commented on #3410
@yinchuang If you want to deploy your cluster on public cloud, please try [TiDB Operator](https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/tidb-operator-overview). 😄
We have docs on how to deploy on [AWS](https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/deploy-on-aws-eks)/[GCP](https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/deploy-on-gcp-gke)/[Alibaba Cloud](https://docs.pingcap.com/zh/tid

[2020-08-05 06:03] ran-huang commented on #3579
@yinchuang Thanks for pointing out!
We should definitely unify these terms. Would you like to help update the words in this document? 😆

[2020-08-05 06:08] ran-huang commented on #3303
I'll close this old issue now. Please feel free to reopen it if you still want some support.
You are also welcome to seek help from [AskTUG](https://asktug.com/) 😁

[2020-08-05 06:08] #3303 closed

[2020-08-05 06:32] ran-huang commented on #2870
[TiFlash 支持的计算下推](https://docs.pingcap.com/zh/tidb/stable/use-tiflash#tiflash-%E6%94%AF%E6%8C%81%E7%9A%84%E8%AE%A1%E7%AE%97%E4%B8%8B%E6%8E%A8) has added description about the unsupported expressions.

I'll close this issue now. But if you need more support, feel free to reopen it.

[2020-08-05 06:32] #2870 closed

[2020-08-05 06:46] ran-huang commented on #2800
@5kbpers This doc has been updated for several times since you opened this issue. Is this issue resolved, or do you have any update?

[2020-08-06 04:01] leoppro opened #4212 "缺失相关文档：tikv-importer 如何开启 pull metrics 模式的文档"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

缺失相关文档：tikv-importer 如何开启 pull metrics 模式的文档，建议加一个 Q&

[2020-08-07 08:10] ran-huang commented on #4212
@kennytm PTAL, thanks!

[2020-08-07 08:14] kennytm commented on #4212
this should be handled in #4094? https://github.com/Joyinqin/docs-cn/blob/d261a3932ed7aacb3dd73ee1f7f56390bcea6eef/tidb-lightning/monitor-tidb-lightning.md is only talking about pull mode.

[2020-08-21 03:04] #2664 closed

[2020-08-26 05:58] ran-huang commented on #3651
@salahgao Hi, thank you for your feedback!
We have optimized the menu bar and made it more readable. You can check it out here 👉 [TiDB 简介](https://docs.pingcap.com/zh/tidb/dev/overview).

I'm closing this issue now, but if you have any other question, feel free to reopen it/create a new issue. Thanks again! 😁

[2020-08-26 05:58] #3651 closed

[2020-08-27 02:47] HydraLee opened #4354 "描述性问题"
File: [/tiflash/use-tiflash.md](https://docs.pingcap.com/zh/tidb/stable/use-tiflash)

`不往断连中、下线中、繁忙、空间不足、在大量收发 snapshot 等各种异常状态的 Store 添加副本`

上述描述第一次阅读很容易引起歧义,建议修改成

`不向处于断连,下线,繁忙,空间不足,大量收发snapshot等各种异常状态的store添加副本`

[2020-08-27 03:05] ran-huang commented on #4354
感谢反馈～
这句话出现在[PD 调度策略最佳实践 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/v3.1/pd-scheduling-best-practices#%E8%B0%83%E5%BA%A6%E6%B5%81%E7%A8%8B)中，请问您是否愿意提一个 PR 来直接修改它呢 😆

[2020-09-08 09:39] miaomiao-sangfor opened #4455 "pdf版本文档可用性不高"
下载pdf版本的文档后发现，当前的pdf版本文档易用性很差。

[2020-09-08 09:42] ran-huang commented on #4455
Hi，感谢您的反馈！
我们的文档正在持续改进中，请问目前的 PDF 哪些地方让您感觉易用性较差呢？

[2020-09-16 05:53] #4354 closed

[2020-09-24 07:54] glkappe commented on #2699
any update？

[2020-09-24 08:00] kennytm commented on #2470
PTAL @3pointer

[2020-09-24 08:13] TomShawn commented on #2699
@lonng @lucklove PTAL, thanks!

[2020-09-24 08:19] lucklove commented on #2699
The ansible directory will be backed up as .ansible in TiUP's cluster directory, we hide it because if the user try to operate the cluster after imported to TiUP, the data will be inconsistent.
We approve the second suggestion.

[2020-09-25 07:28] slow-zhang opened #4598 "tiup bench tpch prepare error: Error 1054: Unknown column 'C_CUSTKEY' in 'field list'"
File: [/tiup/tiup-bench.md](https://docs.pingcap.com/zh/tidb/dev/tiup-bench)

run command: tiup bench tpch --sf=10 prepare -H "xx.xx.x5.109" -P 4000

cluster info

tidb Cluster: vai-aor-tidb01
tidb Version: v4.0.4
ID                    Role        Host            Ports        OS/Arch       Status   Data Dir                    Deploy Dir
--                    ----        ----            -----

[2020-09-25 08:08] #2609 closed

[2020-09-25 08:09] lilin90 commented on #4598
@lucklove PTAL~

[2020-09-25 08:13] TomShawn commented on #3608
@lucklove 请看看这个 issue，是在 CentOS 系统中使用 TiUP Playground 快速部署本地测试环境，出现 `-bash: tidb: command not found` 的错误，是这样吧？ @kpioneer123

[2020-09-25 08:17] TomShawn commented on #3107
@dbaspace Looks like the error you have encountered is not related to documentation. Feel free to open an issue in [Issues · tikv/tikv](https://github.com/tikv/tikv/issues).

[2020-09-25 08:17] #3107 closed

[2020-09-25 08:20] #2699 closed

[2020-09-25 08:22] TomShawn commented on #2767
@tiancaiamao What do you think?

[2020-09-25 09:28] lucklove commented on #4598
@zjuMrzhang Can you provide more command line output about this?

[2020-09-25 09:32] mahjonp commented on #4598
And could you please tell the tiup bench version that you use? I cannot reproduce the issue on my local machine.

[2020-09-27 02:22] tiancaiamao commented on #2767
This is exactly the case stated in the document.

I've said '看具体的语境', it's not the second scenario as you described.

[2020-09-27 02:36] slow-zhang commented on #4598
[code]

[2020-09-27 02:39] slow-zhang commented on #4598
[code]

[2020-09-27 02:39] slow-zhang commented on #4598
v1.1.2 tiup
Go Version: go1.13
Git Branch: release-1.1
GitHash: 7cb85b9-dirty

[2020-09-27 02:43] slow-zhang commented on #4598
in building tidb cluster, i find tidb cannot start with error: timezone error
i change timezone from -7 to +8 using
`rm /etc/localtime && ln -sf /usr/share/zoneinfo/Asia/Shanghai /etc/localtime`

[2020-09-27 03:46] TomShawn commented on #2767
@maosiyu Has the answer above addressed your question?

[2020-09-27 05:59] mahjonp commented on #4598
I guest that you ran `tiup bench tpcc prepare` previously, I recommend you clean up database(`tiup bench tpcc cleanup`) and try again.

[2020-09-27 07:37] lucklove commented on #3608
现在还能复现吗？这都过去好久了。。。

[2020-09-27 07:54] TomShawn commented on #3608
@lucklove 感谢！
@kpioneer123 在过去几个月里，TiDB playground 经过了重构。如果您重新尝试后仍出现问题，欢迎提新的 issue！

[2020-09-27 07:54] #3608 closed

[2020-09-28 07:11] lilin90 commented on #2733
Since the repo link has been added, I'll close this issue.

[2020-09-28 07:11] #2733 closed

[2020-09-28 07:29] lilin90 commented on #4212
@leoppro Has your issue been resolved? See [TiDB Lightning 监控告警](https://docs.pingcap.com/zh/tidb/stable/monitor-tidb-lightning).

[2020-09-30 06:48] zhenxingCN opened #4635 "使用 TiUP cluster 在单机上模拟生产环境部署命令报错"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

第二种：使用 TiUP cluster 在单机上模拟生产环境部署步骤
- 执行集群部署命令：
  - `tiup cluster deploy <cluster-name> <tidb-version> ./topo.yaml --user root -p`
    - 上面面这条命令没加`--no-labels`会报如下错:
    - `multiple TiKV instances are deployed at the same host but location label missing`

[2020-09-30 07:13] yikeke commented on #4635
Hi @lucklove , can you take a look?

[2020-10-07 18:21] wanjuntham commented on #2826
请问我可以解决这个issue吗
May I take up this issue please?

[2020-10-09 02:23] ran-huang commented on #2826
@wanjuntham Of course 😁

[2020-10-09 05:25] wanjuntham commented on #2826
Thank you, please assign this issue to me, I will create PR once I solved this

[2020-10-09 05:26] ran-huang commented on #2826
/assign wanjuntham

[2020-10-09 18:18] wanjuntham commented on #2826
I have a question here
Do I need to create multiple PR to merge to different releases?
The `user-defined-variables.md` seems to be different among all releases.

[2020-10-10 02:19] ran-huang commented on #2826
@wanjuntham Thank you for your contribution!

- **If the changes are all the same across different releases**, you can create a PR on the `master` branch and then add the `needs-cherry-pick-<version>` label to the PR. The @ti-srebot bot will automatically cherry-pick the changes to other branches when the PR is merged.

- **If the changes are different in each release**, you may have to create mul

[2020-10-10 03:05] wanjuntham commented on #2826
I dont think I have the permissions to add label to the PR, but I just modified the versions that my changes apply to.
For #4649 it will be only for release 2.1, while for #4647 It will be for all releases except release 2.1.

[2020-10-10 06:41] #2826 closed

[2020-10-10 07:05] ran-huang opened #4654 "Improve the contributing guide"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

  -  In the current [contributing guide|中文翻译任务的认领方式](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#%E4%B8%AD%E6%96%87%E7%BF%BB%E8%AF%91%E4%BB%BB%E5%8A%A1%E7%9A%84%E8%AE%A4%E9%A2%86%E6%96%B9%E5%BC%8F), contributors need to @ yikeke to claim a task.
  - Contributors have no idea of how to

[2020-10-10 07:06] ran-huang commented on #4654
@lilin90 @yikeke

[2020-10-10 08:37] yikeke commented on #4654
The guide is out of date. I'll update them.

[2020-10-11 14:25] lucklove commented on #4635
Sorry that the document is out of date, I have update it: https://github.com/pingcap/docs-cn/pull/4656

[2020-10-13 06:17] suhx5090 opened #4666 "How to deal with this error?pd 192.168.182.128:2379 failed to start: timed out waiting for port 2379 to be started after 2m0s, please check the log of the instance"
第二种：使用 TiUP cluster 在单机上模拟生产环境部署步骤：
2020-10-13T14:06:29.526+0800    DEBUG   retry error: operation timed out after 2m0s
2020-10-13T14:06:29.526+0800    ERROR           pd 192.168.182.128:2379 failed to start: timed out waiting for port 2379 to be started after 2m0s, please check the log of the instance
2020-10-13T14:06:29.526+0800    DEBUG   TaskFinish      {"task": "StartCluster", "error": "faile

[2020-10-13 10:10] glorv opened #4670 "the left navigator tab should focus on the current opened page when open a new page"
Excepted View:
![image](https://user-images.githubusercontent.com/5196885/95847366-30765080-0d7f-11eb-90e9-3afbb03adf99.png)

Actual View:
![image](https://user-images.githubusercontent.com/5196885/95847422-4552e400-0d7f-11eb-8bc4-4e81ae64ab6a.png)

[2020-10-13 10:43] ran-huang commented on #4670
Thank you for your feedback.
@YiniXu9506 PTAL~ Thanks

[2020-10-13 10:59] YiniXu9506 commented on #4670
https://docs.pingcap.com/zh/tidb/dev/tidb-lightning-overview

The left navigation is highlight for the current opened page. Please check again.
![image](https://user-images.githubusercontent.com/34967660/95852308-23a92b00-0d86-11eb-8216-c4cbf9c80c5f.png)

[2020-10-14 09:51] glkappe opened #4681 "Please help update the content in the link, please see the picture below for error display"
RT

Please help update the content in the link, please see the picture below for error display

https://docs.pingcap.com/zh/tidb/dev/maintain-tiflash#tiflash-%E9%87%8D%E8%A6%81%E6%97%A5%E5%BF%97%E4%BB%8B%E7%BB%8D

![image](https://user-images.githubusercontent.com/21033020/95973046-c5dc1800-0e45-11eb-8d2b-cb7e1987f4c8.png)

[2020-10-14 11:00] leiysky commented on #4681
I'll fix it.

[2020-10-14 19:33] 26Wongfox opened #4683 "TiDB集群的系统盘格式化了，还有恢复的可能吗？"
File: [/overview.md](https://docs.pingcap.com/zh/tidb/stable/overview)

[2020-10-15 02:27] #4681 closed

[2020-10-15 06:14] zdl-king opened #4689 "tiup command not found"
按照快速上手文档指示：
第一种：使用 TiUP Playground 快速部署本地测试环境
执行tiup playground命令后提示 tiup command not found

[2020-10-15 06:21] ran-huang commented on #4689
请问你有执行 `2. 声明全局环境变量。` 这一步吗？

[2020-10-15 06:37] zdl-king commented on #4689
我执行完了第一步后没有任何的提示，也没有让我设置环境变量。
我的是centos x86_64 7.8

[2020-10-21 02:06] yanjingfan opened #4718 "本地安装tidb后，如何卸载呢？"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

[2020-10-21 02:34] yanjingfan opened #4719 "【快速开始】-快速上手指南第二种方式，下载pd失败"
![image](https://user-images.githubusercontent.com/37790182/96665575-c6196d80-1387-11eb-9b90-af3948d0554a.png)

但是拿着下载提示失败的链接去下载又可以
```wget https://tiup-mirrors.pingcap.com/pd-v5.0.0-nightly-20201019-linux-amd64.tar.gz```
![image](https://user-images.githubusercontent.com/37790182/96666110-0af1d400-1389-11eb-8758-f4183f38e256.png)

[2020-10-21 02:39] ran-huang commented on #4718
Thank you for trying out TiDB! 😸
You may refer to [使用 TiUP 命令管理组件 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/tiup-component-management#%E6%B8%85%E7%90%86%E7%BB%84%E4%BB%B6%E5%AE%9E%E4%BE%8B) to clean an instance or uninstall a component.

[2020-10-21 02:40] #4719 closed

[2020-10-21 02:41] yanjingfan commented on #4719
网络问题吧，第三次运行文档中的命令又可以下载了
![image](https://user-images.githubusercontent.com/37790182/96666548-efd39400-1389-11eb-8b71-44b5ba9057fd.png)

[2020-10-21 02:44] yanjingfan commented on #4718
tks very much! da xiong di.

[2020-10-21 02:44] #4718 closed

[2020-10-21 03:12] yanjingfan opened #4720 "本地安装并成功运行了tidb，使用mysql命令连接不上"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)
按照部署文档一步一步操作的，但是访问集群的时候，说mysql命令找不到
[code]
是否应该在文档中提示一句，需要先安装mysql才能连接上TiDB呢

[2020-10-21 03:18] ran-huang commented on #4720
Good suggestion!
Would you like to create a PR to help add this to the document? For detailed steps, see [Pull Request 提交流程](https://github.com/pingcap/docs-cn/blob/master/CONTRIBUTING.md#pull-request-%E6%8F%90%E4%BA%A4%E6%B5%81%E7%A8%8B).

[2020-10-21 03:32] yanjingfan commented on #4720
Sure！虽然可能没啥时间，但是还是愿意尽绵薄之力的

[2020-10-21 03:35] ran-huang commented on #4720
Many thanks. If you have any question, just let me know 🤓

[2020-10-21 03:38] yanjingfan commented on #4720
ojbk! haha...

[2020-10-22 05:02] #4635 closed

[2020-10-22 08:26] zgcbj opened #4725 "wait-up-delay-duration"
File: [/tikv-configuration-file.md](https://docs.pingcap.com/zh/tidb/stable/tikv-configuration-file)
should be wake-up-delay-duration

[2020-10-22 09:05] ran-huang commented on #4725
Sharp eyes!
@youjiali1995 PTAL~

[2020-10-22 09:37] #4654 closed

[2020-10-28 06:11] youjiali1995 commented on #4725
Yes. It's a typo. @zgcbj Could you help us fix it?

[2020-10-28 11:14] zhangysh1995 opened #4752 "Should mention "use `0.0.0.0` to deploy on alocal machine""
File: [/minimal-deployment-topology.md](https://docs.pingcap.com/zh/tidb/stable/minimal-deployment-topology)

I want to deploy a cluster on my local machine with tiup, and I guessed what should be put as the ip for the servers in the topology file.

I tried `127.0.0.1` but it failed with an error.

Because the machine has a public address, I used it but it is banned because of the firewall.

At la

[2020-10-28 11:27] zhangysh1995 opened #4753 "Need Examples for Using tiup cluster patch"
File: [/production-deployment-using-tiup.md](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup)

Currently, there is no doc about how to use patch, and I get the following from help:

[code]

But here I don't know what should be a `package-paths`, I got an error if it is pointed to the binary or the binary directory:

[code]

[2020-10-29 03:08] TomShawn commented on #4752
@superlzs0476 PTAL, thanks~

[2020-10-29 03:08] TomShawn commented on #4753
@lucklove PTAL, thanks~

[2020-10-29 10:18] lucklove commented on #4753
This will be done in https://github.com/pingcap/tiup/issues/840

[2020-10-30 10:23] TomShawn commented on #4753
@zhangysh1995 We have a plan to improve our TiUP documentation (including the issue you have proposed here) as @lucklove says, hopefully in a month. So I'll close this issue for now. If you have other questions, you are welcome to create another issue.

[2020-10-30 10:23] #4753 closed

[2020-10-30 23:30] liw686 opened #4764 "Ansible deploy Syntax Error"
What did you do?
i configure some parameters in 'tidb-ansible/conf/tikv.yml',
then i run 'ansible-playbook deploy.yml'

What did you expect to see?

What did you see instead?

ERROR MESSAGE SUMMARY *************************************************************************************************************************************************************************************
[TiKV2-1]: Ansible F

[2020-11-02 03:17] ran-huang commented on #4764
Can you show me the configuration you made?

[2020-11-02 14:22] dappbujiujiu opened #4790 "最新的4.0文档中，左侧目录没有找到有关“连接器”相关的索引"
File: [/basic-sql-operations.md](https://docs.pingcap.com/zh/tidb/stable/basic-sql-operations)

[2020-11-03 03:00] ran-huang commented on #4790
Thank you for your feedback!
Are you looking for this document [连接器和 API](https://docs.pingcap.com/zh/tidb/stable/connectors-and-apis)?

We will add this doc to TOC soon :)

[2020-11-04 02:33] TomShawn commented on #2674
@lucklove PTAL and help evaluate, thanks!

[2020-11-04 03:14] TomShawn commented on #2502
@huangbenben Thanks for pointing out! We have made enormous documentation improvements over the past seven to eight months since you created this issue. As I have confirmed that the v3.0 documentation PDF only has 1199 pages now, I'll close this stale issue for now. If you have found out further display issues in our doc PDF, you are welcome to open another issue.
![image](https://user-images.gith

[2020-11-04 03:14] #2502 closed

[2020-11-04 03:22] TomShawn commented on #763
@Freyayan Has the answers above address your question? To better manage issues in this repo, I'll close this stale one now. If you have further questions, feel free to reopen it. Thanks~

[2020-11-04 03:22] #763 closed

[2020-11-04 04:02] lucklove commented on #2674
I didn't find this line in our document, I think this is out-of-date

[2020-11-04 04:25] IANTHEREAL commented on #1869
The official backup and restore should only be backup & restore, especially after 4.0, other backup and restore solutions should be cancelled.

Lightning/dumpling positioning is an import and export tool

[2020-11-04 04:51] TomShawn commented on #1869
@overvenus Would help evaluate and update the tool-related documentation? The current documentation on backup and restore still describes Mudumper/TiDB Lightning/Dumpling as a backup and restore solution.
![image](https://user-images.githubusercontent.com/41534398/98070515-4b2e7780-1e9c-11eb-8903-2ce0d8eb1dee.png)
![image](https://user-images.githubusercontent.com/41534398/98070529-541f4900-1e9c-1

[2020-11-04 05:09] TomShawn commented on #2624
@yilongrong Please help confirm whether [this page](https://asktug.com/t/topic/1708) is still up to date, thanks!

[2020-11-04 05:38] TomShawn commented on #601
请看看这两篇文档，涉及具体的下推流程，以及优化方案：

+ [TopN 和 Limit 下推 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/topn-limit-push-down)
+ [谓词下推 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/predicate-push-down)
+ [SQL 优化流程简介 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/sql-optimization-concepts)

如有其他疑问，欢迎提出！

[2020-11-04 05:43] TomShawn commented on #2674
@maosiyu  当前[文档](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup#%E7%AC%AC-4-%E6%AD%A5%E6%89%A7%E8%A1%8C%E9%83%A8%E7%BD%B2%E5%91%BD%E4%BB%A4)的命令为 `tiup cluster deploy tidb-test v4.0.0 ./topology.yaml --user root [-p] [-i /home/root/.ssh/gcp_rsa]`。经我们的工程师测试，该命令运行正常。如有其他问题，欢迎提新 issue :)

[2020-11-04 05:43] #2674 closed

[2020-11-04 05:46] TomShawn commented on #601
@dbaspace 非文档相关的问题建议提在 [tidb](https://github.com/pingcap/tidb/issues) repo 下，这样能得到更及时的回答哦~

[2020-11-04 05:50] TomShawn commented on #2450
@nolouch PTAL, thanks!

[2020-11-04 05:53] TomShawn commented on #2092
As confirmed with @aylei, this stale issue can be closed now.

[2020-11-04 05:53] #2092 closed

[2020-11-04 06:09] 5kbpers commented on #2800
Issue addressed

[2020-11-04 06:09] #2800 closed

[2020-11-04 06:11] TomShawn commented on #3410
@yinchuang Has @ran-huang's comment addressed your question? To better manage issues of this repo, I'll close this one for now. If you have further questions, you are welcome to reopen it, thanks~

[2020-11-04 06:11] #3410 closed

[2020-11-04 06:15] TomShawn commented on #2622
@Kongdom Has @liubo0127' comment addressed your question? To better manage issues of this repo, I'll close this one for now. If you have further questions, you are welcome to reopen it, thanks~

[2020-11-04 06:15] #2622 closed

[2020-11-04 07:21] DanielZhangQD commented on #2265
@zhoudian64 It does not require GO.
What's the issue you hit without GO?

[2020-11-04 08:37] TomShawn commented on #2449
@glkappe This information is added in https://github.com/pingcap/docs-cn/pull/4810.

[2020-11-04 08:37] #2449 closed

[2020-11-06 03:49] TomShawn commented on #4598
@slow-zhang Any update?

[2020-11-08 08:44] ccdxr opened #4844 "TiDB的在线文档网页的上下滚动翻页也太卡顿了，浏览非常不舒适"
File: [/_index.md](https://docs.pingcap.com/zh/tidb/stable)

[2020-11-08 12:02] callmePicacho opened #4845 "关于文档"TiDB 事务隔离级别"中语句的修改"
File: [/transaction-isolation-levels.md](https://docs.pingcap.com/zh/tidb/v3.0/transaction-isolation-levels)

原文中：
处于可重复读隔离级别的事务不能并发的更新同一行，当时事务提交时发现该行在该事务启动后，已经被另一个已提交的事务更新过，那么该事务会回滚并启动自动重试。

此句：当时事务提交时发现该行在该事务启动后
是否该改为：当事务提交时发现该行在该事务启动后，当时 改为 当

[2020-11-09 05:05] TomShawn commented on #4844
@ccdxr 谢谢反馈。是否能提供一下您使用的操作系统和浏览器呢？我们同一篇文档会在一个网页显示，不需要翻页哦。

经我们测试（在 Win10、macOS 和安卓手机上），滚动页面非常顺畅，未遇到您提出的问题。有可能是您的浏览器或电脑导致的？

[2020-11-09 05:23] TomShawn commented on #4845
@callmePicacho 谢谢提出。您是否愿意在[此页面](https://docs.pingcap.com/zh/tidb/dev/transaction-isolation-levels)点击**修改本文**直接进行修改呢？非常感谢！
![image](https://user-images.githubusercontent.com/41534398/98503077-a68eaa00-228e-11eb-8689-2b0e09557c1d.png)

[2020-11-09 06:12] TomShawn commented on #4845
@callmePicacho 感谢您的参与！

[2020-11-09 06:12] #4845 closed

[2020-11-09 06:32] glkappe commented on #2470
@3pointer any update?

[2020-11-11 12:44] slow-zhang commented on #4598
After running ```tiup bench tpcc cleanup```, solved. Thanks all

[2020-11-11 12:44] #4598 closed

[2020-11-16 10:49] ran-huang opened #4915 "binlog consumer client 文档没有说明数据输出的格式是什么"
File: [/tidb-binlog/binlog-consumer-client.md](https://docs.pingcap.com/zh/tidb/stable/binlog-consumer-client)

[2020-11-16 10:49] ran-huang commented on #4915
@WangXiangUSTC PTAL~

[2020-11-17 05:29] WangXiangUSTC commented on #4915
The document had described the struct of the binlog data, and the data is saved in Kafka.  Is there any other information that users want to know?

[2020-11-17 06:17] ran-huang commented on #4725
Thank you for your contribution 😸

[2020-11-17 06:17] #4725 closed

[2020-11-18 12:51] tennix opened #4924 "补充集群备份和开启 TDE 加密时所需要的 AWS 最小权限说明"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

TiDB 集群在使用公有云资源做备份的时候需要访问 S3/GCS，使用 AWS KMS 加密的时候需要访问

[2020-11-19 00:28] #2482 closed

[2020-11-19 02:08] TomShawn commented on #2477
@XuHuaiyu PTAL

[2020-11-19 02:35] TomShawn commented on #2482
@eurekaka will reopen this issue when it is ready to update the document.

[2020-11-19 13:50] chad2019 opened #4931 "tiup部署后，启动PD失败问题"
File: [/production-deployment-using-tiup.md](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup)

[tidb@chad2 scripts]$ tiup cluster display tidb-test
Found cluster newer version:

    The latest version:         v1.2.4
    Local installed version:    v1.2.3
    Update current component:   tiup update cluster
    Update all components:      tiup update --all

Starting compone

[2020-11-19 13:52] chad2019 commented on #4931
2020-11-19T08:49:54.051-0500	INFO	SSHCommand	{"host": "192.168.3.126", "port": "22", "cmd": "export LANG=C; PATH=$PATH:/usr/bin:/usr/sbin ss -ltn", "stdout": "State     Recv-Q    Send-Q       Local Address:Port        Peer Address:Port    \nLISTEN    0         128                0.0.0.0:111              0.0.0.0:*       \nLISTEN    0         32           192.168.122.1:53               0.0.0.0:*

[2020-11-20 09:43] TomShawn opened #4934 "PD Recover 使用文档一处描述不清"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

    [PD Recover 使用文档 - 部署一套新的 PD 集群](https://docs.pingcap.com/zh/tidb/stable/pd-reco

[2020-11-20 09:52] nolouch commented on #4934
部署一套新的 PD 集群
- 可以直接在新的机器直接部署一套 PD 集群
- 直接复用现有的 PD 集群，停止现有的 PD 集群，删除所有 PD 的数据目录，再启动即可。

[2020-11-23 00:30] #4455 closed

[2020-11-23 02:41] ran-huang commented on #4931
Thanks for reporting your issue.
This is not a doc-related issue, so I'll transfer it to the pingcap/tiup repo.

[2020-11-23 03:09] lucklove commented on #4931
Can you please upload the log of pd-server? The logs is stored here:
[code]

[2020-11-23 03:40] #4720 closed

[2020-11-23 13:27] chad2019 commented on #4931
好像上传不了附件？

[2020-11-23 13:28] chad2019 commented on #4931
[pd.log](https://github.com/pingcap/docs-cn/files/5583228/pd.log)

[2020-11-23 13:29] chad2019 commented on #4931
[pd2.log](https://github.com/pingcap/docs-cn/files/5583250/pd2.log)

[2020-11-24 03:39] lucklove commented on #4931
看拓扑里有三个 PD，另一个 PD 的日志能获取到吗

[2020-11-27 02:18] TomShawn commented on #2767
@maosiyu To better manage issues in this repo, I'll close this issue for now. If you have further questions, feel free to reopen this one~

[2020-11-27 02:18] #2767 closed

[2020-11-27 05:09] llplmlyd opened #4970 "lack of some parameters' introduction"
File: [/daily-check.md](https://docs.pingcap.com/zh/tidb/stable/daily-check)
i want to check some parameter if affects, but the 4.0 version doc  doesn't match any. like these:**learner-peer-region-count**
![image](https://user-images.githubusercontent.com/33628991/100412995-21d6c500-30b1-11eb-8fa7-eafa4f983b69.png)

and in the Operator panel  of PD there i also need some introductions to judge my

[2020-11-27 05:34] ran-huang commented on #4970
Thank you for your feedback!
- For `learner-peer-region-count`, you may refer to [this answer](https://asktug.com/t/topic/2407/2).
- For the **Operator** panel, check out [this doc](https://docs.pingcap.com/zh/tidb/stable/grafana-pd-dashboard#operator). 😸

[2020-11-27 06:05] llplmlyd commented on #4970
right. first, wana some more detail about the reason of rise or fail, and the second problem is ,i had seen this doc, but there does not have this parameter
![image](https://user-images.githubusercontent.com/33628991/100416495-8f86ef00-30b9-11eb-9c71-2496b45fd7ea.png)

[2020-11-27 06:32] ran-huang commented on #4970
@kissmydb PTAL~ Thanks!
Do you think we need to add more detailed info in our docs? It seems that many monitoring items are missing 🤔

[2020-11-27 06:56] llplmlyd commented on #4970
yes, if can show more details, do can locate problem more quickly and conveniently.

[2020-11-27 08:07] ssmmray opened #4973 "新加tikv节点没有数据负载"
新加了tikv节点， 查看集群状态是正常的， 但是新的tikv节点上没有 数据负载到

[2020-11-27 10:39] ran-huang commented on #4973
Thank you for your feedback. 😸
This repo only addresses problems related to TiDB documentation. If you need help for database operations, you can ask our community at [AskTUG](https://asktug.com/).

[2020-11-27 11:03] #4973 closed

[2020-12-02 02:06] llplmlyd opened #4997 "manal upgrade by patch unclearly"
File: [/tiup/tiup-cluster.md](https://docs.pingcap.com/zh/tidb/stable/tiup-cluster)
this paper does not stress the hot-fix package its form，if the binary file doesn't tar ,the patch will fail.

[2020-12-02 06:13] TomShawn commented on #4997
@lucklove PTAL, thanks~

[2020-12-02 06:56] llplmlyd commented on #4997
![image](https://user-images.githubusercontent.com/33628991/100839034-837ea100-34ae-11eb-8c0b-a363cb116edc.png)
here

[2020-12-02 07:09] lucklove commented on #4997
Please use this:

[code]

[2020-12-02 07:12] llplmlyd commented on #4997
i had test, that is right,  here i am to tell you the document may need some stress

[2020-12-02 07:53] TomShawn commented on #4997
@llplmlyd Would you help stress out the information and become a documentation contributor?😀

![image](https://user-images.githubusercontent.com/41534398/100844066-461e1180-34b6-11eb-96ae-d868c0270470.png)
![image](https://user-images.githubusercontent.com/41534398/100844216-84b3cc00-34b6-11eb-9572-b12739194f7d.png)

[2020-12-02 08:53] lucklove commented on #4997
@llplmlyd Thank you, got it. I'm refactoring the document this time.

[2020-12-03 08:42] XSHui opened #5014 "RegionMerge慢参数key-type调整不够明确"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

[Region Merge 速度慢](https://docs.pingcap.com/zh/tidb/s

[2020-12-03 08:49] XSHui opened #5015 "使用TiDB-Ansible(v3.0)扩缩容或迁移(容器部署)pd操作描述不当"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

[pd扩容](https://docs.pingcap.com/zh/tidb/v3.0/scale-tidb-using-ansible#%E6%89%A9%E5%A

[2020-12-04 04:14] jacktd9 opened #5025 "tidb-lightning 文档搜索不直观"
File: [/tidb-lightning/deploy-tidb-lightning.md](https://docs.pingcap.com/zh/tidb/stable/deploy-tidb-lightning)

[2020-12-04 06:33] TomShawn commented on #5025
@glorv PTAL, thanks~

[2020-12-07 03:02] glorv commented on #5025
@kennytm  what do you think?

[2020-12-07 06:43] kennytm commented on #5025
The issue here is the product dept has effectively deprecated the importer-backend, which is why the description has been excised from the docs. That's why it can't be found.

I think it is good with split the deployment into multiple pages for each backend, something like

* 部署与执行
    * SQL 线上导入 - TiDB 后端
    * SST 快速导入 - Local 后端
    * 外部程序 SST 导入 - Importer 后端

[2020-12-07 09:14] Win-Man opened #5041 "配置 Hinernate region 的链接 404"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://docs.pingcap.com/zh/tidb/v3.0/massive-regions-best-practices#%E6%96%B9%E6%B3

[2020-12-09 05:44] TomShawn commented on #5015
@XSHui 从 https://asktug.com/t/topic/37084 得知您使用 Docker 部署的 TiDB 3.0 集群，这种方式已经被废弃了，我们也不再维护了。如果需要进行快速部署体验 TiDB 集群，请参阅 [TiDB 数据库快速上手指南 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)。如需要在生产环境中部署，请参阅 [使用 TiUP 部署 TiDB 集群 | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup)。

[2020-12-11 05:39] toaco opened #5077 "TiDB 的一致性模型是什么?"
TiDB 的一致性模型是什么?  一个客户端写入数据后，另一个客户端一定可以读取到吗？

[2020-12-11 07:19] TomShawn commented on #5077
@youjiali1995 PTAL, thanks~

[2020-12-11 07:27] youjiali1995 commented on #5077
是的。能保证单 key 上的线性一致性，但隔离级别不是 serializable，再 SI 允许的范围内是满足外部一致性的。也可以看一下 jepsen 的测试报告：https://jepsen.io/analyses/tidb-2.1.7?from=timeline&isappinstalled=0

[2020-12-11 12:08] XSHui commented on #5015
@TomShawn 了解，感谢！

[2020-12-11 12:08] #5015 closed

[2020-12-13 00:37] #4212 closed

[2020-12-14 02:24] TomShawn commented on #4212
As confirmed with @leoppro, this issue can be closed.

[2020-12-14 07:59] glorv commented on #4670
@YiniXu9506  yes, the highlight is correct. I think it also should auto roll down to make the currently highlighted page navigation link at the middle of the navitagor tab.

[2020-12-15 02:26] jacktd9 opened #5090 "swapoff -a && swapon -a 关闭后又开启，用户容易误解"
File: [/check-before-deployment.md](https://docs.pingcap.com/zh/tidb/stable/check-before-deployment)

echo "vm.swappiness = 0">> /etc/sysctl.conf
swapoff -a && swapon -a
sysctl -p

遇到好些个用户直接 copy 脚本执行，未看文章前头的说明，使得 swap 没被关闭，是否考虑把 && swapon -a 去掉呢？
或者追加 [...] 说明下

[2020-12-15 03:29] CharLotteiu commented on #5090
@superlzs0476 PTAL, thanks~

[2020-12-15 12:14] YiniXu9506 commented on #4670
@glorv Sorry for the late reply. I will pick this issue, and let you know once it's been resolved. Thanks;

[2020-12-18 06:42] hhyhhy opened #5128 "希望补充 TiUP Playground 的软硬件需求"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

希望在此页面上补充各个组件的最低要求。
我在低配云主机上试运行，OOM了。

谢谢。

[2020-12-18 07:13] TomShawn commented on #5128
@superlzs0476 Please help take a look, thanks!

[2020-12-21 16:07] jacktd9 opened #5143 "可以再文档上面标注一下各个参数支持的版本嘛"
File: [/tidb-binlog/tidb-binlog-configuration-file.md](https://docs.pingcap.com/zh/tidb/v2.1/tidb-binlog-configuration-file)
所知 ignore-txn-commit-ts  参数只在 v2.1.16 以上版本生效，低版本配置后也不报错，使用上让用户很绕，希望文档上能标注一下各个参数支持的版本~

[2020-12-22 06:08] ran-huang commented on #5143
@csuzhangxc PTAL~

[2020-12-22 06:21] csuzhangxc commented on #5143
@overvenus PTAL. May we need to update docs for all tools?

[2020-12-28 01:16] TomShawn commented on #4666
@lucklove PTAL, thanks~

[2020-12-28 03:10] lucklove commented on #4666
@suhx5090 Please upload the log of the PD instance in 192.168.182.128, then we can determine what happened on the PD server

[2020-12-30 09:03] zhangwugui opened #5216 "5.7.25-TiDB-v4.0.0 what's the meaning about 5.7.25?"
## 准备
mysql> select version();
+--------------------+
| version()          |
+--------------------+
| 5.7.25-TiDB-v4.0.0 |
+--------------------+
1 row in set (0.01 sec)

Release Version: v4.0.0

## 问题
TiDB的版本 5.7.25-TiDB-v4.0.0中，为什么是5.7.25，这个表示什么含义呢？
是表示TiDB4.0.0版本发布的时候最新的mysql版本么？

[2020-12-30 12:34] TomShawn commented on #5216
@zhangwugui 谢谢反馈。请问您是按照哪篇文档进行操作的呢？

[2020-12-31 02:40] XSHui opened #5218 "tiup扩缩容集群步骤不完整"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://docs.pingcap.com/zh/tidb/stable/scale-tidb-using-tiup#%E6%89%A9%E5%AE%B9-tid

[2021-01-04 11:35] #3579 closed

[2021-01-05 03:27] cui3093 opened #5253 "文档的内容不够完整"
File: [/production-offline-deployment-using-tiup.md](https://docs.pingcap.com/zh/tidb/stable/production-offline-deployment-using-tiup)

按照文档的步骤，到“第5步 部署 TiDB 集群”失败，中间缺少安装相关组件的步骤，以及中间 source 了脚本以后的提示信息，在提示信息中执行“tiup playground” 后才会下载相应的组件

[2021-01-05 03:37] TomShawn commented on #5253
@lucklove 请看一下，是否需要添加相应的文档内容，谢谢！

[2021-01-05 03:40] lucklove commented on #5253
安装完 tiup 之后无需自己下载任何组件也能执行 tiup cluster deploy 命令，并且能正常部署，过程中 tiup 会自己寻找需要的组件。麻烦提供具体的执行步骤以及报错信息。

[2021-01-05 04:55] cui3093 commented on #5253
离线复数方式

#step 1: 在线环境：
   curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
   source .bash_profile
   tiup mirror clone tidb-community-server-${version}-linux-amd64 ${version} --os=linux --arch=amd64
   tar czvf tidb-community-server-${version}-linux-amd64.tar.gz tidb-community-server-${version}-linux-amd64

#step 2: 离线中控机：
  tar xzvf tidb-community-server-${ve

[2021-01-05 05:39] cui3093 commented on #5253
知道问题在哪里了，https://docs.pingcap.com/zh/tidb/stable/production-offline-deployment-using-tiup中的**使用 TiUP 制作离线镜像**->**在一台和外网相通的机器上拉取需要的组件：** 服务队mirror进行克隆造成失败的，改成**tiup mirror clone tidb-community-server-${version}-linux-amd64 ${version} --os=linux --arch=amd64 --prefix vX.Y.Z**后可以mirror了，应该还有其他方式也好用，你们验证下吧

[2021-01-05 06:27] TomShawn commented on #5218
@lucklove PTAL, thanks

[2021-01-05 06:28] TomShawn commented on #5077
@toaco 上述回答是否解决您的问题了呢？能否关闭这个 issue 了呢？

[2021-01-05 06:29] TomShawn commented on #5041
Fixed in https://github.com/pingcap/docs-cn/pull/5111.

[2021-01-05 06:29] #5041 closed

[2021-01-05 09:09] lucklove commented on #5218
这个问题应该已经修复过了：https://github.com/pingcap/tiup/issues/936
请问是哪个版本的 tiup-cluster?
[code]

[2021-01-05 09:14] XSHui commented on #5218
[code]
tiup里修复之后，文档不需再调整

[2021-01-05 09:18] lucklove commented on #5253
I think the `${version}` in the document means you should replace the string `${version}` to the actual TiDB version you need instead copy and paste.

If you are used to copy and paste, please `export version=vX.Y.Z` first, the `vX.Y.Z` should be something like `v4.0.9` or `v3.0.12`, don't just use the string `vX.Y.Z` .

[2021-01-06 07:05] cjxsimon opened #5260 "the "tidb-serer" in TiDB-Cluster means "tidb-server"?"
File: [/tidb-lightning/tidb-lightning-overview.md](https://docs.pingcap.com/zh/tidb/stable/tidb-lightning-overview)

[2021-01-06 13:49] TomShawn commented on #5260
Yes. "tidb-serer" is a typo, which means "tidb-server". We'll fix it soon.

[2021-01-07 10:59] #5077 closed

[2021-01-08 02:29] #5218 closed

[2021-01-08 14:54] #5216 closed

[2021-01-11 02:13] TomShawn commented on #4844
@ccdxr 为更好的管理本 repo 的 issues，先暂时关闭本 issue。如果您还有其他疑问，欢迎重新打开 issue~

[2021-01-11 02:13] #4844 closed

[2021-01-13 07:31] lxohi opened #5305 "缺少一个字"
File: [/tidb-scheduling.md](https://docs.pingcap.com/zh/tidb/dev/tidb-scheduling)

那么可以通过调节 PD 参数动加快调度速度 -> 那么可以通过调节 PD 参数动【态】加快调度速度

[2021-01-13 07:34] CharLotteiu commented on #5305
Thanks very much for your feedback! Would you please open a PR to fix this typo?

[2021-01-17 01:12] #4764 closed

[2021-01-18 02:01] TomShawn commented on #4764
@liw686 To better manage issues in this repo, this issue is closed for now. If you have further questions, feel free to reopen it.

[2021-01-18 02:01] TomShawn commented on #4790
@dappbujiujiu To better manage issues in this repo, this issue is closed for now. If you have further questions, feel free to reopen it.

[2021-01-20 01:37] #5305 closed

[2021-01-20 10:54] wenyq1 opened #5358 "Dumpling 导出数据问题"
File: [/tidb-lightning/tidb-lightning-backends.md](https://docs.pingcap.com/zh/tidb/dev/tidb-lightning-backends)

如果数据库名包含小数例如 xxx.xxx 就会导入到tidb报错，不知道 如何处理啊

[2021-01-20 11:06] ran-huang commented on #5358
@lichunzhu PTAL~

[2021-01-20 12:27] lichunzhu commented on #5358
用的是什么版本的 dumpling? 小数点应该会被转义为 %2E 吧

[2021-01-21 02:02] xyqbian opened #5362 "能不能提供一下手动部署TiDB各个组件的方案？谢谢"
现在要求不使用tiup，ansible之类的部署工具，而是使用安装包的形式部署一套包含3个tidb-server、3个tikv-server、3个pd-server、1个tiflash、3个cdc、1个grafana、1个alertmanager、1个prometheus的TiDB集群，大神们能不能提供一下部署方案，谢谢

[2021-01-21 06:37] ran-huang commented on #5362
Hi，可以使用二进制包手动部署，具体的 TiDB 的部署与使用，建议在 [AskTUG 论坛](https://asktug.com/)提问或者搜索答案~

[2021-01-21 06:39] xyqbian commented on #5362
好的，谢谢~

[2021-01-21 06:40] #5362 closed

[2021-01-21 09:03] #5260 closed

[2021-01-21 09:40] glkappe commented on #2470
never mind

[2021-01-21 09:40] #2470 closed

[2021-01-25 04:00] TomShawn commented on #4931
@chad2019 能提供下相关的 PD 日志吗？或是您的问题是否已解决呢?

[2021-02-06 15:34] lee1057 opened #5513 "It is recommended to list AWS EC2 specific configuration information"
File: [/benchmark/v4.0-performance-benchmarking-with-tpcc.md](https://docs.pingcap.com/zh/tidb/stable/v4.0-performance-benchmarking-with-tpcc)

It is recommended to list AWS EC2 specific configuration information.
Although the type has unique configuration information, it is not easy to read and needs to be searched independently.

![image](https://user-images.githubusercontent.com/32992828/107122

[2021-02-18 02:06] TomShawn commented on #5513
@lee1057 Thanks for feedback! So your need is to learn the detailed information of the EC2 types right on this page instead of searching on your own? Is my understanding correct?

[2021-02-18 02:07] TomShawn commented on #5358
@wenyq1 Any update?

[2021-02-18 02:08] TomShawn commented on #5253
@cui3093 以上回答是否解决您的问题了呢？

[2021-02-18 02:09] TomShawn commented on #5143
@overvenus PTAL

[2021-02-18 02:11] TomShawn commented on #5025
@glorv shall we implement the doc refactoring suggested by @kennytm ?

[2021-02-18 02:50] TomShawn commented on #5014
@XSHui Thanks for feedback! This issue is resolved in https://github.com/pingcap/docs-cn/pull/5515.

[2021-02-18 02:59] #5014 closed

[2021-02-18 03:51] CadmusJiang opened #5519 "[Test,no check]中文测试"
## Question

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.

- Googled your question.

- Searched open and closed [GitHub issues](https://github.com/pingcap/docs-cn/issues?utf8=%E2

[2021-02-18 03:52] #5519 closed

[2021-02-18 08:01] lookhua opened #5527 "mysql/tidb sink 没有url协议中不能指定目标库？例如同步a.b表到mysql的a1.b表"
File: [/ticdc/manage-ticdc.md](https://docs.pingcap.com/zh/tidb/dev/manage-ticdc)

[2021-02-18 08:01] lookhua commented on #5527
[2021/02/18 07:52:41.843 +00:00] [ERROR] [mysql.go:139] ["flush row changed events routine starts failed"] [error="[CDC:ErrOperateOnClosedNotifier]operate on a closed notifier"] [errorVerbose="[CDC:ErrOperateOnClosedNotifier]operate on a closed notifier\ngithub.com/pingcap/errors.AddStack\n\tgithub.com/pingcap/errors@v0.11.5-0.20201126102027-b0a155152ca3/errors.go:174\ngithub.com/pingcap/errors.(*

[2021-02-18 08:28] TomShawn commented on #5128
@King-Dylan @lucklove PTAL. thanks!

[2021-02-18 08:38] TomShawn commented on #4915
So is it no need to specify the data format?

[2021-02-18 08:42] ran-huang commented on #4915
Since we can't get more info from the user who sent the feedback in the first place, there's no way to improve the doc. I guess it's safe to close this issue for now.
@TomShawn WDYT?

[2021-02-18 08:44] TomShawn commented on #4666
@suhx5090 Any update? This repo is only for issues related to documentation. If you have encountered any issue related to TiUP usage, opening an issue in [TiUP repo](https://github.com/pingcap/tiup/issues) will get your problem fixed quicker.

[2021-02-18 08:45] TomShawn commented on #4915
OK.

[2021-02-18 08:45] #4915 closed

[2021-02-18 08:48] TomShawn commented on #5527
@lookhua 感谢反馈。本 repo 的问题与文档内容相关。如果您在 TiCDC 的使用过程中遇到任何问题，建议在 [TiCDC repo](https://github.com/pingcap/ticdc/issues) 中提 issue，这样能得到更快的解答。

[2021-02-18 10:20] TomShawn commented on #2477
@XuHuaiyu Any update?

[2021-02-18 10:32] TomShawn commented on #4752
@zhangysh1995 Neither `127.0.0.1` nor `0.0.0.0` are documented in https://github.com/pingcap/docs-cn/blob/release-4.0/config-templates/complex-mini.yaml. Have you ever tried `10.0.1.x`?

[2021-02-18 10:41] TomShawn commented on #2265
@zhoudian64 Any update?

[2021-02-18 10:44] TomShawn commented on #2132
@scsldb “建议不同版本可以有一个已知bug的列表文档，这样升级前可以参考”  如何看呢？

[2021-02-18 10:49] TomShawn commented on #1550
@scsldb PTAL

[2021-02-18 18:33] coderplay opened #5539 "为什么BJ IP有5个, SH IP只有1个?"
File: [/geo-distributed-deployment-topology.md](https://docs.pingcap.com/zh/tidb/stable/geo-distributed-deployment-topology)

[2021-02-18 18:52] coderplay commented on #5539
仔细看了一下yaml文件.

这个部署有两个zones: SH和BJ。BJ有两个DC: bja 和bjb, 我们在bja和bjb分别部署两个tiKV. 对于SH我们只在sha部署一个tikv. 所以一共是  2 + 2 + 1 = 5个TiKV.

PD和TiDB我们也部署了5个实例, 但没有做zone或者datacenter awareness.

所以这个文档有以下几点问题
1. 没有描述清楚示例的拓扑结构, 最好能像3.0文档那样有个示意图
2. 没有说明TiKV是zone&dc aware, 但是pd 和tidb没有geo located
3. TiKV/PD/TiDB的实例数都是5, 而文档上写着3
4. TiKV是multi-raft group的, 有5个实例不一定代表replicas=5, 所以这个配置的repica是5还是3?

[2021-02-19 12:44] TomShawn commented on #5539
@superlzs0476 PTAL, thanks!

[2021-02-23 10:16] zhoudian64 commented on #2265
https://github.com/pingcap/tidb-operator/blob/master/hack/kind-cluster-build.sh#L21 > https://github.com/pingcap/tidb-operator/blob/master/hack/lib.sh#L22 `ARCH=$(go env GOARCH)`, Not so that important, just close this issue is OK.

[2021-02-23 10:36] #2265 closed

[2021-02-23 11:05] EF-0223 opened #5585 "文档中显示的 "TiDB 支持以下排序规则" 不准确"
File: [/character-set-and-collation.md](https://docs.pingcap.com/zh/tidb/v5.0/character-set-and-collation)

![image](https://user-images.githubusercontent.com/79514271/108835074-e729ed80-7609-11eb-92e9-69276c12801b.png)

![image](https://user-images.githubusercontent.com/79514271/108835162-0cb6f700-760a-11eb-954f-c54bb9cad961.png)

[2021-02-23 11:49] TomShawn commented on #5585
@EF-0223 感谢反馈！
@wjhuang2016 辛苦看看是否需要更新下文档。谢谢！

[2021-02-23 12:42] CadmusJiang opened #5587 "[No check]中文测试"
## Question

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.

- Googled your question.

- Searched open and closed [GitHub issues](https://github.com/pingcap/docs-cn/issues?utf8=%E2

[2021-02-23 12:42] #5587 closed

[2021-02-24 06:24] wjhuang2016 commented on #5585
需要更新文档。@EF-0223 能否提个 PR 帮忙更新下呢？

[2021-02-26 09:20] TomShawn opened #5617 "Make a naming strategy for multi-version doc images and check multi-version images with incorrect display"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

    Currently, if a doc image is in multiple branches

[2021-03-01 13:59] TLideaCreator opened #5641 "tiup playground error"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)
执行命令
[code]

[2021-03-02 04:55] myhomer opened #5643 "tiup没办法安装cluster"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/dev/quick-start-with-tidb)

[root@i-b3y873sh ~]# tiup cluster
The component `cluster` is not installed; downloading from repository.
download https://tiup-mirrors.pingcap.com/cluster-v1.3.2-linux-amd64.tar.gz 10.05 MiB / 10.05 MiB 100.00% 28.33 MiB p/s
Failed to start component `cluster`
Error: checksum mismatch, expect: f5f0430ced

[2021-03-02 06:52] TomShawn commented on #5641
@TLideaCreator 感谢反馈！请问您是在执行这一步操作时遇到以上报错吗？
![image](https://user-images.githubusercontent.com/41534398/109609811-d546ce00-7b66-11eb-8909-33227d377b25.png)

[2021-03-02 06:59] TomShawn commented on #5643
@myhomer 感谢反馈。请问您是在执行这一步操作时遇到的报错吗？
![image](https://user-images.githubusercontent.com/41534398/109610555-e0e6c480-7b67-11eb-852c-0ca0d78b220b.png)

[2021-03-02 07:04] myhomer commented on #5643
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        是的，centos7.5版本，内核版本
        Linux i-ldthysd9 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux按照链接wget下来，可以直接安装，直接执行tiup cluster 会报错

        font{
            line-height: 1.6;
        }

        font{
            line-height:

[2021-03-02 07:08] TomShawn commented on #5643
@lucklove PTAL, thanks!

[2021-03-02 11:00] lucklove commented on #5643
感谢反馈，问题已修复

[2021-03-03 04:46] TomShawn commented on #5090
@pepezzzz 能帮忙看下吗？谢谢~

[2021-03-03 04:49] TomShawn commented on #4997
@lucklove Could you

Have you included this in https://github.com/pingcap/docs-cn/pull/4868?

[2021-03-03 06:24] King-Dylan commented on #5128
palyground 本意就是有”娱乐“意思的 tidb，目的是帮助用户在各种各样的环境中快速验证一些基础功能，这个过程中出现很多意外也属于正常范围。所以建议如果希望做一些比较重的测试并且希望 tidb 能够比较稳定的运行还是使用标准部署环境配置。

[2021-03-03 06:32] King-Dylan commented on #5539
good suggestion

[2021-03-03 06:40] TomShawn commented on #5539
@coderplay 经·评估，这篇文档确实存在问题。我们将在本月底进行集中文档更新。建议先参考 [同城多数据中心部署 TiDB | PingCAP Docs](https://docs.pingcap.com/zh/tidb/stable/multi-data-centers-in-one-city-deployment) 这篇文档。

[2021-03-03 12:17] lucklove commented on #4997
Yes, here: https://github.com/pingcap/docs-cn/pull/4868/files#diff-62e6002557bd665f04751fd5c4a5705ce3ba54b05f2f2617951fa8b431fc0ad2R21

[2021-03-03 12:24] TomShawn commented on #4997
@llplmlyd Issue addressed.

[2021-03-03 12:24] #4997 closed

[2021-03-06 07:50] hhyhhy commented on #5128
嗯，我当时确实是为了简单体验一下。记得应该是在一台 1C1G 的云主机上运行的 playground ，PD、TiDB、TiKV 三大组件单实例都没能完全跑起来。这个 issue 的本意是希望补充一个肯定能把三大组件跑起来的基本硬件要求。

从我目前的经验看 ，运行 playground 4G 的内存是够了，无读写负载对 CPU 和硬盘的需求不大。

[2021-03-12 03:59] leoppro opened #5722 "cdc/lightning 与 clustered index 特性的兼容性风险提示"
## Change Request

[2021-03-12 03:59] leoppro commented on #5722
/assigne leoppro

[2021-03-12 07:58] TomShawn commented on #5643
/lifecycle frozen

[2021-03-12 07:58] TomShawn commented on #5643
/remove-lifecyle frozen

[2021-03-12 07:59] TomShawn commented on #5643
/remove-lifecycle frozen

[2021-03-15 03:41] TomShawn commented on #5722
/assign leoppro

[2021-03-17 03:47] qbit-git opened #5751 "配置模板"
File: [/best-practices/three-nodes-hybrid-deployment.md](https://docs.pingcap.com/zh/tidb/stable/three-nodes-hybrid-deployment)
建议给出包含全部配置项的模板，而不仅仅是讲调优。

[2021-03-17 03:51] qbit-git opened #5752 "配置字段行列存储"
File: [/tiflash/tiflash-overview.md](https://docs.pingcap.com/zh/tidb/stable/tiflash-overview)
请问怎样设置或查看字段是行存储还是列存储？

[2021-03-17 14:06] TomShawn commented on #5752
/cc @zanmato1984

[2021-03-17 14:06] TomShawn commented on #5752
/cc zanmato1984

[2021-03-17 14:07] TomShawn commented on #5752
/assign @zanmato1984

[2021-03-17 14:07] TomShawn commented on #5752
@zanmato1984 PTAL thanks!

[2021-03-17 14:29] TomShawn commented on #5751
/assign @King-Dylan

[2021-03-17 14:29] TomShawn commented on #5751
@King-Dylan PTAL thanks!

[2021-03-18 01:26] qbit-git opened #5761 "对 BLOB 大小限制的疑问"
File: [/tidb-limitations.md](https://docs.pingcap.com/zh/tidb/stable/tidb-limitations)
在[使用限制](https://docs.pingcap.com/zh/tidb/stable/tidb-limitations)一节说 `BLOB` 的最大限制为 6MB，而在数据类型的[字符串类型](https://docs.pingcap.com/zh/tidb/stable/data-type-string)一节说可以支持 `LONGBLOB` 4GB，这两个地方有冲突吗？怎么理解？

[2021-03-18 06:56] TomShawn commented on #5761
/assign @scsldb @XuHuaiyu PTAL, thanks!

[2021-03-18 06:56] TomShawn commented on #5761
/assign @scsldb @XuHuaiyu

[2021-03-18 06:56] TomShawn commented on #5761
@scsldb @XuHuaiyu PTA:, thanks!

[2021-03-19 06:56] zanmato1984 commented on #5752
Hi @qbit-git ，请参考文档 https://docs.pingcap.com/zh/tidb/stable/use-tiflash

目前行存储和列存储的最小单元是表，而不是字段。在以上文档中可以看到，用户需要手动为指定的表创建列存副本，这样就可以在接下来的查询中通过优化器自动、或通过hint及配置手动，指定查询使用行存还是列存。

查询一个表是否有列存副本的方法也包含在上面的文档中，具体在 https://docs.pingcap.com/zh/tidb/stable/use-tiflash#%E6%9F%A5%E7%9C%8B%E8%A1%A8%E5%90%8C%E6%AD%A5%E8%BF%9B%E5%BA%A6 小节中。

[2021-03-19 08:50] qbit-git commented on #5752
有计划做这种功能吗：
同一个表中，小字段用行存储，大文本字段用列存储。

[2021-03-29 09:56] HydraLee opened #5866 "what is semi join?"
File: [/subquery-optimization.md](https://docs.pingcap.com/zh/tidb/stable/subquery-optimization)

<img width="977" alt="image" src="https://user-images.githubusercontent.com/44083085/112819998-be3cc280-90b7-11eb-80dc-f057b2a7d90b.png">
what's meaning with this word "semi join" .I can't find any thing  about the word in that link.

[2021-03-29 10:13] HydraLee opened #5869 "error word"
File: [/subquery-optimization.md](https://docs.pingcap.com/zh/tidb/stable/subquery-optimization)

<img width="988" alt="image" src="https://user-images.githubusercontent.com/44083085/112822270-4f149d80-90ba-11eb-81ea-63a404c7ae20.png">

I think this word should be "个数",not "各种".

[2021-03-29 10:30] HydraLee opened #5870 "error description"
File: [/subquery-optimization.md](https://docs.pingcap.com/zh/tidb/stable/subquery-optimization)

<img width="984" alt="image" src="https://user-images.githubusercontent.com/44083085/112823979-897f3a00-90bc-11eb-9b13-8dc05974dfb3.png">

I think ths should be "会将其 IN 的子查询改写为".tks

[2021-03-29 12:14] TomShawn commented on #5869
/assign

[2021-03-29 12:14] TomShawn commented on #5866
/assign @winoros

[2021-03-29 12:15] TomShawn commented on #5870
/assign

[2021-03-30 03:40] HydraLee opened #5873 "error word"
File: [/predicate-push-down.md](https://docs.pingcap.com/zh/tidb/stable/predicate-push-down)

<img width="1463" alt="image" src="https://user-images.githubusercontent.com/44083085/112930345-acf1c580-914c-11eb-8044-0db6cf587deb.png">

it must be '是',not '时'

[2021-03-30 05:13] TomShawn commented on #5873
/assign @TomShawn

[2021-03-30 07:00] TomShawn commented on #5873
@HydraLee Thanks for pointing out the typo. It has been fixed.

[2021-03-30 07:00] TomShawn commented on #5873
/close

[2021-03-30 07:00] #5873 closed

[2021-03-30 07:00] TomShawn commented on #5870
@HydraLee Thanks for pointing out the typo. It has been fixed.

[2021-03-30 07:00] TomShawn commented on #5870
/close

[2021-03-30 07:00] #5870 closed

[2021-03-30 07:01] TomShawn commented on #5869
@HydraLee Thanks for pointing out the typo. It has been fixed.

[2021-03-30 07:01] TomShawn commented on #5869
/close

[2021-03-30 07:01] #5869 closed

[2021-04-01 02:54] HydraLee opened #5906 "something"
File: [/statistics.md](https://docs.pingcap.com/zh/tidb/stable/statistics)

<img width="847" alt="image" src="https://user-images.githubusercontent.com/44083085/113236897-64ffa980-92d8-11eb-9fb4-0c434946fef8.png">

if put this content under "Manual Collection" to read more smoothly?

[2021-04-01 06:47] TomShawn commented on #5906
/assign

[2021-04-06 02:37] HydraLee opened #5951 "more silky"
File: [/information-schema/information-schema-sql-diagnostics.md](https://docs.pingcap.com/zh/tidb/stable/information-schema-sql-diagnostics)

<img width="701" alt="image" src="https://user-images.githubusercontent.com/44083085/113651021-d027f200-96c3-11eb-8101-2d40765cc23e.png">

it's not silky!

[2021-04-06 07:02] TomShawn commented on #5951
/assign

[2021-04-06 08:43] HydraLee opened #5959 "something"
File: [/user-account-management.md](https://docs.pingcap.com/zh/tidb/stable/user-account-management)

<img width="690" alt="image" src="https://user-images.githubusercontent.com/44083085/113683039-56f5c280-96f6-11eb-978e-1db4e92d041e.png">

I think this paragraph is too simple and may cause customers to fail to understand the correct operation process.
So I recorded a section of my operation proce

[2021-04-06 09:20] TomShawn commented on #5959
/assign @tiancaiamao @King-Dylan

[2021-04-07 02:34] TomShawn commented on #5643
/lifecycle frozen

[2021-04-07 08:26] cyliu0 opened #5981 "The current implementation for cdc config keyword is `cdc`"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://github.com/pingcap/docs-cn/blob/master/config-templates/complex-cdc.yaml#L43

[2021-04-07 13:03] leonirvanel opened #5991 "rate-limiter-auto-tuned 配置项的默认值由 false 改成 ture。"
File: [/releases/release-5.0.0.md](https://docs.pingcap.com/zh/tidb/stable/release-5.0.0)

rate-limiter-auto-tuned 配置项的默认值由 false 改成 ture。
------------------------------------------------------------
ture改成true

[2021-04-08 02:26] TomShawn commented on #5981
/assign @amyangfei @overvenus

[2021-04-08 02:47] TomShawn commented on #5991
@leonirvanel 谢谢提出，typo 已修复。

[2021-04-08 02:47] TomShawn commented on #5991
/close

[2021-04-08 02:47] #5991 closed

[2021-04-12 04:37] overvenus opened #6015 "Add s3 permission documentation to BR backup/restore"
We need to add S3 permission explanation to BR documentation.

File: [/br/use-br-command-line-tool.md#从 Amazon S3 后端存储恢复数据
](https://docs.pingcap.com/zh/tidb/stable/use-br-command-line-tool#%E5%A4%87%E4%BB%BD%E6%95%B0%E6%8D%AE%E5%88%B0-amazon-s3-%E5%90%8E%E7%AB%AF%E5%AD%98%E5%82%A8)

[2021-04-12 04:38] overvenus commented on #6015
/cc @3pointer

[2021-04-12 05:16] TomShawn commented on #6015
/assign @3pointer

[2021-04-12 10:29] YiniXu9506 commented on #4670
Done!  Related [commit](https://github.com/pingcap/website-docs/commit/073f12d585a9f11707b398401caf14463c929fd9) .

[2021-04-12 10:29] #4670 closed

[2021-04-12 11:47] zimulala opened #6020 "Why remove `what-is-the-processing-time-of-a-ddl-operation`?"
## Question

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.

- Googled your question.

- Searched open and closed [GitHub issues](https://github.com/pingcap/docs-cn/issues?utf8=%E2

[2021-04-12 12:21] TomShawn commented on #6020
In dev/v5.0/v4.0, this content is in a different doc: https://docs.pingcap.com/tidb/dev/deploy-and-maintain-faq#what-is-the-processing-time-of-a-ddl-operation

[2021-04-14 03:14] HydraLee opened #6033 "error title"
File: [/tiup/tiup-component-cluster-prune.md](https://docs.pingcap.com/zh/tidb/stable/tiup-component-cluster-prune)

<img width="945" alt="image" src="https://user-images.githubusercontent.com/44083085/114649093-6edecf00-9d12-11eb-8b53-e4dfccd1af44.png">

error title .It should be "tiup cluster prune"

[2021-04-14 05:40] TomShawn commented on #6033
This typo is fixed in https://github.com/pingcap/docs-cn/pull/6014.

[2021-04-14 09:32] HydraLee opened #6035 "tiup Ctl pd"
File: [/pd-control.md](https://docs.pingcap.com/zh/tidb/v4.0/pd-control)

tiup ctl pd 按我的理解本质上调用的是pd-ctl

但是实际测试发现从v4.0.11开始
tiup clt pd 命令在使用的时候必须在ctl后面指定version,命令语法发生了变化

但是并没有在任何地方找到关于命令语法的变化

所以tiup ctl pd 语法的变化是tiup 语法变化还是pd-ctl语法变化?

应该需要将适当的语法修改贴到适当的位置

[2021-04-14 11:26] TomShawn commented on #6035
/assign @lucklove @lhy1024

[2021-04-14 11:37] lhy1024 commented on #6035
I guess there seems to be a change in tiup.
pd-ctl doesn't need the version info.

[2021-04-14 11:40] lucklove commented on #6035
Related issue: https://github.com/pingcap/tiup/issues/1190
xx-ctl (xx= pd, tikv, tidb .etc.) has the same issue with it.

[2021-04-15 06:45] #6033 closed

[2021-04-15 06:50] TomShawn commented on #6035
@HydraLee The issue is fixed in https://github.com/pingcap/docs-cn/pull/6036.

[2021-04-15 06:50] TomShawn commented on #6035
/close

[2021-04-15 06:50] #6035 closed

[2021-04-15 10:30] vrqq opened #6046 "建议补充最小系统基础配置"
## Change Request
翻看了中文文档的配置说明，发现缺少“分别配置pd, tikv, tidb并组合成最小系统”。

我觉得系统应逐层递进，从单个组件启动组装，到启动管理器自动组装多个组件，，是递进的，也就是说上层可以downgrade到下层。（拆解 ```tiup playground``` 和 ```tiup cluster```）

写了个blog，期待官方整理sample并合成进现有文档：“单机tikv-cluster配置方法”，"单机xxx配置方法" 等，作为配置集群的过渡。
[https://blog.vrqq.org/archives/757/](https://blog.vrqq.org/archives/757/)

[2021-04-19 08:54] cosven opened #6059 "reserve-space 的配置描述不准确"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://docs.pingcap.com/zh/tidb/stable/tikv-configuration-file
![image](https://use

[2021-04-19 08:56] cosven commented on #6059
cc @Little-Wallace

[2021-04-19 11:16] TomShawn commented on #6059
/assign @Little-Wallace @buggithubs

[2021-04-19 11:16] TomShawn commented on #6059
/assign @buggithubs

[2021-04-20 09:34] MyonKeminta opened #6087 "tiup-playground: The default num of TiFlash nodes is 0 in document but actually not zero"
File: [/tiup/tiup-playground.md](https://docs.pingcap.com/zh/tidb/dev/tiup-playground)

In the document:

But actually after executing `tiup playground nightly`, there is a tiflash node by default, which is not consistent with the document.

[code]

[2021-04-20 09:48] TomShawn commented on #6087
/assign @lucklove

[2021-04-25 07:58] TomShawn commented on #6020
This issue is addressed.

[2021-04-25 07:58] TomShawn commented on #6020
/close

[2021-04-25 07:58] #6020 closed

[2021-04-25 08:14] TomShawn commented on #6015
@overvenus This issue is resolved. We can close it now.
/close

[2021-04-25 08:14] #6015 closed

[2021-04-25 08:19] TomShawn commented on #5906
@HydraLee Thanks for feedback. This issue is resolved.
/close

[2021-04-25 08:19] #5906 closed

[2021-04-25 08:19] TomShawn commented on #5951
@HydraLee Thanks for feedback. This issue is resolved.
/close

[2021-04-25 08:19] #5951 closed

[2021-04-25 08:31] TomShawn commented on #5527
@lookhua 如未其他反馈，本 issue 将很快关闭。

[2021-04-25 08:32] TomShawn commented on #5358
@wenyq1 为更好管理仓库的 issue，现暂时关闭本 issue。如果您有细节要补充或有其他问题，欢迎重开 issue，谢谢！

[2021-04-25 08:32] TomShawn commented on #5358
/close

[2021-04-25 08:32] #5358 closed

[2021-04-25 08:38] TomShawn commented on #5751
@qbit-git 该文档有针对性地给出了三节点混合部署的配置建议。如果您需要看包含全部配置项的模板，建议看：[tidb/config.toml.example at master · pingcap/tidb](https://github.com/pingcap/tidb/blob/master/config/config.toml.example) 和 [tikv/config-template.toml at master · tikv/tikv](https://github.com/tikv/tikv/blob/master/etc/config-template.toml)

[2021-04-25 11:14] King-Dylan commented on #5959
/assign @lucklove

[2021-04-29 09:11] gogobody opened #6193 "性能调优参数不准确"
File: [/benchmark/benchmark-tidb-using-sysbench.md](https://docs.pingcap.com/zh/tidb/stable/benchmark-tidb-using-sysbench)
[如何用 Sysbench 测试 TiDB](
https://docs.pingcap.com/zh/tidb/stable/benchmark-tidb-using-sysbench) 中TiKV 配置：
以 40 GB 内存的虚拟机部署一个 TiKV 为例，其 block cache 建议配置如下:

而在所指向的[TiKV 内存参数性能调优](https://docs.pingcap.com/zh/tidb/stable/tune-tikv-memory-performance) 中指出

与前文描述不相符。

[2021-04-29 09:55] TomShawn commented on #6193
/assign @shuke987

[2021-05-06 12:33] rain-sumire commented on #4022
非常感谢

[2021-05-07 06:07] wjhuang2016 opened #6216 "Add document for CTE"
## Change Request

Add document for CTE, this issue is used for tracing.

[2021-05-07 06:08] wjhuang2016 commented on #6216
Please add this issue to the CTE project https://github.com/orgs/pingcap/projects/37

[2021-05-07 06:09] TomShawn commented on #6216
/assign @wjhuang2016

[2021-05-07 06:12] wjhuang2016 commented on #6216
@TomShawn you can update the `Projects` field on the right side.

[2021-05-07 06:16] TomShawn commented on #6216
I don't have the privilege to do so.
FIY @yikeke.

[2021-05-07 06:50] yikeke commented on #6216
@TomShawn Can you see the "+" button?
![image](https://user-images.githubusercontent.com/40977455/117409183-78d7a480-af43-11eb-9ad4-88f5a472d8b0.png)

[2021-05-11 07:48] Tian90coder opened #6233 "tidb官方文档是如何搭建的？"
如题，感觉官网文档很漂亮，想搭建一个类似的。

[2021-05-12 02:12] TomShawn commented on #6233
@Tian90coder 谢谢您的认可。可以请 @YiniXu9506 简单分享一下经验吗？谢谢~

[2021-05-17 12:58] tisonkun opened #6288 "improve - issue template mentions the mirror repo `pingcap/docs` for a sync sibling"
## Change Request

修改 issue template 提示 issue reporter 考虑到 https://github.com/pingcap/docs 下创建镜像问题，避免文档失去同步。

See also https://github.com/pingcap/docs/issues/5632

[2021-05-18 08:53] TomShawn commented on #6288
文档不会失去“同步”。我们通过 translation/doing、translation/done、translation/from-docs-cn、translation/from-docs、translation-no-need 等 PR 标签严格标识 PR 的对齐状态，会安排待对齐的 PR 有条不紊地对齐到另一语言的 repo 中，并会定期检查漏打标签漏对齐的 PR。PR 对齐快慢视 PR 优先级以及人手情况而定，但长期来看，文档增量更新的双语对齐是有条不紊的。如果有需要高优先级处理的 PR，请通过飞书联系我，我会尽快安排对齐和合并。

[2021-05-18 09:00] tisonkun commented on #6288
Thanks! 抱歉是我不理解我们的规则。

[2021-05-18 09:00] #6288 closed

[2021-05-31 02:49] huake1984 opened #6374 "单机部署第二个方法明显是没法成功部署的，官方不应该把文档改一下吗？"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

![image](https://user-images.githubusercontent.com/17938938/120132579-29f8f400-c1fd-11eb-9bc9-ef3802624f83.png)

如上图所示的这篇文档，按照官方的命令去做，很显然是没法成功安装的，日志如下：
terry@terry-VirtualBox:~/opt/tidb_cluster$ tiup cluster deploy tidb_test v5.0.1  ./topo.yaml --user root -p
Starting component `cluster`: /home/terry/

[2021-05-31 04:53] TomShawn commented on #6374
/assign @lilyjazz @King-Dylan @lucklove

[2021-05-31 07:35] TomShawn commented on #6374
@huake1984 非常感谢您的反馈。从您提供的报错看，您在配置集群拓扑时，各实例的 IP 地址都是用的文档中记录的 `10.0.1.1`。实际上 **`10.0.1.1` 仅为示例的 IP**，**您在实际部署时，需要使用您的实际 IP**。使用文档中的示例 IP 会报错的。

现已在 https://github.com/pingcap/docs-cn/pull/6375 中添加了示例 IP 的说明。希望能解决您的问题~

[2021-06-02 06:07] Jingyuma opened #6392 "关于与 MySQL 可重复读隔离级别的区别的描述"
File: [/transaction-isolation-levels.md](https://docs.pingcap.com/zh/tidb/stable/transaction-isolation-levels)

与 MySQL 可重复读隔离级别的区别
现在默认应该是使用悲观事务，会导致锁等待而不是事务回滚。
此处看起来需要修改。

[2021-06-02 06:08] TomShawn commented on #6392
/assign @cfzjywxk

[2021-06-02 06:09] TomShawn commented on #6392
@cfzjywxk PTAL how should we modify the doc. Thanks~

[2021-06-02 06:24] cfzjywxk commented on #6392
@TomShawn
The document needs to update.

[2021-06-02 07:55] TomShawn commented on #6392
@cfzjywxk PTAL: https://github.com/pingcap/docs-cn/pull/6393

[2021-06-02 08:12] TomShawn commented on #6392
@cfzjywxk is working on the transaction docs refactoring. By then, this issue can be addressed.

[2021-06-03 11:29] wjhuang2016 commented on #6216
Ref https://github.com/pingcap/docs-cn/pull/6220

[2021-06-08 09:13] imp2002 commented on #5585
emmmm确实是这几个排序规则啊。(⊙ˍ⊙)

- **v5.0.0:**
![image](https://user-images.githubusercontent.com/41513919/121156822-a0d86180-c87b-11eb-93f0-eeab4b4f4ef1.png)

- **v5.0.1:**
![image](https://user-images.githubusercontent.com/41513919/121158070-a84c3a80-c87c-11eb-89b1-9d63ac52d935.png)

[2021-06-08 11:11] wjhuang2016 commented on #5585
在配置文件中打开 https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#new_collations_enabled_on_first_bootstrap 后才能开启

[2021-06-09 02:44] #6216 closed

[2021-06-09 04:41] shadowpriest opened #6426 "ubuntu20.04的net.ipv4.tcp_tw_recycle = 0设置不了"
File: [/check-before-deployment.md](https://docs.pingcap.com/zh/tidb/stable/check-before-deployment)

在ubuntu20.04里，net.ipv4.tcp_tw_recycle = 0 设置不了。https://stackoverflow.com/questions/6426253/tcp-tw-reuse-vs-tcp-tw-recycle-which-to-use-or-both

net.ipv4.tcp_tw_recycle has been removed from Linux in 4.12

[2021-06-15 18:31] vrfancy opened #6454 "Wrong discription"
File: [/ticdc/manage-ticdc.md](https://docs.pingcap.com/zh/tidb/stable/manage-ticdc)

cdc cli --> tiup cdc cli instead of tiup ctl cdc cli

[2021-06-16 05:16] TomShawn commented on #6454
@amyangfei @leoppro PTAL whether the command mentioned needs to be corrected. Thanks!

[2021-06-16 13:48] tisonkun commented on #6216
subtask of  https://github.com/pingcap/tidb/issues/17472

[2021-06-17 08:06] flowbehappy opened #6466 "region-max-size and region-split-size should be not in 'raftstore' section"
File: [/tune-tikv-memory-performance.md](https://docs.pingcap.com/zh/tidb/stable/tune-tikv-memory-performance)

According to https://docs.pingcap.com/zh/tidb/stable/tikv-configuration-file#region-max-size

[2021-06-17 11:30] TomShawn commented on #6466
@flowbehappy These two configs are not in 'raftstore', but in 'coprocessor' section.
![image](https://user-images.githubusercontent.com/41534398/122388396-6d47b680-cfa2-11eb-9886-f7e85c52bdec.png)

[2021-06-21 07:01] cluyun opened #6477 "建议全局文本搜索下，将`登陆`改成`登录`"
1. What is the document directory for the problem?
[https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup#%E7%AC%AC-4-%E6%AD%A5%E6%89%A7%E8%A1%8C%E9%83%A8%E7%BD%B2%E5%91%BD%E4%BB%A4](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup#%E7%AC%AC-4-%E6%AD%A5%E6%89%A7%E8%A1%8C%E9%83%A8%E7%BD%B2%E5%91%BD%E4%BB%A4)
2. How would you like to improve it?
建议全局文本搜索下，将

[2021-06-21 08:14] zdjkea opened #6478 "tidb的log文件如何配置最大占用空间"
你好。最近安装TIDB。还不到一周的时间。tidb的日志就已经40G以上了。请问如何设置限制LOG日志空间， 要不然空间满了就会导致tidb异常

[2021-06-21 08:21] TomShawn commented on #6478
@zdjkea 您好，本 repo 为 TiDB 的文档仓库，本仓库 issue 仅用于反馈 TiDB 文档中的问题。如果您在 TiDB 使用过程中出现了问题，建议在 https://github.com/pingcap/tidb/issues 仓库下提 issue。

[2021-06-22 03:08] Auggie321 opened #6479 "tiup tools HA"
File: [/production-deployment-using-tiup.md](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup)

Questions about : does tiup tools could alive in mutilple nodes at the same time in one tidb cluster?

If i have a1,b1,c1,d1 node, a1 was tiup deploy node, b1,c1,d1 were tidb,tikv,pd node;

In case of a1 node down,  still need node have tiup could operation tidb cluster,  how do

[2021-06-22 03:22] Auggie321 commented on #6479
b1 node offline installed tiup compenent,  wanna use "tiup cluster check ./topology.yaml -uroot -p" command loading exist cluter topology.yml and operatiorn tidb cluster, but loading failed; it noticed some "Fail  port xxx is already in use";

sir, in case of tiup compenent node down, maybe there still have one node have tiup command maintenance it.

[2021-06-22 03:49] Auggie321 commented on #6479
a1 node(tiup component deploy node)
[code]

b1 node(tidb,tikv,pd node)
[code]

a1node
[code]

b1 node:
[code]

Manually modificate b1 node's with a1 node's tiup copy, then b1 node colud `tiup cluster list` too.

Is this would have some issues, i mean a1 node(236K    /root/.tiup/storage/cluster/clusters/tidb-test), some info will become;
if some one day a1 down, b1 use old info operate tidb, will c

[2021-06-22 03:55] Auggie321 commented on #6479
All i knew, use cron job sync a1 tiup node .tidb dir data to b1(or more) per mins.

Official about tiup HA whether there is a better way, or is there, is that I missed it

[2021-06-22 04:06] TomShawn commented on #6479
@Auggie321 Thanks for your feedback. Unfortunately, this is a documentation repository **dedicated to documentation issues ONLY**. If you have found any TiDB doc issue, welcome to raise it in this repo. If you have any issue related to TiUP usage, please raise your issue in https://github.com/pingcap/tiup/issues. Thanks!

[2021-06-22 04:37] Auggie321 commented on #6479
@TomShawn  Thank you. this issue could be closed now.

[2021-06-22 04:37] #6479 closed

[2021-06-23 06:32] alphasea90 opened #6498 "【TiDB SQL 语法详解】的链接打不开"
File: [/basic-sql-operations.md](https://docs.pingcap.com/zh/tidb/stable/basic-sql-operations)

[2021-06-23 07:11] TomShawn commented on #6498
@alphasea90 您好，请问文档里哪个链接打不开呢？我这边未发现文档中有死链，均能打开呢。

[2021-06-23 07:29] alphasea90 commented on #6498
https://pingcap.github.io/sqlgram/
这个网址
https://docs.pingcap.com/zh/tidb/stable/basic-sql-operations
在这个网址上，【TiDB SQL 语法详解】

[2021-06-23 07:34] TomShawn commented on #6498
经尝试，我和我同事在 WIFI 环境以及流量环境，在 macOS 系统和 Win10 系统上都能顺利打开 https://pingcap.github.io/sqlgram/。建议您检查下您的网络环境。

[2021-06-23 07:44] alphasea90 commented on #6498
是要梯子吗

[2021-06-23 07:49] TomShawn commented on #6498
不需要

[2021-06-23 08:02] alphasea90 commented on #6498
哦哦好

[2021-06-23 11:20] trickysky opened #6513 "tidb_gc_life_time 应为 tikv_gc_life_time"
File: [/dumpling-overview.md](https://docs.pingcap.com/zh/tidb/stable/dumpling-overview)

[2021-06-23 11:42] #6513 closed

[2021-06-23 11:42] trickysky commented on #6513
老版本为 tikv_gc_life_time 通过 update 方法修改, 新版本用 variable 的方式修改

[2021-07-05 06:49] #6477 closed

[2021-07-06 09:44] #6498 closed

[2021-07-08 03:14] winnerwyq opened #6636 "PD 管理范围"
PD  除了包括TiKV的数据分布信息收集和管理外，还应该包括TiFlash。

[2021-07-08 03:41] #6374 closed

[2021-07-09 10:02] sunsdy2018 opened #6654 "如何远程访问tidb？"
操作指南上https://docs.pingcap.com/zh/tidb/dev/quick-start-with-tidb#Linux描述了如何在本地模拟一个生产环境，按照说明完成了，但是如何从局域网其他机器访问TiDB？或者说如何开放TiDB远程访问？文档里连这种最起码的操作都不提，很让人不解

[2021-07-12 12:31] lilyjazz commented on #6654
你好，我看第五步「在主机的 xshell 中远程连接数据库，如下所示：」，这里图显示的主机名称 [lmj@192 ~] 还是和之前 VMware 的主机名 [lmj@192 ~] 一致。所以这里并不是从你本地机器连接到 tidb 的，还是用虚拟机连上了 tidb。

所以，建议你先映射 VMware 的 ip 和端口到本地主机，然后再尝试进行链接试试看。

[2021-07-16 06:02] chenyh8 opened #6684 "文件连接有误"
File: [/tidb-binlog/deploy-tidb-binlog.md](https://docs.pingcap.com/zh/tidb/stable/deploy-tidb-binlog)

使用 TiUP 部署 TiDB Binlog
推荐使用 TiUP 部署 TiDB Binlog，详细部署方式参考 TiUP 部署 TiDB Binlog。

注：
TiUP 部署 TiDB Binlog。目前这个的连接是 https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup
请更改

[2021-07-19 03:29] lijifeng007 opened #6699 "样例中的数据库名字是tpch,而实际的数据库名字是tpch_001"
File: [/tispark-overview.md](https://docs.pingcap.com/zh/tidb/v4.0/tispark-overview)

[2021-07-19 07:50] xhebox opened #6701 "add new HTTP status API schema_storage"
## Change Request

1. Describe what you find is inappropriate or missing in the existing docs.

pingcap/tidb#22859 added a new feature to the master, but there is no doc.

2. Describe your suggestion or addition.

3. Provide some reference materials (documents, websites, etc) if you could.

[2021-07-19 07:51] xhebox commented on #6701
/cc @jianzhiyao

[2021-07-19 09:30] TomShawn commented on #6699
@marsishandsome PTAL. Thanks!

[2021-07-21 05:25] #6684 closed

[2021-07-22 02:37] xuping962 opened #6714 "好多指标已经改掉了，你们文档貌似没有更新"
File: [/alert-rules.md](https://docs.pingcap.com/zh/tidb/v4.0/alert-rules)
例如PD_pending_peer_region_count  type是"pending-peer-region-count"} 但你们文档里是type="pending_peer_region_count"

[2021-07-22 05:19] rleungx commented on #6714
Thanks for your feedback. We will update this doc once https://github.com/tikv/pd/pull/3887 is merged.

[2021-07-29 04:32] Wismyluckstar opened #6756 "Repeatable Read 隔离级别是不允许出现不可重复读的"
File: [/optimistic-transaction.md](https://docs.pingcap.com/zh/tidb/v5.0/optimistic-transaction)

“MySQL 使用悲观事务模型，在执行 SQL 语句的过程中进行加锁并且其 Repeatable Read 隔离级别允许出现不可重复读，所以提交时一般不会出现异常”

 Repeatable Read 隔离级别是不允许出现不可重复读的，因为快照读的存在导致不会出现不可重复读，如果允许的那 Repeatable Read 隔离级别是没有意义的，只能说他在更新时（如：for update,更新后查询，查询并附值）提供了当前读所以避免了大部分异常。

[2021-07-29 06:00] TomShawn commented on #6756
@cfzjywxk PTAL, thanks!

[2021-07-30 03:23] xhebox commented on #6701
closed in #6706

[2021-07-30 03:23] #6701 closed

[2021-08-03 12:19] TonsnakeLin opened #6797 "MySQL RR隔离级别下两个事务在未提交状态下不能修改同一行"
文件：transaction-isolation-levels

“MySQL 可重复读隔离级别在更新时并不检验当前版本是否可见，也就是说，即使该行在事务启动后被更新过，同样可以继续更新” 该语句有错误。MySQL中RR隔离级别下如果事务一更新了某一行后未提交，事务二是无法更新这一行的（产生锁冲突），事务一提交后事务二才可以更改；反之如果事务一启动后没有对某行数据做修改，而事务二后启动但先对该行数据进行修改，此时事务一也无法修改。这个表现和TiDB是一致的。

[2021-08-04 03:01] TomShawn commented on #6797
@cfzjywxk PTAL, thanks!

[2021-08-10 06:44] hehechen opened #6832 "错别字"
File: [/tiup/tiup-reference.md](https://docs.pingcap.com/zh/tidb/stable/tiup-reference)
![image](https://user-images.githubusercontent.com/14118780/128820411-7fcdbc0d-8f68-46aa-a8ed-c932299854a6.png)
应该是”打印“

[2021-08-11 02:19] #6832 closed

[2021-08-12 08:22] Xiayanduo opened #6849 "网页上文档的ip跟github 上的配置不一致"
File: [/tiflash-deployment-topology.md](https://docs.pingcap.com/zh/tidb/stable/tiflash-deployment-topology)
![image](https://user-images.githubusercontent.com/16610366/129163627-aad9feb7-1cfe-4af7-b2c3-38dd57fe2915.png)

[2021-08-13 01:35] cfzjywxk commented on #6392
@you06
There are some inaccurate descriptions for the transaction and isolation overview document, PTAL if you have time.

[2021-08-13 01:49] TomShawn commented on #6849
@zanmato1984 PTAL whether we should unify the IP addresses. Thanks!
/cc @zanmato1984

[2021-08-13 01:49] TomShawn commented on #6849
/assign @zanmato1984

[2021-08-24 08:29] glkappe opened #6927 "Why abandon CM-Sketch"
Why is CM-Sketch deprecated? Explain the reason for the deprecation in the document and explain how it will affect when I change the version to v2.

https://docs.pingcap.com/tidb/dev/statistics

[2021-08-24 09:12] TomShawn commented on #6927
@winoros Could you help take a look? Thanks!

[2021-08-25 06:58] Defined2014 opened #6947 "添加tidb调用tikv rpc接口的相关文档"
## Change Request
1. Describe what you find is inappropriate or missing in the existing docs.
https://asktug.com/t/topic/123405

2. Describe your suggestion or addition.
增加相关文档

3. Provide some reference materials (documents, websites, etc) if you could.
None

[2021-08-25 06:58] Defined2014 commented on #6947
/assign

[2021-08-25 09:42] qqqdan opened #6951 "文档中的一个重要链接不对"
File: [/production-deployment-using-tiup.md](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup)

![image](https://user-images.githubusercontent.com/19526717/130767859-2939a8ce-5537-494f-a65a-90f4314a879f.png)
上图中的官网下载页面应该使用下面这个页面：
https://pingcap.com/zh/product#SelectProduct

[2021-08-25 10:50] #6951 closed

[2021-08-28 15:27] jessienxx opened #7012 "《使用 TiDB Lightning 从 MySQL SQL 文件迁移数据》中的TiDB Lightning 部署 的链接失效"
File: [/migrate-from-mysql-dumpling-files.md](https://docs.pingcap.com/zh/tidb/stable/migrate-from-mysql-dumpling-files)
目前链接指向https://docs.pingcap.com/zh/tidb/undefined/deploy-tidb-lightning，这个地址不存在，实际应该指向https://docs.pingcap.com/zh/tidb/stable/deploy-tidb-lightning

[2021-08-30 11:18] #6392 closed

[2021-08-30 13:49] yanggno opened #7038 "官方文档 TiKV 配置项 compaction-readahead-size 可能书写错误"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

* 官方 TiKV [配置文档](https://docs.pingcap.com/zh/tidb/dev

[2021-08-31 02:44] TomShawn commented on #7012
谢谢反馈。这篇文档此处链接确实指向的是 https://docs.pingcap.com/zh/tidb/stable/deploy-tidb-lightning。
![image](https://user-images.githubusercontent.com/41534398/131433138-751ffab2-8772-4bb2-86be-c1ecf68495fc.png)

[2021-09-01 04:56] #7038 closed

[2021-09-02 10:09] knull-cn opened #7070 "range columns was not describe"
File: [/partitioned-table.md](https://docs.pingcap.com/zh/tidb/stable/partitioned-table)
there was  described for list columns,but no range columns

[2021-09-03 02:16] TomShawn commented on #7070
/assign @crazycs520 @tiancaiamao
Could you please take a look? Thanks!

[2021-09-04 01:44] #7012 closed

[2021-09-08 07:26] yanggno opened #7087 "关于 TiKV 中 incremental-scan-speed-limit 配置项首次引入版本的问题"
File: [/tikv-configuration-file.md](https://docs.pingcap.com/zh/tidb/v5.0/tikv-configuration-file)

在[文档](https://docs.pingcap.com/zh/tidb/v5.0/tikv-configuration-file)中明确表示 incremental-scan-speed-limit 是由 v5.0 开始引入，但是在 v4.0 [文档](https://docs.pingcap.com/zh/tidb/v4.0/tikv-configuration-file)中，仍然可以找到 incremental-scan-speed-limit 配置项。该配置在哪一个版本开始引入，感觉文档的表述不清楚。

[2021-09-08 08:04] yanggno opened #7088 "关于 TiKV 性能调优文档中 grpc-concurrency 默认值的问题"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

* grpc-concurrency 默认值为4，但在 TiKV 配置项模板中，该配置项默认值为5

2.

[2021-09-10 10:44] ajunlonglive opened #7113 "TiDB的PDF文档未更新到最新版，停留在5.1，最新5.2"
File: [/explore-htap.md](https://docs.pingcap.com/zh/tidb/stable/explore-htap)

[2021-09-11 04:41] ajunlonglive opened #7115 "TiUP 调试 playground 启动tidb5.2报错 time zone错误"
系统版本 ubuntu16.04
运行环境 vmware 15

192.168.3.107:4000 ... ⠹
tidb quit: exit status 1
[2021/09/11 12:38:43.169 +08:00] [INFO] [grpclogger.go:69] ["Subchannel Connectivity change to READY"] [system=grpc] [grpc_log=true]
[2021/09/11 12:38:43.169 +08:00] [INFO] [grpclogger.go:69] ["Channel Connectivity change to READY"] [system=grpc] [grpc_log=true]
[2021/09/11 12:38:43.171 +08:00] [INFO] [ddl.go:331] [

[2021-09-13 08:03] #6947 closed

[2021-09-15 06:25] TomShawn commented on #7088
@Connor1996 PTAL whether the default value of grpc-concurrency should be changed to 5.
@en-jin19 Please follow up on this issue.
Thanks!

[2021-09-15 06:33] TomShawn commented on #7113
经检查，TiDB 的PDF 文档已更新至 v5.2 版。
![image](https://user-images.githubusercontent.com/41534398/133382455-55ee4e56-9afa-4f0c-86d2-b3465b2b4c29.png)
![image](https://user-images.githubusercontent.com/41534398/133382495-9c46952e-d203-4c1b-b97d-7576f582143f.png)

[2021-09-15 06:33] #7113 closed

[2021-09-15 06:35] TomShawn commented on #7115
@ajunlonglive 本仓库仅用于反馈 TiDB 文档问题。如果在使用 TiUP 过程中遇到问题，请在 [Issues · pingcap/tiup](https://github.com/pingcap/tiup/issues) 中反馈。

[2021-09-15 06:35] #7115 closed

[2021-09-15 06:45] Connor1996 commented on #7088
@TomShawn Yes, the default value of grpc-concurrency should be changed to 5

[2021-09-15 07:08] TomShawn commented on #7088
@en-jin19 Could you help create a PR to correct it? Thanks~

[2021-09-17 03:51] 15767637775 opened #7144 "关于TiCDC 支持同步大事务吗？有什么风险吗？的疑问"
File: [/ticdc/troubleshoot-ticdc.md](https://docs.pingcap.com/zh/tidb/stable/troubleshoot-ticdc)
3. 执行增量恢复，  是指在上游tidb增量备份，然后在下游tidb增量恢复吗？
意味着下游是mysql就没法同步大事务？

[2021-09-18 09:53] TomShawn commented on #7144
@leoppro PTAL and help confirm the question. Thanks!

[2021-09-23 04:14] Defined2014 opened #7160 "能否补充下测试用的HAProxy的机器规格"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.
在测试方案里面提到了HAProxy，但是在硬件配置里面没有看到HAProxy的规格，能否补充下？

2. P

[2021-09-24 07:56] #7088 closed

[2021-09-26 08:31] qiancai commented on #7160
@dbsid 可以帮忙看下吗？ 谢谢

[2021-09-26 14:00] dbsid commented on #7160
Haproxy 跟客户端程序在同一个机器，@Yui-Song 可以增加haproxy说明和配置

[2021-09-27 07:16] Yui-Song commented on #7160
请问在哪里回复，直接帖在这里吗？

[2021-09-27 14:04] dbsid commented on #7160
直接更新 benchmark 文档吧

[2021-09-30 10:50] Yui-Song opened #7239 "在v5.2，默认情况下，Placement Rules 特性是开启的"
## Error 报告

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. What is the document directory for the problem?

https://docs.pingcap.com/zh/tidb/stable/configure-placement-rules#%E5%BC%80%E5%90%AF

[2021-10-12 03:03] qiancai commented on #7239
@nolouch 可以请确认下 Placement Rules 特性默认开启时从哪个 TiDB 版本那边开始的吗？ 谢谢

[2021-10-13 03:17] TomShawn commented on #7087
This issue has been addressed.

[2021-10-13 03:17] #7087 closed

[2021-10-13 03:22] TomShawn commented on #6756
This issue has been addressed.

[2021-10-13 03:22] #6756 closed

[2021-10-13 09:36] yanggno opened #7273 "txn-entry-size-limit 配置项在 TiDB 文档中首次出现的版本应是 v4.0.10"
File: [/tidb-configuration-file.md](https://docs.pingcap.com/zh/tidb/v5.0/tidb-configuration-file)

v5.0 文档显示 txn-entry-size-limit 配置是 v5.0 版本首次引入，但在 [TiDB 配置项文档4.0](https://docs.pingcap.com/zh/tidb/v4.0/tidb-configuration-file) 中显示，该配置是在 v4.0.10 引入的。并且根据 Q&A 部门同学的[整理](http://tiqa.pingcap.net/dbconfig/version)，在 v4.0.10 版本开始已经可以查到该配置项。因此官方文档是否有误？

[2021-10-14 03:37] #7273 closed

[2021-10-14 03:46] King-Dylan opened #7274 "inspect-interval configuration have Incorrect describe"
File: [/releases/release-5.2.0.md](https://docs.pingcap.com/zh/tidb/stable/release-5.2.0)

TiKV 每隔一段时间会检测 Raftstore 线程的延迟情况，该配置项设置检测的时间间隔。默认值为 500ms。 -> TiKV 每隔一段时间会检测 Raftstore 组件的延迟情况，该配置项设置检测的时间间隔。当检测的延迟超过该时间，该检测会被记为超时。默认值为 500ms

[2021-10-18 11:22] #7274 closed, assigned to en-jin19

[2021-10-21 17:09] longlongago7777 opened #7328 "missing global variables declaration"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

下载并安装 TiUP：
curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh

安装 TiUP 的 cluster 组件：
tiup cluster

tiup安装单机步骤， 1，2中间还差一个：source .bash_profile

[2021-10-25 09:53] hecyxy opened #7337 "这个chunk是如何划分的呢，比如主键范围1到10亿，chunk-Size是1000，chunk就是[1,1001],[1001,2001],[2001,3001]这种么"
File: [/sync-diff-inspector/sync-diff-inspector-overview.md](https://docs.pingcap.com/zh/tidb/stable/sync-diff-inspector-overview)

[2021-10-27 07:13] RyanWei opened #7344 "Could you please review this sentence?"
File: [/tidb-computing.md](https://docs.pingcap.com/zh/tidb/stable/tidb-computing)

There is one sentence in this doc, feel a bit confusing。
符合要求的行的值并没有什么意义，实际上这里只需要有几行数据这个信息就行

Maybe you can state it more clear:
对于这个查询来说，即便是符合要求的行的值也没有什么意义，因为这个查询只需要知道有几行数据符合要求。

[2021-10-27 10:46] #7337 closed, assigned to 3pointer, hfxsd

[2021-11-01 07:03] fubinzh opened #7374 "Lightning configuration for post-restore.checksum and analyze need updated"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### 1. Minimal reproduce step (Required)
1. check lightning configuration documentation https://docs.pingcap.com/zh/tidb/dev/tidb-lightning-configuration

### 2. What did you expect to see? (Required)
From 4.0.8. checksum and analyze configuration default value should be as below (refer to This change refer to PR:

[2021-11-01 10:37] en-jin19 commented on #7344
@RyanWei 感谢您的反馈！可以帮忙确认来自 @tangenta 的修改建议吗？

[2021-11-01 13:24] TomShawn commented on #7344
@tangenta @RyanWei 这样改可以吗：此查询只要求返回符合要求行的数量，不要求返回这些行的值。

[2021-11-02 07:50] Zhang-Chang-yu opened #7383 "https://docs.pingcap.com/zh/tidb/stable/alert-rules#blacker_ping_latency_more_than_1s"
官方文档：
在 Grafana Blackbox Exporter dashboard 的 tcp 面板上检查是否有丢包。

实际：
TCP面板在 Node-exporter下

（文档中描述让客户产生质疑）

[2021-11-03 07:45] igoodful opened #7399 "对于 DDL 语句，会自动提交并且不能回滚。如果运行 DDL 的时候，正在一个事务的中间过程中，会先自动提交当前事务，再执行 DDL。"
File: [/transaction-overview.md](https://docs.pingcap.com/zh/tidb/stable/transaction-overview)

对于 DDL 语句，会自动提交并且不能回滚。如果运行 DDL 的时候，正在一个事务的中间过程中，会先自动提交当前事务，再执行 DDL。

针对这个描述，我感到困惑，我这边测试的时候，对同一张表的ddl语句执行后直接回滚了正在执行的事务，而不是提交正在执行的事务

[2021-11-04 08:23] viajarchen opened #7411 "参数有错"
File: [/configure-memory-usage.md](https://docs.pingcap.com/zh/tidb/stable/configure-memory-usage)
tidb_disql_scan_concurrency
应该是tidb_distql_scan_concurrency

[2021-11-04 08:45] Liuxiaozhen12 commented on #7411
Thanks for your feedback! @TomShawn PTAL, Thx!

[2021-11-04 11:33] #7374 closed

[2021-11-05 03:14] viajarchen opened #7418 "这个倍数数值是否有新的更新了？"
File: [/transaction-overview.md](https://docs.pingcap.com/zh/tidb/stable/transaction-overview)
“执行事务时 TiDB 进程的内存消耗大约是事务大小的 6 倍以上。”
这个6倍的放大是不是已经经过优化了？已经是2~3倍？

[2021-11-05 06:53] qiancai commented on #7418
@cfzjywxk 可以帮忙确认下吗？如果已经优化过了，请帮忙提个文档 PR 完善下描述。谢谢。

[2021-11-05 07:17] qiancai commented on #7399
@igoodful 可以描述下您的具体操作过程是什么样的吗？ 这段文档应该是指在同一个 session 内事务中途执行 ddl

[2021-11-08 15:30] #7239 closed

[2021-11-11 04:33] jennie-bv opened #7468 "TIDB V5.2.1 / Tiup cluster V1.5.6新增参数配置 txn-local-latches.enable: true reload 报错"
File: [/tidb-configuration-file.md](https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file)
将 enable 修改为 enabled 成功 reload；请问是文档的问题还是这版本不兼容
https://docs.pingcap.com/zh/tidb/stable/tidb-configuration-file#txn-local-latches

[2021-11-11 09:28] shichun-0415 commented on #7468
@jennie-bv 谢谢反馈，已经联系 @ekexium在帮忙看这个问题了。

[2021-11-11 09:44] shichun-0415 commented on #7468
@jennie-bv， 经 @ekexium 确认，enable 有误，正确应为 enabled，后面会提 PR 修改，谢谢两位！

[2021-11-11 16:32] #7468 closed

[2021-11-18 04:03] ayenller opened #7530 "窗口函数部分，未提及sum、count函数的支持"
## Change Request

**This repository is ONLY used to solve problems related to DOCS-CN.
For other issues (TiDB, TiKV, etc), please move to [other repositories](https://github.com/pingcap/).**

Please answer the following questions before submitting your issue. Thanks!

1. Describe what you find is inappropriate or missing in the existing docs.

窗口函数部分，未提及对部分汇总函数（如，sum、count函数）的支持，但实际目前已经支持。客户反馈手册中

[2021-11-18 16:04] aytrack opened #7548 "tidb has no documented table"
https://github.com/pingcap/docs-cn/blob/b5b33d994cf8e0d83d52fe532e55d67d0134736a/temporary-tables.md?plain=1#L167
[code]

[2021-11-20 03:35] hduyyg opened #7567 "TiDB 数据库快速上手指南 无法启动"
File: [/quick-start-with-tidb.md](https://docs.pingcap.com/zh/tidb/stable/quick-start-with-tidb)

文档需要更新，照着文档来根本安装不了。

1. tiup playground 报错
root@htj:~/.tiup/bin# tiup playground
Starting component `playground`: /root/.tiup/components/playground/v1.7.0/tiup-playground
Using the version v5.2.2 for version constraint "".

If you'd like to use a TiDB version other than v5.2.2, cancel and retry with t

[2021-11-20 04:12] eastfisher opened #7568 "sync-diff-inspector配置与master分支不匹配"
File: [/sync-diff-inspector/sync-diff-inspector-overview.md](https://docs.pingcap.com/zh/tidb/stable/sync-diff-inspector-overview)

如题, 使用最新的master分支编译的二进制文件的配置与文档中的docker配置格式不匹配.

[2021-11-22 01:50] aytrack commented on #7548
#7562 may closed this.

[2021-11-22 03:23] #7548 closed

[2021-11-23 09:48] chkinglee commented on #7568
附议。5.2.2版本的sync_diff_inspector与文档中的toml示例不匹配
Error: unknown keys in config file ./sync_diff_inspector.toml: [log-level chunk-size sample-percent use-checksum only-use-checksum use-checkpoint ignore-data-check ignore-struct-check fix-sql-file check-tables check-tables.schema check-tables.tables source-db source-db.host source-db.port source-db.user source-db.password source-db.instance-id target-db

[2021-11-24 02:03] pupillord opened #7638 "The wrong prmql"
## Error Report

There is an incorrect promql's syntax for  NODE_node_overload and NODE_cpu_used_more_than_80 rules.

The function `node_cpu` should be replaced with `node_cpu_seconds_total`.

File: [/alert-rules.md](https://docs.pingcap.com/zh/tidb/stable/alert-rules)

### What did you expect to see? (Required)
![image](https://user-images.githubusercontent.com/51103574/143158041-eb77fbcc-8051-42